<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:messages id="messages" showDetail="true" escape="false"/>
                
                <p:panel style="width:100%;height:100%">
                    
                    <p:dataGrid id="grid" value="#{menuResultsView.menuList}" var="item" style="width:100%;height:100%" rows="12" columns="3" rowsPerPageTemplate="6,12,16" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                        
                        <p:panel style="width:30%">
                            
                            <f:facet name="header">
                                <div align="center">
                                <h:outputText value="#{item.menu.nombre}"/>
                                </div>
                            </f:facet>
                            <p:panelGrid style="width:100%">
                                
                                <p:row>
                                    <p:column style="width:100%">
                            <p:imageSwitch effect="turnDown">
                                
                                <ui:repeat value="#{item.images}" var="image">
                                    <p:commandLink id="menuSelection" actionListener="#{menuResultsView.menuSelection(item.menu)}"> 
                                    <p:graphicImage cache="false" value="#{image}" style="width:100%" styleClass="content"/>
                                    </p:commandLink>
                                </ui:repeat>
                                
                            </p:imageSwitch>
                                    </p:column>
                                    </p:row>
                                
                                <p:row>
                                    
                                    <p:column style="width:100%">
                                <div align="center">
                                    <h:outputText value="Quantity: #{item.menuQuantity}"/>
                                </div>
                                    </p:column>
                                    </p:row>
                            </p:panelGrid>
                            <div align="center">
                            <p:commandLink>
                                
                                <p:ajax event="click" update=":form:messages,:form2:table" listener="#{cartController.addToCart(item.menu, 1)}"/>
                                
                                <p:graphicImage cache="false" style="width:30px;height:px" value="/images/cart.png"/>
                                
                            </p:commandLink>
                            </div>
                            <f:facet name="footer">
                                <div align="center">
                                <h:outputText value="Price :#{item.menu.precio}"/>
                                </div>
                            </f:facet>
                        </p:panel>
                        
                    </p:dataGrid>
                   
                    
                </p:panel>  
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
    <ui:define name="west-pos">
        <f:view>
            
            <h:form id="form2">
                
                <p:dataTable id="table" var="item" value="#{cartController.cart.cart}" style="width:100%;height:100%" rows="12" rowsPerPageTemplate="6,12,16" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
            
            <f:facet name="header">
                <div align="center">
                <h:outputText value="Shopping Cart"/>
                </div>
            </f:facet>
            
            <p:column>
                
                <f:facet name="header">
                    <div align="center">
                    <h:outputText value="Menu Name"/>
                    </div>
                </f:facet>
                
                
                <h:outputText value="#{item.name}"/>
                
            </p:column>            
            
            
            <p:column>
                
                <f:facet name="header">
                  
                    <div align="center">
                        
                        <h:outputText value="Quantity"/>
                        
                    </div>
                    
                </f:facet>
                
                <p:inputText id="quantity" value="#{item.quantity}" validatorMessage="You must type a valid quantity value" required="true" requiredMessage="Quantity cannot be null">
                                          
                    <p:ajax event="change" listener="#{menuResultsView.quantityChanged(item)}" process="@this" update=":form:messages,@this"/>
                    
                </p:inputText>
                
            </p:column>
            
        </p:dataTable>
                
                <p:commandButton value="index page" action="welcomeuser" type="submit" ajax="false"/>
                
            </h:form>
            
        </f:view>
       
        
    </ui:define>
    
</ui:composition>

