<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="products.js"/>
        
    </ui:define>
    
    <ui:define name="west-pos">
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">    
        
        <h:panelGrid columns="2">
            
            <p:panel id="panel1" widgetVar="panel1">
                
                   <p:dataList id="menu" widgetVar="menu" var="menuItem" value="#{menu.menuList}" type="ordered" itemType="none" paginator="true" rowsPerPageTemplate="10" rows="10" styleClass="paginated">
                
                    <f:facet name="header">
                        
                        <h:outputText value="Menu"/>
                        
                    </f:facet>
                        
                    <h:panelGrid columns="3">
                        
                        <h:outputText value="#{menuItem.menu.nombre}"/>
                        
                        <p:inputText value="#{menuItem.quantity}" placeholder="Quantity"/>
                        
                        <p:commandLink action="#{cartController.addToCart(menuItem.menu, menuItem.quantity)}" update=":form:shoppingCart">
                            
                            <p:graphicImage value="/images/cart.jpg"/>
                            
                        </p:commandLink>
                        
                        
                    </h:panelGrid>
                        
                
                
                </p:dataList>
                      
                
            </p:panel>
            
            <p:panel id="panel2" widgetVar="panel2">
                
                <p:dataList id="shoppingCart" widgetVar="shoppingCart" var="cart" value="#{cartController.cart.cart}" type="ordered" itemType="none" paginator="true" rowsPerPageTemplate="10" rows="10" styleClass="paginated">
              
                    <f:facet name="header">
                        
                        <h:outputText value="Shopping Cart"/>
                        
                    </f:facet>
                    
                    <h:panelGrid columns="3">
                        
                        <h:outputText value="#{cart.name}"/>
                        
                        <p:inputText value="#{cart.quantity}">
                        
                            <p:ajax update="price,shoppingCart"/>
                        
                        </p:inputText>
                        
                        <p:commandButton icon="ui-icon-closethick" action="#{cartController.removeFromCart(event, cart)}" update="price,shoppingCart"/>
                        
                        
                       
                        
                    </h:panelGrid>
                    
                       <f:facet name="footer">
                                
                                <h:panelGrid columns="2">
                                    
                                    <h:outputText value="Total Price: ">
                                        
                                     
                                        
                                    </h:outputText>
                                    
                                    <h:outputText id="price" value="#{cartController.price}">
                                    
                                           <f:convertNumber type="currency" currencyCode="COP"/>
                                        
                                    </h:outputText>
                                
                                   </h:panelGrid>
                                   
                            </f:facet>
                    
                </p:dataList>
                
            </p:panel>
            
        </h:panelGrid>
                
                 </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>