<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="content">
        
       
            <f:view>
                
                <h:form id="form">
                    
                         
                   <p:messages id="messages" showDetail="true" escape="false"/>
                        
              <p:panel style="width:100%;height:100%;border:none">
                         
                         <f:facet name="header">
                             <div align="center">
                          <h:outputText value="#{menuInfoView.menu.nombre}"/>
                             </div>
                        </f:facet>
                         
                    <p:panelGrid style="width:100%;height:100%">
                        
                        
                        <p:row>
                            
                            <p:column colspan="1" style="width:50%;height: 50%">
                            <p:imageSwitch style="width: 100%;height: 100%"  effect="fade" >
                                         
                                    <ui:repeat value="#{fileUploadBean.images}" var="image">
                                             
                                             <p:graphicImage cache="false" style="width: 100%;height: 100%" value="#{image}" styleClass="content"/>
                                             
                                         </ui:repeat>
                                         
                              </p:imageSwitch>
                                          
                            </p:column>
                            
                            <p:column  colspan="1" style="height: 50%;width:50%">
                                
                               
                                        
                                
                            </p:column>
                            
                        </p:row>
                        
                        <p:row>
                            
                            
                            <p:column colspan="2" style="width: 100%;height: 50%">
                                
                                
                                    
                                <p:dataGrid id="dataGrid" style="width:100%;height:100%" value="#{menuInfoView.products}" var="menuProduct"  rows="2" columns="3" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" rowsPerPageLabel="6,12,16">
                                        
                                        <f:facet name="header">
                                            <div align="center">
                                            <h:outputText value="Products"/>
                                            </div> 
                                        </f:facet>
                                        
                                    <p:panel id="dataPanel" style="width:30%">
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText id="dataPanelName" value="#{menuProduct.product.nombre}"/> 
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        <p:imageSwitch id="dataImageSwitch" effect="fade" style="width:100%;height:100%">
                                            
                                            <ui:repeat id="dataPanelRepeat" value="#{menuProduct.images}" var="images">
                                                
                                                <p:graphicImage cache="false" style="width:100%;height:100%" value="#{images}"/>
                                                
                                            </ui:repeat>
                                            
                                        </p:imageSwitch>
                                        
                                        <f:facet name="footer">
                                            <div align="center">
                                                
                                                <p:commandButton id="changeProduct" value="#{bundle['User.menuInfoChangeProducto']}" type="button">
                                                    <p:ajax event="click" update=":form:dataGrid:overlayTable" listener="#{menuInfoView.updateSimilarProductsList(menuProduct.product.idproducto)}"/>
                                                </p:commandButton>
                                                <p:overlayPanel id="overlayPanel" dynamic="true" style="width:600px" for="changeProduct" hideEffect="fade">
                                                   
                                                    <p:dataGrid id="overlayTable" style="width:600%" columns="3" value="#{menuInfoView.similarProductsList}" var="similar">
                                                        
                                                        <f:facet name="header">
                                                            <div align="center">  
                                                            <h:outputText value="Similar Products"/>
                                                            </div>
                                                        </f:facet>
                                                        
                                                        <p:panel  style="width: 200px">
                                                            
                                                            <f:facet name="header">
                                                                <div align="center">
                                                                    <p:commandLink> 
                                                                        
                                                                    <p:ajax event="click" update=":form:dataGrid:dataPanelName,:form:dataGrid:dataImageSwitch" listener="#{menuInfoView.changeMenuProduct(menuProduct.product, similar.product)}"/>    
                                                                    <h:outputText value="#{similar.product.nombre}"/>
                                                                    </p:commandLink>  
                                                                </div>
                                                            </f:facet>
                                             
                                                            <p:imageSwitch effect="fade">
                                                                
                                                                <ui:repeat value="#{similar.productImages}" var="similarImage">
                                                                    
                                                                    <p:graphicImage style="width: 100%" cache="false" value="#{similarImage}" styleClass="content"/>
                                                                    
                                                                </ui:repeat>
                                                                
                                                            </p:imageSwitch>
                                                            
                                                            <f:facet name="footer">
                                                                
                                                                <div align="center">
                                                                    
                                                                    <h:outputText value="Price to Change #{similar.price}"/>
                                                                    
                                                                </div>
                                                                
                                                            </f:facet>
                                                            
                                                        </p:panel>
                                                        
                                                    </p:dataGrid>
                                                    
                                                </p:overlayPanel>
                                            </div>
                                        </f:facet>
                                        
                                    </p:panel>
                                    
                                    </p:dataGrid>
                                    
                             
                                 
                            </p:column>
                            
                        </p:row>
                        
                       
                        
                    </p:panelGrid>
                <f:facet name="footer">
                            
                    <div align="center">
                        
                        <p:commandLink>
                            
                            <p:ajax event="click" update=":form2:table" listener="#{cartController.addToCart(menuInfoView.menu, 1)}"/>
                            
                            <p:graphicImage cache="false" style="width: 30px;height:30px" value="/images/cart.png"/>
                            
                        </p:commandLink>
                        
                    </div>
                            
                        </f:facet>
                    </p:panel>
                </h:form>
                
            </f:view>
            
                   
        
      
    </ui:define>
    
    <ui:define name="west-pos">
        
        <f:view>
            
            <h:form id="form2">
                
                <p:panel style="width:100%;height:100%">
                    
                    <p:dataTable scrollable="true" id="table" style="border:none;width:100%;height:100%" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginator="true" rows="12" rowsPerPageTemplate="6,12,16" value="#{cartController.cart.cart}" var="item">
                        
                        <p:column>
                            
                            <f:facet name="header">
                                
                                <h:outputText value="Menu"/>
                            </f:facet>
                            
                            <h:outputText value="#{item.name}"/>
                            
                        </p:column>
                        
                        <p:column style="border:none">
                            
                            <f:facet name="header">
                                
                                <h:outputText value="Quantity"/>
                                
                            </f:facet>
                            
                            <p:inputText id="quantity" size="5" value="#{item.quantity}">
                            
                                <p:ajax event="change" process="@this" listener="#{menuInfoView.quantityChanged(item)}" update=":form:messages,@this"/>
                            
                            </p:inputText>
                            
                        </p:column>
                        
                    </p:dataTable>
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>