<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        
    </ui:define>
    
    <ui:define name="content">
        <form method="post" action="https://stg.gateway.payulatam.com/ppp-web-gateway/">
        <input name="merchantId"    type="hidden"  value="500238"   />
        <input name="lng" value="es" type="hidden"/>
  <input name="accountId"     type="hidden"  value="500538" />
  <input name="description"   type="hidden"  value="Test PAYU"  />
  <input name="referenceCode" type="hidden"  value="TestPayU" />
  <input name="amount"        type="hidden"  value="3"   />
  <input name="tax"           type="hidden"  value="0"  />
  <input name="taxReturnBase" type="hidden"  value="0" />
  <input name="currency"      type="hidden"  value="COP" />
  <input name="signature"     type="hidden"  value="be2f083cb3391c84fdf5fd6176801278"  />
  <input name="test"          type="hidden"  value="1" />
  <input name="buyerEmail"    type="hidden"  value="test@test.com" />
  <input name="responseUrl"   type="hidden"  value="http://www.test.com/response" />
  <input name="confirmationUrl"    type="hidden"  value="http://www.test.com/confirmation" />
  <input name="Submit"        type="submit"  value="Enviar" />
</form>
        
    </ui:define>
    
    
</ui:composition>
