<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
         
    <ui:define name="head">
      
        <script>
       
         var panelGrid;

         window.onload=function init(){
                
         PF('imageSwitch').jq.show();
                
         $('table','#form').each(function(){
                    
         if($(this).attr('id').indexOf('imagePanelGrid')){
                       
         panelGrid=$(this);
                       
         panelGrid.hide();
                       
         }
                    
         });
          
                
        var button=$(PrimeFaces.escapeClientId('form:j_idt48:0:commandLink'));
                
        button.on('click',function(){
                
        if(PF('imageSwitch').jq.is(':visible')){

         PF('imageSwitch').jq.hide();
         
         panelGrid.show();
            
        }
        
        else{
          
     
         
          panelGrid.hide();
          
          PF('imageSwitch').jq.show();
            
        }
        
   
                  
              });
                
            }
            
        </script>
        
    </ui:define>
       
       <ui:define name="header-right-left-panel">                  
           
           <f:view>
           
               <h:form id="cartForm">
               
        <p:panelGrid columns="2">               
                <p:commandLink id="cart" action="Cart" partialSubmit="true" >
                                  
                    <p:graphicImage cache="false" width="20" height="20" value="/images/cart.png"/>
                                    
                </p:commandLink>
                
                                            
                      <h:outputText id="cartPrice" value="#{cartController.price}">
                                    
                                      <f:convertNumber type="currency" currencyCode="COP"/>
                                    
                      </h:outputText>
            
        </p:panelGrid>
                   
               </h:form>
               
           </f:view>
                   
    </ui:define>   
    
    <ui:define name="content">
        
        
        
     
            <f:facet name="header">
                
                <div align="center">
                
                <h:outputText value="#{bundle['User.ProductResultsTitle']}"/>
                
                </div>
                
            </f:facet>
            <f:view>
                
                <h:form id="form">
                    
                    <f:event type="preRenderView" listener="#{productsResults.preRenderView}"/>
                    
                    <p:messages showDetail="true" escape="false" id="messages"/>
                       <p:panel style="width:100%;height:100%">
            
            <p:dataGrid var="item"  rows="12" value="#{productsResults.results}" layout="grid" columns="3" rowsPerPageTemplate="6,12,16" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" style="width:100%;height: 100%">
                
               
                
                <p:panel >
                    
                    <f:facet name="header">
                       
                        <p:panelGrid columns='2' layout='grid'>
                           
                              <h:outputText value="#{item.product.nombre}"/>
                           
                              <p:commandLink id="commandLink">
                              <p:graphicImage style='width:20%'  value='/images/info.png' cache='false' styleClass='content'/>
                              </p:commandLink>
                        </p:panelGrid>
                        
                       
                        
                    </f:facet>
                    
                    <p:panel>
                    <div align="center">
                        
                    <p:imageSwitch effect="wipe" id='imageSwitch' widgetVar="imageSwitch">
                        
                        <ui:repeat value="#{item.images}" var="image">
                            <p:commandLink action="#{productsResults.selectProducto(item.product)}">
                            <p:graphicImage value="#{image}" cache="false" alt="#{image}" styleClass="content" style="width:100%;height:100%"/>
                            </p:commandLink>
                         </ui:repeat>
                        
                    </p:imageSwitch>
                        
                        <p:panelGrid style="width:100%;height:100%" columns='1' id='imagePanelGrid'>
                            
                            <p:panel style=" overflow: scroll" rendered="#{not empty item.product.description}">
                                
                                <h:outputText value="#{item.product.description}"/>
                                
                            </p:panel>
                            
                            <p:panelGrid columns="2" layout="grid">
                                
                                <h:outputText value="Price: "/>
                                
                                <h:outputText value="#{item.product.precio}"/>
                                
                            </p:panelGrid>
                            
                        </p:panelGrid>
                        
                    </div>
                        
                        <f:facet name="footer">
                            
                            <div align="center">
                                
                                <h:outputText value="Quantity: #{item.productQuantity}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                    </p:panel>
                    
                    <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandLink>
                                
                                <p:ajax event="click" update=":form2:table,:form:messages,:cartForm:cartPrice" listener="#{productsResults.addItemToCart(item.product, 1)}"/>
                                
                                
                                <p:graphicImage value="/images/cart.png" styleClass="content" cache="false" style="width:30px;height:30px"/>
                                
                            </p:commandLink>
                            
                        </div>
                        
                    </f:facet>
                </p:panel>
                
              
                
            </p:dataGrid>
                    
                    </p:panel>
        
            </h:form>
                
            </f:view>
        
        
    </ui:define>
        
    <ui:define name="west-pos">
        
        <f:view>
            
            <h:form id="form2">
               
                <p:dataTable value="#{cartController.cart.cart}" var="item" paginator="true" rows="12" scrollable="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="6,12,16" id="table">
            
                    <f:facet name="header">
                        
                        <div align="center">
                            
                            <h:outputText value="Shopping Cart"/>
                            
                        </div>
                        
                    </f:facet>
            
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="Product Name"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <h:outputText value="#{item.name}"/>
                        
                    </p:column>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="Quantity"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <p:inputText id="quantity" required="true" requiredMessage="You must type a valid quantity" value="#{item.quantity}">
                        
                            <p:ajax process="@this" event="change" listener="#{productsResults.checkInventory(item)}" update=":form:messages,@this,:cartForm:cartPrice"/>
                            
                        </p:inputText>
                        
                    </p:column>
                    
        </p:dataTable>
                
                <p:commandButton value="index page" action="welcomeuser" type="submit" ajax="false"/>
                
            </h:form>
            
        </f:view>
        
        
        
    </ui:define>
</ui:composition>
    
    
