<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <p:dataGrid style="width:100%;height:100%" paginator="true" value="#{userRatesPedido.pedidoRateList}" var="item" rows="2" columns="3" rowsPerPageTemplate="2 4 8" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                    
                    
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="Rate Deliveries"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <p:panel>
                            
                            <f:facet name="header">
                                
                                <div align="center">
                                    
                                    <h:outputText value="Pedido Id #{item.pedido.pedido.idPEDIDO}"/>
                                    
                                </div>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="1">
                            
                            <p:dataList value="#{item.pedido.itemList}" var="subitem" type="ordered">
                            
                                <p:panelGrid columns="2">
                                    
                                    <h:outputText value="#{subitem.name}"/>
                                    
                                    <h:outputText value="#{subitem.quantity}"/>
                                    
                                </p:panelGrid>
                            
                            </p:dataList>
                            
                                <div align="center">
                                    
                                    <p:rating value="#{item.rate}" stars="5">
                                    
                                        <p:ajax event="rate" listener="#{userRatesPedido.onRate}" process="@this">
                                        
                                         
                                        
                                        </p:ajax>
                                        <f:param name="selectedPedido" value="#{item.pedido.pedido.idPEDIDO}"/>
                                    </p:rating>
                                    
                                </div>
                                
                                </p:panelGrid>
                            
                            
                        </p:panel>
                    
                    </p:dataGrid>
                    
                </h:form>
                
            </f:view>
            
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>
