<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>  
   
        <h:outputScript library="javascript" name="productResults.js"/>
        
    </ui:define>
    
    <ui:define name="west-pos">
        
  
    </ui:define>
    
       <ui:define name="header-right-left-panel">                  
           
           <f:view>
               
               <h:form id="cartForm">
                  
                    <p:panelGrid columns="2">               
                <p:commandLink action="Cart" partialSubmit="true" >
                                  
                    <p:graphicImage cache="false" width="20" height="20" value="/images/cart.png"/>
                                    
                </p:commandLink>
                
                                            
                      <h:outputText id="cartPrice" value="#{cartController.price}">
                                    
                                      <f:convertNumber type="currency" currencyCode="COP"/>
                                    
                      </h:outputText>
            
        </p:panelGrid>
                   
               </h:form>
               
           </f:view>
           
       
           
    </ui:define>   
    
    <ui:define name="content">
           
            <h:form id="form">
                
                <p:growl escape="false" showDetail="true" id="messages"/>
                
                <f:event type="preRenderView" listener="#{sucursal.preRenderView}"/>
                
                 <p:panel id="panel" widgetVar="panel" style="width: 100%;height: 100%"> 
                     
                <h:inputHidden id="latitude" value="#{sucursal.latitude}"/>
                
                <h:inputHidden id="longitude" value="#{sucursal.longitude}"/>
                
                    
                <p:panelGrid id="googlePanelGrid" columns="3" layout="grid">
                
                    <p:outputPanel>
                        
                        <p:imageSwitch effect="fade">
                            
                            <ui:repeat value="#{sucursal.sucursalImages}" var="image">
                                
                                <p:graphicImage value="#{image}" cache="false" styleClass="content" style="width:30%"/>
                                
                            </ui:repeat>
                            
                        </p:imageSwitch>
                        
                    </p:outputPanel>
                    
                    <p:graphicImage cache="false" styleClass="content" style="width:30%" value="/images/open.jpg" rendered="#{sucursal.isOpen}"/>
                    
                    <p:graphicImage cache="false" styleClass="content" style="width:30%" value="/images/closed.jpg" rendered="#{!sucursal.isOpen}"/>
                    
                    <p:gmap id="map" widgetVar="map" center="#{sucursal.latitude},#{sucursal.longitude}" zoom="15" type="roadmap"  model="#{sucursal.model}">
                        
                        <p:ajax event="overlaySelect" listener="#{sucursal.onMarkSelect}"/>
                        
                        
                    </p:gmap>
                    
                   
                      </p:panelGrid>
                    
                <p:panelGrid id="panelGrid" columns="2" layout="grid" style="width:100%">
                    
                    <p:dataGrid layout="grid" paginator="true" columns="3" rowsPerPageTemplate="1" rows="1" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" value="#{sucursal.products}" var="sucursalProduct">
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="Products"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <p:panel>
                            
                            <f:facet name="header">
                                
                                <div align="center">
                                    
                                    <h:outputText value="#{sucursalProduct.product.nombre}"/>
                                    
                                </div>
                                
                            </f:facet>
                            
                            <div align="center">
                                
                                <p:graphicImage cache="false" styleClass="content" style="width: 100%" value="#{sucursalProduct.image}"/>
                                
                            </div>
                            
                            <f:facet name="footer">
                                
                                <div align="center">
                                    
                                    <p:commandLink>
                                        
                                        <p:ajax event="click" listener="#{sucursal.addToCart(sucursalProduct)}" update=":form:messages,:cartForm:cartPrice"/>
                                        
                                        <p:graphicImage cache="false" styleClass="content" style="width:10%" value="/images/cart.png"/>
                                        
                                    </p:commandLink>
                                    
                                </div>
                                
                            </f:facet>
                            
                        </p:panel>
                        
                    </p:dataGrid>
                    
                </p:panelGrid>
               
               
            </p:panel>  
                
            </h:form>
            
            
        
        
    </ui:define>
    
</ui:composition>