<ui:composition  template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name='head'>
        
    </ui:define>
    
    <ui:define name='content'>
       
        <p:panel style='width:100%;height:100%'>
            
            <f:view>
                
                <h:form id='form'>
                    
                    <div align='center'>
                        
                        <h:outputText value='Please Check your mail and confirm your account'/>
                        
                    </div>
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>