
<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
 <f:facet name="first">
     
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="-1" />
      
</f:facet>
        
 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUD2QOeW4uEpaBBqDb0PZaDaNybgDSik0"></script>

<h:outputScript library="javascript" name="distancepoints.js"/>

<style>

    .ui-autocomplete-input{
        
     
  width: 430%;
        
    }
   
    
</style>


    </ui:define>
    
        <ui:define name="content-header">
        
          
            
            <p:panelGrid style="width:100%">
                
                <p:row>
                    
                    <p:column style="width:80%">
                        
                        <h:form id="form">

                      <h:inputHidden  id="latitude" value="#{welcomeUser.latitude}"/>
                    
                      <h:inputHidden id="longitude" value="#{welcomeUser.longitude}"/>
                      
                             
                    <p:panelGrid style="width:100%"  >
                        
                        <p:row style='width:100%'>
                            
                            <p:column style="width:80%">
                                
                        <p:autoComplete style=" border-radius: 100%;" widgetVar="autoComplete"  id='search' maxlength="30" value="#{welcomeUser.search}" placeholder="#{bundle['welcomeUser.search']}" maxResults='5'  completeMethod="#{welcomeUser.autoCompleteMethod}">
                        <p:ajax event="itemSelect" listener="#{welcomeUser.ajaxMethod}" update=":form2:messages"/>
                       </p:autoComplete>
                                
                            </p:column>
                            
                            <p:column style="width:20%">
                                
                                <p:commandButton  icon="ui-icon-search" ajax="false" type="submit" action="#{welcomeUser.executeSearch}">

                    
                                </p:commandButton>
                                
                            </p:column>
                            
                            
                        </p:row>

                          
                    </p:panelGrid>
                      
               </h:form>
                        
                    </p:column>
                    
                    <p:column style="width:20%">
                        
                        <p:panelGrid>
                            
                            <p:row>
                                
                                <p:column>
                                
                            <p:commandLink action="Cart" partialSubmit="true" >
                                  
                    <p:graphicImage cache="false" style="width:20%" value="/images/cart.png"/>
                                    
                            </p:commandLink>
                                
                                </p:column>
                                    
                            </p:row>
                            
                            <p:row>
                                
                                <p:column>
                                
                            <h:outputText value="#{cartController.price}">
                                    
                 <f:convertNumber type="currency" currencyCode="COP"/>
                                    
                            </h:outputText>
                                
                                </p:column>
                                    
                            </p:row>
                            
                        </p:panelGrid>
               
                        
                    </p:column>
                    
                </p:row>
                
            </p:panelGrid>
            
                  
        
        </ui:define>
          
     
   
    
    <ui:define name="east-pos">
        <f:view>
            
            <h:form id="rigthForm">
              
                <p:panelGrid columns="1" style="width:100%" >
                     
                     <f:facet name="header" >
                         
                         <h:outputText value="Completion : #{welcomeUser.accountCompletion}%" style="color:#{welcomeUser.isComplete}"/>
                         
                     </f:facet>
                     
            <p:row>
            <p:column>
                
                <p:graphicImage cache="false" value="#{welcomeUser.rootImage}" style="width:100%;height:50%"/>
                
            </p:column>
            </p:row>
            
                     <p:row>
                         <p:column>
                         <div align="center">
                             
                             <p:commandLink value="Edit Account" type="submit" ajax="false" action="AccountEdition"/>
                             
                         </div>
                             
                            </p:column>
                         
                     </p:row>
                     
            <p:row>
                
                <p:column>
                    
                    <div align="center">
                        
                        <p:commandLink id="deleteAccount" ajax="false" type="submit" action="#{welcomeUser.deleteAccount}" value="Delete Account"/>
                        
                    </div>
                    
                </p:column>
                
            </p:row>
                     
                     <p:row>
                         
                         <p:column>
                             <div align="center">
                             <p:commandLink value="Mis Pedidos" type="submit" action="Pedidos" ajax="false"/>
                             </div>
                         </p:column>
                         
                     </p:row>
        </p:panelGrid>
                
            </h:form>
            
        </f:view>
       
        
    </ui:define>
    
    
    <ui:define name="west-pos">
        
        <f:view>
            
            <h:form id="west-form">
                
                <p:panel id="westPanel" style="height:90%">
                    
                    <p:scrollPanel style="width:100%;height:100%" mode="native">
                    
                    <p:panelMenu    model="#{welcomeUser.menuModel}" >
                        
                       
                        
                    </p:panelMenu>
                        
                    </p:scrollPanel>
                    
                </p:panel>
                
                <p:panel style="height:10%">
                    
                    <p:panelGrid>
                        
                        <p:row>
                            
                            <p:column>
                                <div align="center">
                                <p:commandLink value="#{bundle['EdenFinalUser.UpdateInfo']}"/>
                                </div>
                            </p:column>
                            
                        </p:row>
                        
                        <p:row>
                            
                            <p:column>
                                <div align="center">
                                    <p:commandLink value="#{bundle['EdenFinalUser.Logout']}">
                                    
                                        <p:ajax event="click" listener="#{welcomeUser.logout}" update="@all"/>
                                    
                                    </p:commandLink>
                                </div>
                            </p:column>
                            
                        </p:row>
                        
                    </p:panelGrid>
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
    <ui:define name="content">
        

        
           <h:form id="form2">
               
            <p:growl autoUpdate="true" id="messages" escape="false"/>
     
            <f:event type="preRenderView" listener="#{welcomeUser.preRenderView}"/>
 
            
           </h:form>
        
        
    </ui:define>
    
</ui:composition>
    
    
    