<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:define name="head">
      
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> 
        
        <h:outputScript library="javascript" name="welcomeUser.js"/>
        
   
       
        
     <script type="text/javascript">
        function handleMessage(facesmessage) {
            facesmessage.severity = 'info';
 
            PF('growl').show([facesmessage]);
            
            updateOrders();
        }
        
        function handleChat(data){
       
         PF('dialog').jq.find('.ui-dialog-title').text(data.title);
         
         
         PF('dialog').jq.find('.ui-dialog-content').text(data.content);
         
         document.getElementById('username').value=data.user;
         
         PF('dialog').show();
       
       
        /*
       $.each(data,function(index,key){
           
      
           
       });
           
      
        
         PF('dialog').jq.find('.ui-dialog-title').text(data.title);
         
         PF('dialog').jq.find('.ui-dialog-content').text(data.content);
         
         document.getElementById('username').value=data.username;
         
         PF('dialog').show();
        
        */
         
            
        }
        
</script>
        
       </ui:define>
    
    <ui:define name="west-pos">
        
        <p:panel widgetVar="westPanel">
            
            <f:view>
                
                <h:form id="westForm">
                    
                    <h:outputText id="out" value="#{pedidoController.test}"/>
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
    <ui:define name="east-pos">
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel widgetVar="contentPanel" style="width:100%;height:100%">
          
            <f:view>
                
                <h:form id="form">
                    
                    <p:remoteCommand name="updateOrders" actionListener="#{pedidoController.updateOrders}" update="@form" delay="5000" oncomplete="PF('tabView').select(0)"/>
            
                    <input type="hidden" id="latitude" name="latitude"/>
                    
                    <input type="hidden" id="longitude" name="longitude"/>
                    
                             <p:dialog widgetVar="mapDialog" >
                        
                                 <p:gmap id="gMap" widgetVar="gMap"   center="4.5981,74.0758" zoom="15" type="roadmap" model="#{pedidoController.mapModel}"/>                   
                       
                        
                                           
                                        </p:dialog>
                    
                    <input type="hidden" id="username" name="username"/>
                    
                    <p:confirmDialog id="dialog" widgetVar="dialog" global="true" severity="alert"  closable="true">
                        
                        <p:panelGrid columns="2" layout="grid">
                            
                            <p:commandButton icon="ui-icon-check" styleClass="ui-confirmdilog-yes" value="#{bundle['confirmDialog.yesButton']}">
                            
                                <p:ajax event="click" listener="#{pedidoController.goChat}"/>
                            
                            </p:commandButton>
                            
                            <p:commandButton icon="ui-icon-close" styleClass="ui-confirmdialog-no" value="#{bundle['confirmDialog.noButton']}" onclick="PF('dialog').hide()"/>
                            
                        </p:panelGrid>
                        
                    </p:confirmDialog>
                    
                    <f:event type="preRenderView" listener="#{pedidoController.preRenderView}"/>
             
                        <p:growl widgetVar="growl" escape="false" showDetail="true"/>
 
                        <p:socket channel="#{pedidoController.channel}" onMessage="handleMessage"/>
            
                        <p:socket channel="#{pedidoController.chatChannel}" onMessage="handleChat"/>
                    
                       <p:tabView id="tabView" style="width:100%;height:100%"   widgetVar="tabView">
                        
                        <p:ajax event="tabChange" listener="#{pedidoController.tabChanged}" process="@this" update="@this"/>
            
                        <p:tab title="Pending">
                            
                            <p:panel style="width:100%;height:100%">
                            
                            <p:dataGrid style="width:100%;height:100%" id="processingGrid" var="item" value="#{pedidoController.pedidoList}" columns="3"
        rows="3" paginator="true" 
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="3,6,9">     
                                <f:facet name="header">
                                    
                                    <h:outputText value="#{bundle['welcomeWorker.pedido']}"/>
                                    
                                </f:facet>
                                
                                <p:panel>
                                   
                                    <f:facet name="header">
                                        
                                        <h:outputText value="Pedido Id: #{item.pedido.idPEDIDO}"/>
                                        
                                    </f:facet>
                                    
                                    <p:dataTable id="table" value="#{item.itemList}" var="itemCar" scrollable="true">
                                        
                                        
                                        <p:column>
                                            
                                            <f:facet name="header">
                                                <h:outputText value="Product"/>
                                            </f:facet>
                                             
                                            <h:outputText value="#{itemCar.name}"/>
                                            
                                        </p:column>
                                        
                                        
                                        <p:column>
                                            
                                            <f:facet name="header">
                                               
                                                <h:outputText value="Quantity"/>
                                                
                                            </f:facet>
                                            
                                                <h:outputText value="#{itemCar.quantity}"/>
                                    
                                        </p:column>
                                       
                                        
                                        <f:facet name="footer">
                                            
                                            <div align="center">
                                                
                                                <p:selectOneMenu value="#{item.pedido.pedidoStatestateId.stateId}">
                                                    
                                                    <p:ajax event="change" process="@this" update=":form:tabView:processingGrid" listener="#{pedidoController.pedidoStateChanged(event, item.pedido,'Processing')}"/>
                                                    
                                                    <f:selectItems value="#{pedidoController.pedidoStateController.pedidoStateList}" var="pedidoState" itemValue="#{pedidoState.stateId}" itemLabel="#{pedidoState.state}"/>
                                                    
                                                </p:selectOneMenu>   
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        
                                    </p:dataTable>
                                    
                                    <f:facet name="footer">
                                            
                                        <p:panelGrid columns="4" >
                                        
                                        <h:outputText value="#{item.pedido.direccion.TYPEADDRESSidTYPEADDRESS.typeAddress} #{item.pedido.direccion.primerDigito} ##{item.pedido.direccion.segundoDigito}-#{item.pedido.direccion.tercerDigito} #{item.pedido.direccion.adicional}"/>
                                         
                                        <h:panelGroup>
                                            
                                            <p:spacer style="width:100%"/>
                                            
                                        </h:panelGroup>
                                        
                                        
                                       
                                        
                                        <p:commandButton id="mapButton" widgetVar="mapButton" value="#{bundle['worker.OrdersViewInMap']}">
                                        
                                            <p:ajax event="click" listener="#{pedidoController.viewMap(item.pedido.direccion)}" update=":form:gMap" oncomplete="resizeMap()"/>
                                        
                                        </p:commandButton>
                                        
                         
                                        </p:panelGrid>
                                        
                                        </f:facet>
                                    
                                </p:panel>
                               
                                
                            </p:dataGrid> 
                                
                            </p:panel>
                            
                        </p:tab>
                        
                       
                        <p:tab title="Processing">
                            
                          
                            
                                <p:dataGrid id="onGoingGrid" layout="grid" var="item" value="#{pedidoController.pedidoList}" columns="3"
        rows="12" paginator="true" 
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="6,12,16">     
                                
                                   
                                    <p:scrollPanel>
                                    
                                    <f:facet name="header">
                                        
                                        <h:outputText value="Id Pedido: #{item.pedido.idPEDIDO}"/>
                                        
                                    </f:facet>
                                    
                                    <p:panelGrid columns="1">
                                        
                                        <p:dataGrid columns="1" value="#{item.itemList}" var="cartItem">
                                            
                                            <p:panelGrid columns="2">
                                                
                                                <h:outputText value="#{cartItem.name}"/>
                                                
                                                <h:outputText value="#{cartItem.quantity}"/>
                                                
                                               
                                                
                                            </p:panelGrid>
                                            
                                        </p:dataGrid>
                                        
                                        <f:facet name="footer">
                                            
                                              <div align="center">
                                                        
                                                        <p:selectOneMenu value="#{item.pedido.pedidoStatestateId.stateId}">
                                                           <p:ajax event="change" process="@this" update=":form:tabView:onGoingGrid" listener="#{pedidoController.pedidoStateChanged(event, item.pedido,'On Going')}"/> 
                                                            
                                                            <f:selectItems value="#{pedidoController.pedidoStateController.pedidoStateList}" var="pedidoState" itemValue="#{pedidoState.stateId}" itemLabel="#{pedidoState.state}"/>
                                                            
                                                        </p:selectOneMenu>
                                                        
                                                    </div>
                                            
                                        </f:facet>
                                        
                                    </p:panelGrid>
                                    
                                    <f:facet name="footer">
                                        
                                       <h:outputText value="#{item.pedido.direccion.TYPEADDRESSidTYPEADDRESS.typeAddress} #{item.pedido.direccion.primerDigito} ##{item.pedido.direccion.segundoDigito}-#{item.pedido.direccion.tercerDigito} #{item.pedido.direccion.adicional}"/>
                                         
                                    </f:facet>
                                </p:scrollPanel>
                                
                                
                            </p:dataGrid>
                            
                        </p:tab>
                        
                         <p:tab title="Delivered">
                             <p:scrollPanel>
                             <p:dataGrid id="deliveredGrid" paginator="true" rows="4" columns="3" value="#{pedidoController.pedidoList}" var="item" rowsPerPageTemplate="4,8,16" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                                 
                                 <p:panel>
                                     
                                     <f:facet name="header">
                                         
                                         <h:outputText value="Id Pedido: #{item.pedido.idPEDIDO}"/>
                                         
                                     </f:facet>
                                     
                                           <p:panelGrid columns="1">
                                        
                                        <p:dataGrid columns="1" value="#{item.itemList}" var="cartItem">
                                            
                                            <p:panelGrid columns="2">
                                                
                                                <h:outputText value="#{cartItem.name}"/>
                                                
                                                <h:outputText value="#{cartItem.quantity}"/>
                                                
                                               
                                                
                                            </p:panelGrid>
                                            
                                        </p:dataGrid>
                                        
                                        <f:facet name="footer">
                                            
                                              <div align="center">
                                                        
                                                        <p:selectOneMenu value="#{item.pedido.pedidoStatestateId.stateId}">
                                                           <p:ajax event="change" process="@this" update=":form:tabView:deliveredGrid" listener="#{pedidoController.pedidoStateChanged(event, item.pedido,'Delivered')}"/> 
                                                            
                                                            <f:selectItems value="#{pedidoController.pedidoStateController.pedidoStateList}" var="pedidoState" itemValue="#{pedidoState.stateId}" itemLabel="#{pedidoState.state}"/>
                                                            
                                                        </p:selectOneMenu>
                                                        
                                                    </div>
                                            
                                        </f:facet>
                                        
                                    </p:panelGrid>
                                     
                                     
                                     <f:facet name="footer">
                                         
                                              <h:outputText value="#{item.pedido.direccion.TYPEADDRESSidTYPEADDRESS.typeAddress} #{item.pedido.direccion.primerDigito} ##{item.pedido.direccion.segundoDigito}-#{item.pedido.direccion.tercerDigito} #{item.pedido.direccion.adicional}"/>                                 
                                         
                                     </f:facet>
                                 </p:panel>
                                 
                             </p:dataGrid>
                            </p:scrollPanel>
                        </p:tab>
                      
                        
                    </p:tabView>
                     
            <p:commandButton value="Test Channel" actionListener="#{pedidoController.testSocket}"/>
            
            <p:commandButton value="Test Chat" actionListener="#{pedidoController.testChat}">
            
                <f:param name="parameter"  value="Hello Luis"/>
            
            </p:commandButton>
                 
            <p:commandButton value="Context Path" onclick="alert('#{request.contextPath}')"/>
            
            <h:outputText id="out" value="#{pedidoController.data}" style="font-size:16px" styleClass="ui-widget display" />
            
                </h:form>
                
            </f:view>
           
        
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>