<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="welcomeUser.js"/>
        
        
    </ui:define>
    
   
    
    <ui:define name="east-pos">
        
        
    </ui:define>
    
    <ui:define name="content">
     
         <p:panel widgetVar="contentPanel">
            
             <f:view>
                 
                 <h:form id="form">
                     
                     <f:event type="preRenderView" listener="#{welcomeWorker.preRenderView}"/>
                     
                     <p:panel style="width:100%;height:100%">
                         
                         
                         <p:panelMenu>
                             
                             <p:submenu expanded="false" label="#{bundle['welcomeWorker.Branches']}" id="menu" style="width:40%"/>
                             
                         </p:panelMenu>
                         
                       
                         
                     </p:panel>
                     
                 </h:form>
                 
                 
             </f:view>
            
            
        </p:panel>
        
        
    </ui:define>
    
    
    
</ui:composition>