<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="franchiseAdministratorSearchResult.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <h:inputHidden id="showDialog" value="#{selectionSearchView.showDialog}"/>
                
                <p:messages id="messages" showDetail="true"/>
                
                <p:dialog widgetVar="dialog" closable="true" showEffect="fade" hideEffect="fade">
                    
                    <h:outputText value="PartnerShip Request Sent"/>
                    
                </p:dialog>
                
                <p:panelGrid id="panelGrid" style="border:black; vertical-align:  top">
                    
                    <p:row>
                        
                        <p:column id="firstColumn" style="width:30%;border: black">

                          
                            <p:panelGrid columns="1" style="vertical-align: top">
                            
                            <p:outputPanel style="vertical-align:top">
                                
                                <p:graphicImage style="width:100%" styleClass="content" cache="false" value="#{selectionSearchView.franchise.image}"/>
                                
                            </p:outputPanel> 
                             
                            </p:panelGrid>
        
                            <p:panelGrid columns="1" layout="grid" style="text-align: center">
                                
                                <h:panelGroup style="display:block; text-align: center">
                                
                                <p:commandLink  id="partnershipLink">

                                    <p:ajax event="click" listener='#{selectionSearchView.createPartnerShip}' onsuccess="showDialog()" update="messages"/>
                                
                                </p:commandLink>
                                    
                                 </h:panelGroup>
                                
                                <h:panelGroup style="display:block; text-align:center">
                                
                                <p:commandLink type="submit" ajax="false" value="#{bundle['franchiseAdministratorSelection.Statistics']}" action="statistics"/>
                                
                                </h:panelGroup>
                                
                                <h:panelGroup style="display:block; text-align:center">
                                    
                                    <p:commandLink id="orderLink">
                                    
                                   
                                    
                                    </p:commandLink>
                                    
                                </h:panelGroup>
                                
                            </p:panelGrid>
                            
                            
                        </p:column>
                        
                        <p:column id="secondColumn" style="width:70%;border :black" >
                            
                            <p:panelGrid columns="1">
                            
                            <p:dataGrid paginator="true" layout="grid" columns="4" rows="1" rowsPerPageTemplate="1" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" value="#{selectionSearchView.products}" var="item">
                                
                                <p:panel style="border :black">
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{item.product.nombre}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <p:imageSwitch effect="fade">
                                        
                                        <ui:repeat value="#{item.images}" var="photo">
                                        
                                            <p:graphicImage cache="false" styleClass="content" value="#{photo}" style="width:100%"/>
                                        
                                        </ui:repeat>
                                        
                                    </p:imageSwitch>
                                    
                                </p:panel>
                                
                            </p:dataGrid>
                            
                                <p:dataGrid rendered="#{selectionSearchView.showMenu()}"  paginator="true" rows="1" rowsPerPageTemplate="1" columns="4" layout="grid" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" value="#{selectionSearchView.menuCollection}" var="item">
                                    
                                    <p:panel>
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText value="#{item.menu.nombre}"/>
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        <p:imageSwitch effect="fade">
                                            
                                            <ui:repeat value="#{item.images}" var="menuImage">
                                            
                                            <p:graphicImage cache="false" styleClass="content" value="#{menuImage}" style="width:100%"/>
                                            
                                            </ui:repeat>
                                            
                                        </p:imageSwitch>
                                        
                                    
                                    </p:panel>
                                    
                                </p:dataGrid>
                                
                            </p:panelGrid>
                                
                        </p:column>
                        
                    </p:row>
                    
                </p:panelGrid>
                
            </h:form>
            
        </f:view>
        
        
    </ui:define>
    
</ui:composition>
