<ui:composition template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
    
    
    <ui:define name="head">
        
         
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height: 100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <p:messages id="messages" showDetail="true"/>
                    
                <h:outputText value="Welcome #{confirmationView.username}"/>
                    
                    <div align="center">
                        
                        <p:commandButton type="submit" ajax="false" value="Click here to confirm your account" actionListener="#{confirmationView.confirmUser}" update=":form:messages">
                        
                    
                        
                        </p:commandButton>
                        
                    </div>
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
    
    
</ui:composition>