<ui:composition template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>  

    <h:outputScript name="similarity.js" library="javascript/functions"/>
        
    <h:outputScript name="addressUserRegistration.js" library="javascript"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <h:form id="form">
            
            <p:panel style="width:100%;height:100%">
                
                <p:messages id="messages" showDetail="true"/>
                
                <div align="center">
                    
                    <h:outputText value="#{bundle['UserRegistration.panelTitle']}"/>
                    
                </div>
                
             
          
                      
                            
                        <h:inputHidden id="hiddenCity" value="#{flowRegistrationScope.city}"/>
                         
                        <input type="hidden" name="city" id="city"/>            
                        
                        <input type="hidden" id="latitudeValue" name="latitude" value="this is latitude" />
                        <input type="hidden" id="longitudeValue" name="longitude" value="this is longitude" />
                                 
                                   
                                        
                                      <p:panelGrid columns="10">
                                          
                                          
                                          <p:outputLabel for="state" value="Select State: "/>
                                          
                                          <p:selectOneMenu id="state" widgetVar="state" value="#{flowRegistrationScope.stateId}">
                                              
                                              <p:ajax  event="change"  process="@this" listener="#{flowRegistrationScope.stateChanged}" update="state,cities,hiddenCity"/>
                                              
                                              <f:selectItems var="sta" value="#{stateSingletonController.stateList}" itemLabel="#{sta.name}" itemValue="#{sta.name}">
                                              
                                                
                                               </f:selectItems>
                                              
                                              
                                          </p:selectOneMenu>
                                          
                                          
                                          
                                          <p:outputLabel for="cities" value="Cities: "/>
                                          
                                          <p:selectOneMenu widgetVar="cities" id="cities" value="#{flowRegistrationScope.city}">
   
                                              <f:selectItems id="cityItems"  value="#{citySessionController.cityList}" var="city" itemLabel="#{city.name}" itemValue="#{city.name}">
                                              
                                               
                                              </f:selectItems>
                                              
                                                 <p:ajax update="@this,hiddenCity" process="@this" listener="#{flowRegistrationScope.cityChanged}" />             
                                           
                                              
                                          </p:selectOneMenu>
                                            
                                             
                                          <p:selectOneMenu widgetVar="select"  id="select" value="#{flowRegistrationScope.type}" required="true" >
                                           
                                          
                                              <p:ajax/>
                                              
                                              <f:selectItems value="#{AddressTypeController.type}" var="tipo" itemValue="#{tipo}" itemLabel="#{tipo}">
                                              
                                                 
                                              </f:selectItems>
                                           
                                             
                                               
                                            </p:selectOneMenu>
                                        
             
                                          <p:inputText widgetVar="primerDigito" id="primerDigito" requiredMessage="El primer digito no puede ser nulo"  value="#{flowRegistrationScope.firstDigit}" size="3" required="true">
                                               
                                            <p:ajax/>
                                           
                                               </p:inputText> 
                                            
                                         
                                          
                                          <p:outputLabel value="#"/>
                                          
                                          <p:inputText  widgetVar="segundoDigito" id="segundoDigito" requiredMessage="Segundo digito no puede ser nulo" value="#{flowRegistrationScope.secondDigit}" size="3" required="true">
                                              
                                          <p:ajax/>
                                          
                                          </p:inputText>
                                              
                                          <p:outputLabel value="-"/>
                                          
                                          <p:inputText widgetVar="tercerDigito" id="tercerDigito" requiredMessage="Tercer digito no puede ser nulo" value="#{flowRegistrationScope.thirdDigit}" size="3" required="true">
                                           
                                            <p:ajax/>
                                          
                                          </p:inputText>
                                          
                                          <p:outputLabel id="aditional" for="adicional" value="Descripcion adicional"/>
                                          
                                          <p:inputTextarea id="adicional" value="#{flowRegistrationScope.description}" maxlength="45" counter="display" counterTemplate="{0} characters remaining">
                                          
                                              <p:ajax/>
                                          
                                          </p:inputTextarea>
                                              
                                          <p:outputLabel id="display"/>  
                                          
                                       
                                          
                                          <h:panelGroup/>
                                         
                                          <h:panelGroup/>
                                     
                                  
                                   </p:panelGrid> 
                                    <input type="button" onclick="codeAddress()"  value="Geocode"/>
                                  
                                    <div align="center">
                                    
                                    <p:gmap widgetVar="w_gmap" id="w_gmap" type="roadmap" center="41.381542, 2.122893" zoom="15">
                                    </p:gmap> 
                
                                    </div>
                                    <f:facet name="footer">
                                        
                                        <div align="center">
                                            
                                            <table>
                                                
                                                <tr>
                                                    
                                                    <td>
                                                        
                                                           <p:commandButton type="submit" ajax="false" icon="ui-icon-circle-arrow-w" update="@form" action="extrainfo"/>
                    
                            
                                                        
                                                    </td>
                                                    
                                                      <td>
                                                        
                                                          <p:commandButton type="submit" ajax="false" immediate="true" icon="ui-icon-circle-close" action="flowReturn"/>
                                              
                                                        
                                                      </td>
                                                    
                                                     <td>
                                                        
                                                         <p:commandButton type="submit" ajax="false" immediate="true" icon="ui-icon-circle-arrow-e" update="@form" action="#{flowRegistrationScope.redirect}"/>
                                       
                                                        
                                                    </td>
                                                    
                                                  
                                                    
                                                   
                                                    
                                                </tr>
                                                
                                            </table>
                                            
                                        
                                            
                                        </div>
                                        
                                    </f:facet>     
                                    
                                    
            </p:panel>
            
        </h:form>
        
    </ui:define>
    
</ui:composition>
