<ui:composition template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
      
        
    </ui:define>
    
    
    <ui:define name="content">
        
        <h:form id="form">
            
         
            
            <p:panel style="width:100%;height:100%">
                
                <f:facet name="header">
                    
                    <div align="center">
                        
                        <h:outputText value="#{bundle['UserRegistration.panelTitle']}"/>
                        
                    </div>
                    
                </f:facet>
                
                <p:tabView id="tabView" widgetVar="tabView" style="width:100%;height:100%">
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['UserRegistration.ProfileImage']}"/>
                            
                        </f:facet>
                        
                            <p:panelGrid id="panelGrid"   style="width:100%">
                            
                          
                            
                            <p:row>
                                
                                <p:column>
                                    
                                    <h:outputText value="Take Picture: "/>
                                                          
                                    <p:selectBooleanCheckbox id="checkBox" widgetVar="checkBox" value="#{flowRegistrationScope.checkBox}">
                                                        
                                        <p:ajax listener="#{flowRegistrationScope.selectBooleanCheckbox}" process="@this" update="@this,uploadCheck,photoPanel,uploadPanel"/>
                                        
                                    </p:selectBooleanCheckbox>
                                    
                                </p:column>
                                
                                <p:column>
                                    
                                    <h:outputText value="Upload from your computer: "/>
                                    
                                    <p:selectBooleanCheckbox id="uploadCheck"  widgetVar="uploadCheck" value="#{flowRegistrationScope.uploadBox}">
                                        
                                        <p:ajax listener="#{flowRegistrationScope.selectBooleanCheckbox}" process="@this" update="@this,checkBox,photoPanel,uploadPanel"/>
                                        
                                    </p:selectBooleanCheckbox>
                                    
                                </p:column>
                                
                            </p:row>
                
                            <p:row id="row1">
                                
                                <p:column id="column1" style="width:50%">
                                    
                                    <p:panel style="width:100%" visible="#{flowRegistrationScope.checkBox}" id="photoPanel">
                                        <p:photoCam  id="photoCam" widgetVar="pc" update="capturedImage" listener="#{flowRegistrationScope.capture}">
                                            
                                    </p:photoCam>
                                    </p:panel>
                                    
                                </p:column>
                                
                                <p:column id="column2" style="width:50%">
                                    
                                    <p:outputPanel id="capturedImage"  style="width:50%">
                                        <p:graphicImage style="width:100%"  value="#{flowRegistrationScope.profileImage}" rendered="#{not empty flowRegistrationScope.fileName}"/>
                                    </p:outputPanel>
                                    
                                </p:column>
                                
                                
                                
                            </p:row>
                            
                            
                            <p:row>
                                
                                <p:column>
                                      <div align="center">
                            
                               <p:commandButton widgetVar="captureButton" id="captureButton" onclick="PF('pc').capture()"  value="Capture" type="button">
                   
                   
                               </p:commandButton>
                
          
                             
                         </div>
                                </p:column>
                                
                                <p:column>
                                    
                                    <div align="center">
                                        
                                        
                                        <p:commandButton type="button" widgetVar="viewTaken" value="View Taken Image">
                                            <p:ajax update="capturedImage"/>
                                        </p:commandButton>
                                        
                                    </div>
                                    
                                </p:column>
                                
                            </p:row>
                            
                            <p:row>
                                
                                <p:column colspan="2">
                         
                                    
                                    <p:panel id="uploadPanel" widgetVar="uploadPanel" visible="#{flowRegistrationScope.uploadBox}">
                                        
                                        <p:outputLabel for="update" value="Upload Image"/>
                                        
                                        <p:fileUpload id="update" multiple="false" update="capturedImage"  fileUploadListener="#{flowRegistrationScope.handleFileUpload}" auto="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                        
                                    </p:panel>
                          
                                </p:column>
                                
                              
                                
                            </p:row>
                   
                            </p:panelGrid>
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['UserRegistration.OtherInfoTab']}"/>
                            
                        </f:facet>
                        
                                 <p:panelGrid columns="3">
                        
      
        
        
        <p:outputLabel for="zipCode" value="#{bundle['UserRegistration.ZipCode']}"/>
        <p:inputText id="zipCode" value="#{flowRegistrationScope.user.zipCode}">
        
            
        </p:inputText>
         <p:message for="zipCode" showDetail="true" display="icon"/>    
        
        
        
         </p:panelGrid>
                        
                    </p:tab>
                    
                </p:tabView>
                
                <f:facet name="footer">
                    
                    <div align="center">
                        
                        <table>
                            
                            <tr>
                                
                                <td>
                                    
                                      
                                   <p:commandButton type="submit" ajax="false" icon="ui-icon-circle-arrow-w"   action="address"/>
                    
                                    
                                </td>
                                
                                <td>
                                    
                                    <p:commandButton type="submit" ajax="false" icon="ui-icon-circle-close" action="flowReturn" immediate="true"/>
                                    
                                </td>
                                
                                <td>
                                    
                                    <p:commandButton ajax="false" type="submit" value="#{bundle['UserRegistration.register']}" action="#{flowRegistrationScope.Registration}"/>
        
                                    
                                </td>
                                
                            </tr>
                            
                        </table>
                        
                    </div>
                    
                </f:facet>
            </p:panel>
            
        </h:form>
        
    </ui:define>
    
</ui:composition>