<ui:composition  template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
 <ui:define name="head">
        
        <script>
            
            window.onload=function init(){
         
              PF('growl').show([{summary:'You will receive a mail notification in shortly about your application status', detail: 'You will receive a mail notification in shortly about your application status', severity: 'info'}]);
               

    }
        </script>
        
    </ui:define>
    
    <ui:define name="content">
       
        
        
        <f:view>
            
            <h:form id="form">
                
                <p:growl showDetail="true" sticky="true" widgetVar="growl"/>
                
                  <div align="center">
            
                 <p:graphicImage cache="false" styleClass="content" style="width:50%" value="/images/congratulations.jpg"/>

                 </div>
                
            </h:form>
            
            
        </f:view>
        
      
        
       
    </ui:define>
</ui:composition>