<ui:composition
    template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
     <h:outputStylesheet library="css" name="styles.css"/>
     
     <h:outputScript library="javascript" name="reoadImages.js"/>   
     
     <h:outputScript library="javascript" name="franchiseRegistration.js"/>
                
    </ui:define>  
    
    <ui:define name="content">
        
         <f:view>
            
            <h:form id="form">
                
                <p:growl id="messages" escape="false" />
      
                <f:event type="postValidate" listener="#{franchiseRegistration.postValidate}"/>
                
                <f:event type="preRenderView" listener="#{franchiseRegistration.preRenderView}"/>
                
                <p:panel style="width:100%;height:100%">
                
                <p:panelGrid columns="6" layout="grid">
                        
                        <p:outputLabel for="email" value="#{bundle['franchiseApplication.Mail']}"/>
                        
                        <p:inputText id="email" required="true" value="#{franchiseRegistration.application.mail}" requiredMessage="#{bundle['franchiseApplication.RequiredMailMessage']}" validatorMessage="#{bundle['franchiseApplication.ValidationMailMessage']}"/>
                        
                        <p:message for="email" display="icon" showDetail="true"/>
                        
                        <p:outputLabel for="franchiseName" value="#{bundle['franchiseApplication.FranchiseName']}"/>
                        
                        <p:inputText id="franchiseName" value="#{franchiseRegistration.application.franchiseName}" required="true" requiredMessage="#{bundle['franchiseApplication.FranchiseNameRequiredMessage']}">
                        
                            <p:ajax event="blur" process="@this" update=":form:messages"/>
                        
                        </p:inputText>
                        
                        <p:message id="franchiseNameMessage" for="franchiseName" display="icon" showDetail="true"/>
                        
                        <p:outputLabel for="nit" value="#{bundle['franchiseApplication.Nit']}"/>
                        
                        <p:inputText id="nit" maxlength="11"  value="#{franchiseRegistration.application.applicationPK.nit}" required="true" requiredMessage="#{bundle['franchiseApplication.NitRequiredMessage']}" validatorMessage="#{bundle['franchiseApplication.NitValidatorMessage']}"/>
                        
                        <p:message for="nit" display="icon" showDetail="true"/>
                        
                        <p:outputLabel for="cedula" value="#{bundle['franchiseApplication.Cedula']}"/>
                        
                        <p:inputText id="cedula" required="true" value="#{franchiseRegistration.application.applicationPK.cedula}" requiredMessage="#{bundle['franchiseApplication.CedulaRequiredMessage']}" validatorMessage="#{bundle['franchiseApplication.CedulaValidatorMessage']}">
                            
                            <f:validateLength minimum="1" maximum="10" />
                            
                            
                            
                        </p:inputText>
                        
                        <p:message for="cedula" display="icon"/>
                        
                        <p:outputLabel for="issued" value="#{bundle['franchiseApplication.FechaExpedicionCedula']}"/>
                        
                        <p:calendar id="issued" yearRange="1930:2015" pattern="MM/dd/yyyy"   mode="inline" navigator="true" value="#{franchiseRegistration.application.fechaExpedicion}"/>
                        
                        <p:message for="issued" display="icon"/>
                        
                        <p:outputLabel for="ciiu" value="#{bundle['franchiseApplicationCiiu.Ciiu']}"/>
                        
                        <p:inputText id="ciiu" maxlength="4"  value="#{franchiseRegistration.application.codigoCiuu}">

                            
                              
                        </p:inputText>
                        
                        <p:message id="ciuumessage" for="ciiu" display="icon" showDetail="true"/>
                        
                        <p:outputLabel for='type' value="#{bundle['franchiseApplicationType.SelectType']}"/>
                        
                        <p:selectOneMenu id="type" widgetVar="type" value="#{franchiseRegistration.idType}">
                            
                            <p:ajax event="change" update="subtype,@this" process="@this" listener="#{franchiseRegistration.changeTipo}"/>
                            
                            <f:selectItems value="#{franchiseTypeSingletonController.franchiseTypeArray}" var="item" itemLabel="#{item.nombre}" itemValue="#{item.idtipo}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="type" display="icon"/>
                        
                        <p:outputLabel  for="subtype" value="#{bundle['franchiseApplicationSubtype.SelectSubtype']}"/>
                        
                        <p:selectOneMenu widgetVar="subtype" id="subtype" value="#{franchiseRegistration.application.idSubtype.subtypePK}">
                            
                            <p:ajax/>
                            
                            <f:converter converterId="SubtypePKConverter"/>
                            
                            <f:selectItems value="#{franchiseSubtypeController.subtypeArray}" var="item" itemLabel="#{item.name}" itemValue="#{item.subtypePK.idSubtype},#{item.subtypePK.tipoIdtipo}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="subtype" display="icon"/>
                        
                          
                        
                        <p:outputLabel for="state" value="#{bundle['franchiseApplication.States']}"/>
                        
                        <p:selectOneMenu required="true" id="state">
                            
                            <p:ajax event="change" update="city,@this" process="@this" partialSubmit="true" listener="#{franchiseRegistration.stateChanges}"/>
                            
                            <f:selectItems value="#{stateSingletonController.stateList}" var="state" itemValue="#{state.idSTATE}" itemLabel="#{state.name}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="state" display="icon" showDetail="true"/>

                        <p:outputLabel for="city" value="#{bundle['franchiseApplication.City']}"/>
                        
                        <p:selectOneMenu id="city" value="#{franchiseRegistration.application.city.cityPK}">
                            
                           
                            
                            <f:converter converterId="CityPKConverter"/>
                            
                            <f:selectItems value="#{citySessionController.cityList}" var="city" itemValue="#{city.cityPK.STATEidSTATE},#{city.cityPK.idCITY}" itemLabel="#{city.name}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="city" display="icon" showDetail="true"/>
                        
                    
                        
                        <p:outputLabel for="logo" value="#{bundle['franchiseApplication.Logo']}"/>
                        
                        <p:fileUpload update="uploadedLogo"  id="logo" mode="advanced" auto="true" fileUploadListener="#{franchiseRegistration.handleUpload}" dragDropSupport="true" invalidFileMessage="This file is not allowed" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                        
                        <p:message for="logo" display="icon" showDetail="true"/>
                        
                        <p:outputLabel for="uploadedLogo" value="#{bundle['franchiseApplication.UploadedLogo']}"/>
                        
                        <p:graphicImage id="uploadedLogo" cache="false" styleClass="content" style="width:30%" value="#{franchiseRegistration.imageLogo}" onclick="alert('#{franchiseRegistration.imageLogo}')"/>
                        
                        <p:message for="uploadedLogo" display="icon" showDetail="true"/>
                        
                      
                       
                          
                        
                    </p:panelGrid>
                
                      <f:facet name="footer">
                            
                            <div align="center">
                                
                                <p:commandButton action="#{franchiseRegistration.saveChanges}" update="@all"  icon="ui-icon-disk" value="#{bundle['franchiseApplication.SaveButton']}"/>
                                
                            </div>
                            
                        </f:facet>
                
                </p:panel>
                    
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>





