

<ui:composition
    template="/WEB-INF/templates/registration-template.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        
    </ui:define>
    
    <ui:define name="content">
        
                   <div  style="  position:absolute;
     width:300px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
   ">
                         <h:form id="form">
                             
                             <p:panelGrid id="panelGrid" style="width:100%;height: 100%;border:0!important" columns="2" layout="grid">
                                  
                                  <p:commandLink action="registration" style="border:0">
                                      
                                      <p:graphicImage style="width:100%" styleClass="content" value="/images/user.png" cache="false"/>
                                      
                                  </p:commandLink>

                                  <p:commandLink action="franchise" style="border:0">
                                      
                                      <p:graphicImage style="width:100%" styleClass="content" cache="false" value="/images/tienda.png" />
                                      
                                  </p:commandLink>
                                 
                                 <p:commandLink  action="supplier-registration" style="border:0">
                                     
                                     <p:graphicImage cache="false" styleClass="content" value="/images/supplier.png" style="width:100%"/>
                                     
                                 </p:commandLink>
                         
                             </p:panelGrid>
                             
                         </h:form>
                  </div>
        
    </ui:define>
    
</ui:composition>



