<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:megaMenu orientation="horizontal">
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                        
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="/adminFranquicia/editFranchise.xhtml"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                        
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Product']}">
                    
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                     
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                </p:megaMenu>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>