<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"> 
    
    <ui:define name="head">
        
        
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUD2QOeW4uEpaBBqDb0PZaDaNybgDSik0"></script>

        
        <h:outputScript library="javascript" name="EdenFinalUser.Store.Profile.js"/>
           
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form" enctype="multipart/form-data">
                
                <input type="hidden" name="latitude" id="latitude"/>
                
                <input type="hidden" name="longitude" id="longitude"/>
                
                <f:event type="preRenderView" listener="#{storeView.preRenderView}" />
                
             
                
                 <p:panelGrid style="width:100%;height:100%">
            
            <p:row>
                
                <p:column style="width:30%">
                    
                    <p:graphicImage style="width:60%" cache="false" styleClass="content" value="#{storeView.logo}" />
                    
                </p:column>
                
                <p:column id="gpsColumn" style="width:90%">
                    
                    <p:gmap  id="map" widgetVar="map" center="4.7110, 74.0721" type="roadMap" zoom="15"  model="#{storeView.mapModel}" >
                        
                        <p:ajax event="overlaySelect" listener="#{storeView.markerSelection}" update="infoWindow"  onstart="update()"/>
                        
                        <p:gmapInfoWindow id="infoWindow" >
                            
                            
                            <p:panelGrid>

                                <p:row style="width:100%">
                                    
                                    <p:column style="width:20%">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['EdenFinalUser.profile.infoWindow.InRange']}" rendered = "#{storeView.infoWindow.inRange}"/>
                                            
                                            <h:outputText value="#{bundle['EdenFinalUser.profile.infoWindow.OutofRange']}" rendered = "#{!storeView.infoWindow.inRange}"/>
                                            
                                        </div>
                                        
                                    </p:column>
                                    
                                    <p:column style="width: 40%">
                                        
                                        
                                <p:panel>
                                    
                                    <div align="center">
                            
                                         <h:outputText style="text-align: center; " value="#{storeView.infoWindow.title}"/>
                            
                                    </div>
                            
                                    
                                        <div align="center">
                            
                            <p:graphicImage styleClass="content" value="#{storeView.infoWindow.image}" style="width: 20%"  cache="false" />
                            
                            </div>
                              <div align="center">
                                
                                <p:graphicImage styleClass="content" value="#{storeView.infoWindow.open}" style="width: 20%"  cache="false" />                         
                                
                            </div>
                                    
                                </p:panel>
                                        
                                    </p:column>
                                    
                                    <p:column style="width: 20%">
                                        
                                         <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['EdenFinalUser.profile.infoWindow.OperationTimes']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                        
                                        <p:scrollPanel mode="native" style="width:100%;height:100%">
                                            
                                            
                                        <p:panelGrid  style="border:black">
                                    
                                            
                                            <ui:repeat value="#{storeView.infoWindow.edenOpeningTimeses}" var="day">
                                                
                                                   <p:row>
                                                
                                                       <p:column rowspan="2">
                                                    
                                                    <h:outputText value="#{day.day}"/>
                                                    
                                                        </p:column>
                                                
                                                <p:column>
                                                    
                                                    <p:panel>
                                                        
                                                          <h:outputText value="#{bundle['EdenFinalUser.profile.infoWindow.OpenTime']}: "/>
                                    
                                                          <h:outputText value="#{day.openingTime.hour}:#{day.openingTime.minutes}"/>
                                  
                                                        
                                                    </p:panel>
                                                    
                                                    <p:panel>
                                                        
                                                        <h:outputText value="#{bundle['EdenFinalUser.profile.infoWindow.CloseTime']}: "/>
                                    
                                                        <h:outputText value="#{day.closingTime.hour}:#{day.closingTime.minutes}"/>
                                                                                       
                                                   </p:panel>
                                                    
                                                </p:column>
                                                
                                            </p:row>
                                                
                                            </ui:repeat>
                                            
                                   
                                            
                                         
                            
                                    
                                </p:panelGrid>
                                            
                                        </p:scrollPanel>
                                        
                                    </p:column>
                                    
                                    
                                </p:row>
                                
                                
                                
                            </p:panelGrid>
                            
                            
                        
                          
                            
                        </p:gmapInfoWindow>
                        
                    </p:gmap>
                    
                </p:column>
                
            </p:row>
                     
                     <p:row>
                         
                         <p:column id="categories" style="width:50%">
                            
                             <p:dataGrid  value="#{storeView.categoryViewLayouts}" var="category" layout="grid" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" rowsPerPageTemplate="3 6 9" rows="2" columns="3">
                                 
                                 <f:facet name="header">
                                     
                                     <div align="center">
                                         
                                         <h:outputText value="#{bundle['EdenFinalUser.profile.categories.title']}"/>
                                         
                                     </div>
                                     
                                 </f:facet>
                                 
                                 <p:panel>
                                     
                                     <f:facet name="header">
                                     
                                         <div align="center">
                                         
                                         <h:outputText value="#{category.name}"/>
                                         
                                         </div>
                                     
                                     </f:facet>
                                     
                                     <div align="center">
                                     
                                        <p:graphicImage style="width:70%" styleClass="content" cache="false" value="#{category.image}"/>
                                     
                                     </div>
                                  
                                 </p:panel>
                                 
                             </p:dataGrid>
                             
                         </p:column>
                         
                         
                         <p:column id="products">
                             
                             
                             <p:dataGrid  value="#{storeView.productViewLayout}" var="product" layout="grid" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" rowsPerPageTemplate="3 6 9" rows="2" columns="3">
                                 
                                 <f:facet name="header">
                                     
                                     <div align="center">
                                         
                                         <h:outputText value="#{bundle['EdenFinalUser.profile.products.title']}"/>
                                         
                                     </div>
                                     
                                 </f:facet>
                                 
                                 <p:panel>
                                     
                                     <f:facet name="header">
                                     
                                         <div align="center">
                                         
                                         <h:outputText value="#{product.name}"/>
                                         
                                         </div>
                                     
                                     </f:facet>
                                     
                                     <div align="center">
                                     
                                  <p:graphicImage style="width:70%" styleClass="content" cache="false" value="#{product.image}"/>
                                     
                                     </div>
                                  
                                 </p:panel>
                                 
                             </p:dataGrid>
                             
                         </p:column>
                         
                     </p:row>
                     
                     <p:row>
                         
                         
                         <p:column id="meal">
                             
                             
                             <p:dataGrid  value="#{storeView.mealLayout}" var="meal" layout="grid" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" rowsPerPageTemplate="3 6 9" rows="2" columns="3" rendered="#{storeView.restaurant}">
                                 
                                 <f:facet name="header">
                                     
                                     <div align="center">
                                         
                                         <h:outputText value="#{bundle['EdenFinalUser.profile.meal.title']}"/>
                                         
                                     </div>
                                     
                                 </f:facet>
                                 
                                 <p:panel>
                                     
                                     <f:facet name="header">
                                     
                                         <div align="center">
                                         
                                         <h:outputText value="#{meal.name}"/>
                                         
                                         </div>
                                     
                                     </f:facet>
                                     
                                     <div align="center">
                                     
                                  <p:graphicImage style="width:70%" styleClass="content" cache="false" value="#{meal.image}"/>
                                     
                                     </div>
                                  
                                 </p:panel>
                                 
                             </p:dataGrid>
                             
                         </p:column>
                         
                     </p:row>
            
        </p:panelGrid>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>

