<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    <ui:define name="head" >
        
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:panel id="panel">
                        
                    
                    <f:event type="preRenderView" listener="#{supplierIndex.preRenderView}"/>
                    
                    <p:tree selectionMode="single"  value="#{supplierIndex.root}" dynamic="true" var="item" >
                        
                        <p:ajax event="select" listener="#{supplierIndex.supplierSelection}"/>
                        
                        <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed"  >
                            
                            <h:outputText value="#{item}"/>
                            
                        </p:treeNode>
                        
                    </p:tree>
                    
                </p:panel>
                
            </h:form>

        </f:view>
        
    </ui:define>
    
</ui:composition>