<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name='head'>
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                
                <p:messages id="messages" showDetail="true"/>
                
                
                <f:event type="postValidate" listener="#{CRUDINVENTARIO.checkInventarioName}"/>
                
                    <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                <p:panel style="width:100%;height:100%">
                    
                    <f:facet name="header">
                        
                        <div align="center">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorAddInventory.PanelTitle']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                    <p:tabView id="tabView">
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorAddInventory.InventoryInformationTab']}"/>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="3">
                                
                                <p:outputLabel value="#{bundle['franchiseAdministratorAddinventory.Name']}" for="name" />
                                
                                <p:inputText id="name" value="#{CRUDINVENTARIO.name}">
                                
                                    <p:ajax event="blur" update=":form:messages"/>
                                    
                                </p:inputText>
                                
                                <p:message for="name" display="icon" showDetail="true"/>
                                
                                <p:outputLabel for="enable" value="#{bundle['franchiseAdministratorAddInventory.EnableControl']}"/>
                                
                                <p:selectBooleanCheckbox id="enable" value="#{CRUDINVENTARIO.enabled}"/>                        
                                
                                <p:message for="enable" display="icon" showDetail="true"/>
                                
                            </p:panelGrid>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorAddInventory.DescriptionTab']}"/>
                                
                            </f:facet>
                            
                            <p:editor style="width:100%;height:100%" value="#{CRUDINVENTARIO.description}"></p:editor>
                            
                        </p:tab>
                        
                    </p:tabView>
                    
                    
                    <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton styleClass="roundButton" ajax="false" type="submit" actionListener="#{CRUDINVENTARIO.AddInventario}" value="#{bundle['franchiseAdministratorAddInventory.SaveChanges']}" icon="ui-icon-disk"/>
                            
                        </div>
                        
                    </f:facet>
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>
