<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
        <h:outputScript library="javascript" name="franchiseAdministratorSale.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
               
                <p:messages id="messages" showDetail="true"/>
                
                <f:event type="postValidate" listener="#{saleView.postValidateSale}"/>
                
                <f:event type="preRenderView" listener="#{saleView.preRenderView}"/>
                
                <input type="hidden" name="hiddenPath" id="hiddenPath"/>
                
                   <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                <p:panel>
                
                <p:tabView id="tabView">
                    
                    <p:tab >
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorAddSale.SaleDetailsTab']}"/>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="3">
                            
                            <p:outputLabel for="name" value="#{bundle['franchiseAdministratorAddSale.Name']}"/>
                            
                            <p:inputText id="name" required="true" value="#{saleView.sale.name}" requiredMessage="#{bundle['franchiseAdministratorAddSale.NameRequiredMessage']}"/>
                            
                            <p:message for="name" showDetail="true" display="icon"/>
                            
                            
                            <p:outputLabel for="value" value="#{bundle['franchiseAdministratorAddSale.Value']}"/>
                            
                            <p:inputText id="value" required="true" requiredMessage="#{bundle['franchiseAdministratorAddSale.ValueRequiredMessage']}" value="#{saleView.sale.value}">
                                
                                <f:convertNumber type="currency" currencyCode="COP"/>
                                
                            </p:inputText>
                            
                            <p:message for="value" showDetail="true" display="icon"/>
                            
                        </p:panelGrid>
                        
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorAddSale.SaleMediaTab']}"/>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="3">
                            
                            <p:outputLabel for="uploader" value="#{bundle['franchiseAdministratorAddSale.UploadImages']}"/>
                            
                            <p:fileUpload id="uploader" update="galleria" fileUploadListener="#{saleView.handleFileUpload}" mode="advanced" auto="true" multiple="true" dragDropSupport="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                            
                            <p:message for="uploader" showDetail="true" display="icon"/>
                            
                        </p:panelGrid>
                        
                        <p:galleria id="galleria" value="#{fileUploadBean.images}" var="image">
                            
                            <p:graphicImage onclick="removeImage('#{image}')" cache="false" styleClass="content" style="width:100%;height:100%" value="#{image}"/>
                            
                            <p:confirmDialog severity="alert" global="true" showEffect="fade" hideEffect="fade" closable="true" closeOnEscape="true" widgetVar="confirmDialog">
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:commandButton value="#{bundle['edenConfirmDialog.YesButton']}" styleClass="roundButton ui-confirmdialog-yes" icon="ui-icon-check">
                                        
                                        <p:ajax event="click" listener="#{saleView.removeBusinessSalePicture}" update="galleria" onsuccess="PF('confirmDialog').hide()"/>
                                        
                                    </p:commandButton>
                                    
                                    <p:commandButton styleClass='roundButton ui-confirmdialog-no' type='button' onclick="PF('confirmDialog').hide()" icon='ui-icon-close' value="#{bundle['edenConfirmDialog.NoButton']}"/>
                                    
                                </p:panelGrid>
                                
                                
                            </p:confirmDialog>
                            
                        </p:galleria>
                        
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorAddSale.DateTab']}"/>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="6">
                            
                            <p:outputLabel for="startDate" value="#{bundle['franchiseAdministratorAddSale.StartDate']}:"/>
                            
                            <p:inplace event="dblclick" label="#{bundle['franchiseAdministratorAddSale.CalendarInplaceLabel']}">
                                
                                <p:calendar id="startDate" showOn="button" navigator="true" pattern="MM/dd/yyyy HH:mm" yearRange="1930:2015" value="#{saleView.sale.startDate}">
                                
                                    <p:ajax event="dateSelect" listener="#{saleView.changeDate}" />
                                
                                </p:calendar>
                                
                            </p:inplace>
                            
                            <p:message for="startDate" display="icon" showDetail="true"/>
                            
                            <p:outputLabel for="finishDate" value="#{bundle['franchiseAdministratorAddSale.EndDate']}:"/>
                            
                            <p:inplace label="#{bundle['franchiseAdministratorAddSale.CalendarInplaceLabel']}" event="dblclick">
                            
                                <p:calendar id="finishDate" showOn="button" yearRange="1930:2015" pattern="MM/dd/yyyy HH:mm" value="#{saleView.sale.endDate}">
                                
                                    <p:ajax event="dateSelect" listener="#{saleView.changeDate}"/>
                                
                                </p:calendar>
                            
                            </p:inplace>
                            
                            <p:message for="finishDate" display="icon" showDetail="true"/>
                            
                        </p:panelGrid>
                        
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorAddSale.AddProduct']}"/>
                            
                        </f:facet>
                        
                        <p:dataTable id="productsTable" emptyMessage="#{bundle['franchiseAdministratorAddSale.emptyProductTableMessage']}" rows="10" style="width:100%;height:100%" rowsPerPageTemplate="10 20 30" scrollable="true" reflow="true" value="#{saleView.sale.saleHasProductoCollection}" var="saleItem" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                            
                            <f:facet name="header">
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:commandButton icon="ui-icon-plus">
                                        
                                        <p:ajax event="click" listener="#{saleView.addSaleHasProductoBusiness}" update="productsTable"/>
                                        
                                    </p:commandButton>
                                    
                                    <p:commandButton icon="ui-icon-minus"/>
                                    
                                </p:panelGrid>
                                
                            </f:facet>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['franchiseAdministratorAddSale.SelectProduct']}"/>
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <p:selectOneMenu value="#{saleItem.producto.productoPK}">
                                
                                <p:ajax/>
                                
                                <f:converter converterId="ProductPKConverter"/>
                                
                                <f:selectItems value="#{saleView.products}" var="item" itemValue="#{item.productoPK.idproducto},#{item.productoPK.categoriaIdcategoria},#{item.productoPK.categoriaFranquiciaIdfranquicia}" itemLabel="#{item.nombre}"/>
                                
                                </p:selectOneMenu>
                                
                            </p:column>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['franchiseAdministratorAddSale.ProductQuantity']}"/>
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <p:inputText required="true" requiredMessage="#{bundle['franchiseAdministratorAddSale.ProductQuantityRequiredMessage']}" value="#{saleItem.quantityLimit}"/>
                                
                                
                            </p:column>
                            
                        </p:dataTable>
                        
                    </p:tab>
                    
                    
                </p:tabView>
                
                      <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton type="submit" ajax="false" styleClass="roundButton" icon="ui-icon-disk" value="#{bundle['franchiseAdministratorAddSale.SaveChanges']}" actionListener="#{saleView.saveBusinessSale}" update="@form"/>
                            
                        </div>
                        
                    </f:facet>
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>