
<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        <h:outputScript library="javascript" name="franchiseAdministratorSale.js"/>
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <f:event type="preRenderView" listener="#{saleView.preRenderView}"/>
                
                <f:event type="postValidate" listener="#{saleView.postValidateSale}"/>
                
                <input type="hidden" name="hiddenPath" id="hiddenPath"/>
                
                   <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                
                <p:messages id="messages" showDetail="true"/>
                
                <p:panel>
                
                <p:tabView>
                
                    <p:tab>
                    
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.SaleDetailsTab']}"/>
                            
                        </f:facet>
                        
                <p:panelGrid columns="3">
                    
                    <p:outputLabel for="name" value="#{bundle['franchiseAdministratorUpdateSale.Name']}"/>
                    
                    <p:inputText id="name" value="#{saleView.sale.name}" required="true" requiredMessage="#{bundle['franchiseAdministratorUpdateSale.RequiredNameMessage']}"/>
                    
                    <p:message for="name" display="icon"/>
                    
                    <p:outputLabel for="value" value="#{bundle['franchiseAdministratorUpdateSale.Value']}"/>
                    
                    <p:inputText id="value" value="#{saleView.sale.value}" required="true" requiredMessage="#{bundle['franchiseAdministratorUpdateSale.ValueRequiredMessage']}">
                        
                        <f:convertNumber type="currency" currencyCode="COP"/>
                        
                    </p:inputText>
                    
                    <p:message for="value" display="icon"/>
                    
                </p:panelGrid>
                
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.SaleMediaTab']}"/>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="3">
                            
                            <p:outputLabel for="uploader" value="#{bundle['franchiseAdministratorUpdateSale.UploadImages']}"/>
                            
                            <p:fileUpload fileUploadListener="#{saleView.handleFileUpload}" mode="advanced" multiple="true" auto="true" dragDropSupport="true" update="galleria" id="uploader" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                            
                            <p:message for="uploader" display="icon"/>
                            
                        </p:panelGrid>
                        
                        <p:galleria id="galleria" var="image" value="#{fileUploadBean.images}">
                            
                            <p:graphicImage onclick="removeImage('#{image}')" cache="false" styleClass="content" style="width:100%;height:100%" value="#{image}"/>
                            
                            <p:confirmDialog global="true" severity="alert" showEffect="fade" hideEffect="fade" closable="true" closeOnEscape="true" widgetVar="confirmDialog" >
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:commandButton styleClass="ui-confirmdialog-yes roundButton" value="#{bundle['edenConfirmDialog.YesButton']}" icon="ui-icon-check">
                                    
                                        <p:ajax event="click" update="galleria" listener="#{saleView.removeBusinessSalePicture}" onsuccess="PF('confirmDialog').hide()"/>
                                    
                                    </p:commandButton>
                                    
                                    <p:commandButton type='button' value="#{bundle['edenConfirmDialog.NoButton']}" onclick="PF('confirmDialog').hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                                    
                                </p:panelGrid>
                                
                            </p:confirmDialog>
                            
                        </p:galleria>
                        
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.DateTab']}"/>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="6">
                            
                            <p:outputLabel for="startDate" value="#{bundle['franchiseAdministratorUpdateSale.StartDate']}"/>
                            
                            <p:inplace event="dblclick" label="#{bundle['franchiseAdministratorUpdateSale.inplace']}">

                                
                                <p:calendar id="startDate" showOn="button" navigator="true" value="#{saleView.sale.startDate}" yearRange="1930:2015" pattern="MM/dd/yyyy HH:mm">
                                
                                    <p:ajax event="dateSelect" listener="#{saleView.changeDate}"/>
                                
                                </p:calendar>
                                
                            </p:inplace>
                            
                            <p:message for="startDate" display="icon"/>
                            
                            
                            <p:outputLabel for="finishDate" value="#{bundle['franchiseAdministratorUpdateSale.EndDate']}"/>
                            
                            <p:inplace event="dblclick" label="#{bundle['franchiseAdministratorUpdateSale.inplace']}">
                            
                                <p:calendar id="finishDate" navigator="true" yearRange="1930:2015" showOn="button" pattern="MM/dd/yyyy HH:mm" value="#{saleView.sale.endDate}">
                                
                                    <p:ajax event="dateSelect" listener="#{saleView.changeDate}"/>
                                
                                </p:calendar>
                            
                            </p:inplace>
                            
                            <p:message for="finishDate" display="icon"/>
                            
                        </p:panelGrid>
                        
                    </p:tab>
                    
                    <p:tab>
                        
                        <f:facet name="title">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.AddProductTab']}"/>
                            
                        </f:facet>
                        
                        <p:dataTable id="saleHasProductTable" rows="10" rowsPerPageTemplate="10 20 30" reflow="true" scrollable="true" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" value="#{saleView.sale.saleHasProductoCollection}" var="saleHasProduct" style="height:100%;width:100%">
                            
                            <f:facet name="header">
                                
                                <p:panel style="width:100%; text-align: center">
                                    
                                    <p:commandButton icon="ui-icon-plus">
                                        
                                        <p:ajax event="click" update="saleHasProductTable" listener="#{saleView.addSaleHasProductoBusiness}"/>
                                        
                                    </p:commandButton>
                                    
                                </p:panel>
                                
                            </f:facet>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                    
                                    <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.SelectProduct']}"/>
                                    
                                    </div>
                   
                                </f:facet>
                                
                                  <p:selectOneMenu value="#{saleHasProduct.producto.productoPK}">
                                        
                                        <p:ajax/>
                                        
                                        <f:converter converterId="ProductPKConverter"/>
                                        
                                        <f:selectItems value="#{saleView.products}" var="productItem" itemValue="#{productItem.productoPK.idproducto},#{productItem.productoPK.categoriaIdcategoria},#{productItem.productoPK.categoriaFranquiciaIdfranquicia}" itemLabel="#{productItem.nombre}"/>
                                        
                                    </p:selectOneMenu>
                                
                            </p:column>  
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.ProductQuantity']}"/>
                                        
                                    </div>
                                    
                                    
                                </f:facet>
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:inputText id="productQuantity" required="true" requiredMessage="#{bundle['franchiseAdministratorUpdateSale.ProductQuantityRequiredMessage']}" value="#{saleHasProduct.quantityLimit}"/>
                                    
                                    <p:message for="productQuantity" display="icon"/>
                                    
                                </p:panelGrid>
                                
                            </p:column>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['franchiseAdministratorUpdateSale.DeleteProduct']}"/>
                                        
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <div align="center">
                                    
                                    <p:commandLink>
                                        
                                        <p:ajax event="click" listener="#{saleView.removeBusinessSaleHasProduct(event, saleHasProduct)}" update="saleHasProductTable"/>
                                    
                                    <p:graphicImage cache="false" styleClass="content" style="width:20%" value="/images/delete.jpg"/>
                                    
                                    </p:commandLink>
                                    
                                </div>
                                
                            </p:column>
                            
                            
                        </p:dataTable>
                        
                    </p:tab>
                    
                 
                    
                </p:tabView>
                    
                       <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton update="@form" actionListener="#{saleView.updateBusinessSale}" icon="ui-icon-disk" styleClass="roundButton" value="#{bundle['franchiseAdministratorUpdateSale.SaveChanges']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                </p:panel>
                    
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>

