<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
         
    
    <ui:define name="head">
        
        <style type="text/css">
    .ui-diagram-element {
        border:0.1em dotted #d4e06b;    
        width:14em; 
        height:4em;     
        line-height:4em;
        text-align: center;
    }
</style>
        
        <h:outputScript library="javascript" name="franchiseAdministratorHomePartners.js"/>
        
    </ui:define>
    
    <ui:define name="content">
               
        <f:view>
            
            <h:form id="form">
               
                <p:remoteCommand name="rc" id="rc" actionListener="#{partnerView.diagramSelection}"/>
                
                <p:panel id="panel" style="width:100%;height:100%" widgetVar="panel">
                
                    <p:diagram id="diagram" widgetVar="diagram" value="#{partnerView.model}" styleClass="ui-widget-content" >
                    
                      
                    
                    </p:diagram>
                
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
    
</ui:composition>
