<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="hideSideLayoutUnits.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        
        
    </ui:define>
    
</ui:composition>