<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SmartNet-ear-1.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="SmartNet-ejb-1.0-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/SmartNet-ejb/SmartNet-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-fileupload-1.3.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-fileupload/commons-fileupload/1.3.1/commons-fileupload-1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-2.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/2.4/commons-io-2.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ant-1.8.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/ant/ant/1.8.1/ant-1.8.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ant-launcher-1.8.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/ant/ant-launcher/1.8.1/ant-launcher-1.8.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-api-2.2.8-02.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/sun/faces/jsf-api/2.2.8-02/jsf-api-2.2.8-02.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-validator-5.1.1.Final.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-validator/5.1.1.Final/hibernate-validator-5.1.1.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="validation-api-1.1.0.Final.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/validation/validation-api/1.1.0.Final/validation-api-1.1.0.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-logging-3.1.3.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/logging/jboss-logging/3.1.3.GA/jboss-logging-3.1.3.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="classmate-1.0.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/fasterxml/classmate/1.0.0/classmate-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="qrgen-1.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/qrgen/qrgen/1.3/qrgen-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="core-2.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/google/zxing/core/2.0/core-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javase-2.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/google/zxing/javase/2.0/javase-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javax.inject-1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/inject/javax.inject/1/javax.inject-1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="barcode-7.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/aspose/barcode/barcode/7.0/barcode-7.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="atmosphere-runtime-2.3.5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/atmosphere/atmosphere-runtime/2.3.5/atmosphere-runtime-2.3.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.7.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.7.7/slf4j-api-1.7.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="SmartNet-web-1.0-SNAPSHOT.war" deploy-path="/" handle="module:/resource/SmartNet-web/SmartNet-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
