<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript/EdenSupplier" name="AddCategory.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
               
                <f:event  type="postValidate" listener="#{edenSupplierAddCategory.postValidate}"/>
                
                <input type="hidden" name="hiddenImage" id="hiddenImage"/>
               
                <p:panel style="width:100%;height:100%">
                
                <p:messages id="messages" showDetail="true"/>
                
                <p:panelGrid layout="grid" columns="3">
                    
                    <p:outputLabel for="name" value="#{bundle['edenSupplier.CategoryName']}"/>
                    
                    <p:inputText id="name" value="#{edenSupplierAddCategory.name}" required="true">
                    
                        <p:ajax/>
                        
                    </p:inputText>
                    
                    <p:message for="name" display="icon"/>
                    
                    <p:outputLabel for="uploader" value="#{bundle['edenSupplier.uploadImage']}"/>
                    
                    <p:fileUpload id="uploader" multiple="true" mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" auto="true" fileUploadListener="#{edenSupplierAddCategory.uploadImage}" update="galleria"/>
                    
                    <p:message for="uploader"/>
                                    
                </p:panelGrid>
                
                <p:galleria id="galleria" value="#{fileUploadBean.images}" var="image">

                    <p:contextMenu>
                        
                        <p:menuitem value="Delete Image" process="galleria" update="galleria" actionListener="#{edenSupplierAddCategory.removePicture(image)}"/>
                        
                    </p:contextMenu>
                    
                    <p:graphicImage cache="false" styleClass="content" value="#{image}" style="width:80%" onmouseover="imaggeName('#{image}')"/>
                    
                </p:galleria>
                
                <f:facet name="footer">
                    
                    <div align="center">
                        
                        <p:commandButton type="button" onclick="showDialog()" value="#{bundle['edenSupplier.createCategory']}"/>
                        
                    </div>
                    
                </f:facet>
                
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" widgetVar="dialog" closable="true" severity="alert">
                    
                    <p:panelGrid columns="2">
                        
                        <p:commandButton   icon="ui-icon-check" styleClass="ui-confirmdialog-yes" value="#{bundle['confirmDialog.yesButton']}">
                        
                            <p:ajax event="click" listener="#{edenSupplierAddCategory.createCategory}" onsuccess="PF('dialog').hide()"/>
                        
                        </p:commandButton>
                        
                        <p:commandButton icon="ui-icon-close" styleClass="ui-confirmdialog-no" value="#{bundle['confirmDialog.noButton']}" onclick="PF('dialog').hide()"/>
                        
                    </p:panelGrid>
                    
                    
                </p:confirmDialog>
                
                </p:panel>
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>