/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2015, 10:56:12 PM
    Author     : luisnegrete
*/

.ui-layout-pane{
    
    padding:0;
    
    overflow:hidden;
        
    
}

.ui-layout-north,
.ui-layout-south,
.ui-layout-west,
.ui-layout-east,
.ui-layout-center{
    
    display:none;
    
}

.ui-layout-resizer-west-dragging,
.ui-layout-resizer-west-open-hover{
    
   background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-west-closed-hover{
    
    background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-west-open{
    
      background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-west-closed{
    
      background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-east-dragging,
.ui-layout-resizer-east-open-hover{
    
      background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-east-closed-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-east-closed{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-north-dragging,
.ui-layout-resizer-north-open-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-east-closed-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-east-open{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-east-closed{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-north-dragging,
.ui-layout-resizer-north-open-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
}

.ui-layout-resizer-north-closed-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-north-open{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-north-closed{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-south-dragging,
.ui-layout-resizer-south-hover{
  
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-south-closed-hover{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-toggler-south-open{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}


.ui-layout-toggler-south-closed{
    
     background:url('images/cristales2.jpg') repeat-y center;
    
}

.ui-layout-resizer-dragging-limit{
    
    border:1px solid #E27D7D;
    
}

.ui-layout-pane-withsubpanes{
    
    border:none;
    
}

.ui-layout-pane-header{
    
    padding:4px 1em;
    
    border-width:0 0 1px;
 
}

.ui-layout-pane-content{ 
    padding:6px;
    overflow:auto;  
}