<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                   
                    <p:messages id="messages" showDetail="true"/>
                    
                    <p:panelGrid columns="3" style="width:100%">
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="Personal Info"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <p:outputLabel for="name" value="Name: "/>

                        <p:inputText id="name" value="#{completeRegistration.user.name}"/>
                        
                        <p:message for="name"/>
                        
                        
                        <p:outputLabel for="birthday" value="Birthday"/>
                        
                        <p:calendar id="birthday" navigator="true" yearRange="1930:2015" pattern="MM/dd/yyyy" mode="inline" value="#{completeRegistration.user.birthday}"/>
                        
                        <p:message for="birthday"/>
                        
                        
                        <p:outputLabel for="gender" value="Gender: "/>
                        
                        <p:selectOneMenu id="gender" value="#{completeRegistration.user.gender}">
                            
                            <p:ajax/>
                            
                            <f:selectItem itemLabel="Male" itemValue="Male"/>
                            
                            <f:selectItem itemLabel="Female" itemValue="Female"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="gender"/>
                        
                        <p:outputLabel for="profession" value="Profession: "/>
                        
                        <p:selectOneMenu id="profession" value="#{completeRegistration.user.professionIdprofession.idprofession}">
                            
                            <p:ajax/>
                            
                            <f:selectItems value="#{completeRegistration.profession}" var="profession" itemLabel="#{profession.profession}" itemValue="#{profession.idprofession}"/>
                            
                        </p:selectOneMenu>
                        
                        
                        <f:facet name="footer">
                            
                            <p:commandButton value="Next" type="submit" ajax="false" action="complete-registration-final" icon="ui-icon-arrowthick-1-e"/>
                            
                            <p:commandButton icon="ui-icon-close" immediate="true" action="flowReturn"/>
                            
                        </f:facet>
                        
                    </p:panelGrid>
                    
                </h:form>
                
            </f:view>
            
            
        </p:panel>
        
    </ui:define>
    
    
</ui:composition>