<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:define name="head">
 
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 

      <h:outputScript library="javascript" name="completeRegistrationFlow.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
   
            
            <f:view>
                
                <h:form id="form">
                    
                    <p:messages id="messages"/>
                    
                    <h:inputHidden  id="latitude"/>
                    
                    <h:inputHidden  id="longitude"/>
                    
                    
                    
                    
                    <p:panel style="width:100%;height:100%">
                        
                        
                  
                    
                    <p:tabView id="tabView" style="width:100%;height:100%">
                        
                        <p:tab>
                            
                     <f:facet name="title">
                                
                      <h:outputText value="Address"/>
                                
                     </f:facet>
                        
                            
                            <p:panelGrid columns="3">
                                
                                <p:outputLabel for="addAddress" value="Add new address"/>
                                
                                <p:selectBooleanCheckbox id="addAddress" value="#{completeRegistration.checkAddress}" widgetVar="addAddress">
                                
                                    <p:ajax/>
                                
                                </p:selectBooleanCheckbox>
                                
                                <p:message for="addAddress"/>
                                
                            </p:panelGrid>      
                            
                    <p:panelGrid columns="1" style="width:100%;height:100%">
                        
                        <p:panel widgetVar="addressPanel">
                                  
                            <p:dataTable scrollable="true" id="table" reflow="true" paginator="true" rows="5" rowsPerPageTemplate="5 10 15" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" value="#{completeRegistration.user.direccionCollection}" var="address">
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="Your Addresses"/>
                                            
                                        </div>
                                        
                                    </f:facet> 
                                    
                                
                                
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <h:outputText value="Address"/>
                                            
                                        </f:facet>
                                        
                                        <h:outputText value="#{address.city.state.name},#{address.city.name} #{address.TYPEADDRESSidTYPEADDRESS.typeAddress} #{address.primerDigito} ##{address.segundoDigito}-#{address.tercerDigito} #{address.adicional}"/>
                                        
                                    </p:column>
                                    
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <h:outputText value="Delete"/>
                                            
                                        </f:facet>
                                        
                                        <div align="center">
                                        
                                        <p:commandLink>
                                        
                                            <p:ajax event="click" listener="#{completeRegistration.deleteAddress(event,address)}" update="table"/>  
                                            
                                        <p:graphicImage style="width:10%;height: 10%" value="/images/delete.jpg">
                                            
                                            
                                            
                                        </p:graphicImage>
                                            
                                        </p:commandLink>
                                            
                                            </div>
                                    </p:column>
                                    
                                </p:dataTable>
                                    
                        </p:panel>
                                               
                       <p:panel widgetVar="gpsPanel">
                        
                    <p:panelGrid columns="8" style="width:100%;height: 100%">
                        
                                
                        <p:selectOneMenu id="state" widgetVar="state" value="#{completeRegistration.stateName}">
                            
                            <f:selectItems value="#{completeRegistration.states}" var="state" itemLabel="#{state.name}" itemValue="#{state.name}"/>
                            
                            <p:ajax event="change" process="@this" listener="#{completeRegistration.stateChanged}" update="city"/>
                            
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu id="city" widgetVar="city" value="#{completeRegistration.cityName}"  >
                            
                            <f:selectItems value="#{completeRegistration.cities}" var="city" itemLabel="#{city.name}" itemValue="#{city.name}"/>
                            
                            <p:ajax event="change" process="@this" update="@this"/>
                            
                        </p:selectOneMenu>
                        
                        <p:selectOneMenu id="type" widgetVar="type" value="#{completeRegistration.typeAddress}">
                            
                            <f:selectItems value="#{completeRegistration.typeAddressResult}" var="typeAddress" itemLabel="#{typeAddress.typeAddress}" itemValue="#{typeAddress.typeAddress}"/>
                            
                            <p:ajax/>
                        </p:selectOneMenu>
                        
                        <p:inputText id="firstDigit" widgetVar="firstDigit" value="#{completeRegistration.firstDigit}" maxlength="100" style="width:25px">
                            
                            <p:ajax/>
                            
                        </p:inputText>
                        
                        
                        
                        <h:outputText value="#"/>
                        
                        <p:inputText id="secondDigit" widgetVar="secondDigit" maxlength="100" value="#{completeRegistration.secondDigit}" style="width:30px">
                            
                            <p:ajax/>
                            
                        </p:inputText>
                        
                        <h:outputText value="-"/>
                        
                        <p:inputText id="thirdDigit" widgetVar="thirdDigit" value="#{completeRegistration.thirdDigit}" maxlength="100" style="width:30px">
                            
                            <p:ajax/>
                            
                        </p:inputText>
                        
                        <p:inputTextarea id="description" value="#{completeRegistration.description}" counter="counter" counterTemplate="{0} Characters remaining"  maxlength="100">
                        
                            <p:ajax/>
                            
                        </p:inputTextarea>
                        
                        <p:outputLabel id="counter"/>
                        
                        <input type="button" value="Geocode" onclick="codeAddress()"/>
                        
                        <input type="button" value="Resize" onclick="resize()"/>
                        
                    </p:panelGrid>
                   
                        <p:panel widgetVar="innerPanel" style="width:100%;height:100%">
                            
                            <div style="width:100%;height:100%" id="div-map">
                                
                                
                                
                            </div>
                            
                        </p:panel>
                        
                            </p:panel>   
                            
                        </p:panelGrid>
                    
                    </p:tab>
                        
                        <p:tab>
                            
                            <p:remoteCommand name="rc" update="image"/>
                            
                            <f:facet name="title">
                                
                               <h:outputText value="Other Data"/>
                                
                            </f:facet>
                            
                            
                            <p:dataTable id="phoneTable" scrollable="true" value="#{completeRegistration.user.phoneCollection}" reflow="true" var="phone" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rows="5" rowsPerPageTemplate="5 10 15">
                                
                                <f:facet name="header">
                                    
                                    <h:outputText value="Phone List"/>
                                    
                                </f:facet>
                                
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <h:outputText value="Phone"/>
                                        
                                    </f:facet>
                                        
                                    <p:inputMask mask="(999) 999-9999" value="#{phone.phoneNumber}">
                                    <p:ajax/>
                                    </p:inputMask>
                                        
                                  
                                    
                                </p:column>
                                
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <h:outputText value="Delete"/>
                                        
                                    </f:facet>
                                    <div align="center">
                                    <p:commandLink>
                                        
                                        <p:ajax update="phoneTable" event="click" listener="#{completeRegistration.deletePhone(event, phone)}" />
                                        
                                        <p:graphicImage style="width:10%;height:10%" value="/images/delete.jpg"/>
                                        
                                    </p:commandLink>
                                    </div>
                                </p:column>
                                
                                <f:facet name="footer">
                               
                                    <div align="center">
                                    
                                        <p:commandButton icon="ui-icon-plus">
                                            
                                            <p:ajax event="click"  listener="#{completeRegistration.addPhoneNumber}" update="phoneTable"/>
                                            
                                        </p:commandButton>
                                    
                                    </div>
                                    
                                </f:facet>
                                
                            </p:dataTable>
                            
                            <p:panelGrid columns="3">
                                
                    
                        
                        
                        <p:outputLabel for="zipcode" value="Zip Code: "/>
                        
                        <p:inputText id="zipcode" value="#{completeRegistration.user.zipCode}">
                        
                            <p:ajax/>
                        
                        </p:inputText>
                        
                        <p:message for="zipcode"/>
                        
                        
                        <p:outputLabel for="checkbox" value="Opload From Web Cam"/>
                        
                        <p:selectBooleanCheckbox id="checkbox"  widgetVar="checkbox">
                        
                         
                        </p:selectBooleanCheckbox>
                        
                        <h:panelGroup/>
                        </p:panelGrid>
                            
                            <p:panelGrid columns="4" style="height:100%;width:100%">
                            
                                <p:fileUpload label="Upload Picture" id="upload" widgetVar="upload" style="width:100%;height:100%" mode="advanced" auto="true" multiple="false" allowTypes="/(\.|\/)(gif|jpe?p|png)$/" fileUploadListener="#{completeRegistration.handleUpload}" oncomplete="rc()">
                                
                                </p:fileUpload>
                     
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:photoCam id="photocam" widgetVar="photocam" listener="#{completeRegistration.onCapture}" update="image" ></p:photoCam>
                                    
                                    <p:commandButton type="button" widgetVar="capture" value="Capture" onclick="PF('photocam').capture()" oncomplete="rc()">
                                        
                                   
                                        
                                    </p:commandButton>
                                                                      
                                    
                                </p:panelGrid>
                                
                          
                                
                                <p:graphicImage id="image"  style="width:100px;height:100px" value="#{completeRegistration.profileImage}" />
                                
                             
                                <p:commandButton type="button" value="Update Image" onclick="rc()"/>
                        
                            </p:panelGrid>
                                                 
                            
                        </p:tab>
                   
                </p:tabView>
            
               <f:facet name="footer">
                            
               <p:commandButton icon="ui-icon-arrowthick-1-w" value="Previous" type="submit" ajax="false" action="complete-registration"/>
                            
               <p:commandButton icon="ui-icon-close" immediate="true" action="flowReturn"/>
                       
               <p:commandButton  value="Save Changes">
             
                   <p:ajax event="click" listener="#{completeRegistration.saveChanges}"/>
               
               </p:commandButton>
               </f:facet>
                    
                        
                        
               </p:panel>
                    
                </h:form>
                
            </f:view>   
           
          
            
        
    </ui:define>
    
    
</ui:composition>
