<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    <ui:define name="head">
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:panel id="mainPanel">
                    
                    <p:megaMenu orientation="horizontal" style="width:100%;height:100%">
                        
                        <p:submenu label="#{bundle['edenSupplierIndex.SupplierTab']}" style="width:25%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexSupplierTab.EditSupplier']}"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['edenSupplierIndex.CategoryTab']}" style="width:25%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexCategoryTab.AddCategory']}" url="/Supplier/category/add/add-category.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexCategoryTab.ListCetegories']}" url="/Supplier/category/list/category.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['edenSupplierIndex.ProductTab']}" style="width:25%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexProductTab.AddProduct']}"/>
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexProductTab.ListProducts']}"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['edenSupplierIndex.SaleTab']}" style="width:25%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexSaleTab.AddSale']}"/>
                                    
                                    <p:menuitem value="#{bundle['edenSupplierIndexSaleTab.EditSale']}"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        
                    </p:megaMenu>
                    
                </p:panel>
                
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>