<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <script>
            
            
window.onload = function init(){
    
    
   console.log("EDENFINAL USER UPDATE ACCOUNT "+'#{updateAccountView.user.gender}');
   
   PF('oldPassword').jq.val('');
   
   
   $(PrimeFaces.escapeClientId("generalInfoForm:j_idt26:gender_input option")).each(function(){
      });
      
      if('#{updateAccountView.user.gender}'=='Male'){
          
          console.log("Male");
          
          PF('gender').selectValue('#{updateAccountView.user.gender}');
          
      }
      else if('#{updateAccountView.user.gender}'=='Female'){
          
          console.log("Female");
          
          PF('gender').selectValue('#{updateAccountView.user.gender}');
          
      }
           
           console.log('#{updateAccountView.user.professionIdprofession.idprofession}');
           
       PF('profession').selectValue('#{updateAccountView.user.professionIdprofession.idprofession}');
  
   
   
  




};

function display(){
    
          console.log("CALLING AJAX");
        $.ajax({
            
            type: 'get', // it's easier to read GET request parameters
    url: '/SeverityServlet',
    dataType: 'JSON',
    data: { 
      loadProds: 1,
      test: JSON.stringify({id:'eden'}) // look here!
    },
    
            
            complete : function(data){},
            
            success : function(data){
                
                console.log("SUCCESS");
                
                
                console.log("SEVERITY "+data.severity);
                
                console.log("MESSAGE "+data.message);
                
                console.log("TITLE "+data.title);
                
                PF('growl').show([{summary:data.title, detail: data.message, severity: data.severity}]);
                
            },
            
            error: function(data){}
            
        });
    
    
  
}

function ajaxCalled(){
    
    try{
        console.log("CALLING AJAX");
        $.ajax({
            
            type: 'get', // it's easier to read GET request parameters
    url: 'SeverityServlet',
    dataType: 'JSON',
    data: { 
      loadProds: 1,
      test: JSON.stringify({id:'eden'}) // look here!
    },
    
            
            complete : function(data){},
            
            success : function(data){
                
                console.log("SUCCESS");
                
            },
            
            error: function(data){}
            
        });
        
    }
    catch (err){
        
        console.log("Error Caugth");
        
    }
    
    
}
            
        </script>
      
        
    </ui:define>
    
    
    <ui:define name="content">
        
        <p:growl showDetail="true" widgetVar="growl" id="growl" autoUpdate="true"  life="2000" sticky="true" />
                     
        
                    <h:form id="messageForm">
                       
                          
                        <f:event type="preRenderView" listener="#{updateAccountView.preRenderView}"/>

                    </h:form>
                    

                <p:panel>
                    
              
                    
                    <p:tabView>
                        
                          
                        <p:tab id="generalTab">
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab']}"/>
                                
                            </f:facet>
                            
                            <f:view>
                                
                                <h:form id="generalInfoForm">
                                  
                                  
                                    
                             <p:panelGrid columns="3">
                        
                                
                                 
                                 <p:outputLabel for="name" value="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Name']}: "/>
                        
                                 <p:inputText id="name" required="true" value="#{updateAccountView.user.name}">
                                     
                                     <p:ajax event="blur" update="nameMessage"/>
                                     
                                 </p:inputText>
                                 
                                 <p:message id="nameMessage" for="name" showDetail="true" display="icon" style="display: block"/>
                                 
                                 <p:outputLabel for="birthday" value="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Birthday']}: "/>
                                 
                                 <p:calendar id="birthday" mode="inline" navigator="true" yearRange="1930:2015" pattern="dd/MM/yyyy" value="#{updateAccountView.user.birthday}">
                                 
                                     <p:ajax event="dateSelect" listener="#{updateAccountView.dateSelection}"/>
                                     
                                 </p:calendar>
                                     
                                 <p:message for="birthday" showDetail="true" display="icon"/>
                                 
                                 <p:outputLabel for="gender" value="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Gender']}: "/>
                                 
                                 <p:selectOneMenu id="gender" widgetVar="gender" value="#{updateAccountView.user.gender}">
                                     
                                     <p:ajax process="@this" update="@this"/>
                                     
                                     <f:selectItem itemLabel="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Gender.Male']}" itemValue="Male"></f:selectItem>
                                     
                                     <f:selectItem itemLabel="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Gender.Female']}" itemValue="Female"/>
                                     
                                 </p:selectOneMenu>
                                     
                                 <p:message for="gender" showDetail="true" display="icon"/>
                                 
                                 <p:outputLabel for="profession" value="#{bundle['EdenFinalUser.UpdateInfo.GeneralTab.Profession']}"/>
                                 
                                 <p:selectOneMenu id="profession" widgetVar="profession" value="#{updateAccountView.user.professionIdprofession.idprofession}">
                                       
                                     <p:ajax process="@this" update="@this"/>
                                     
                                     <f:selectItems value="#{updateAccountView.professions}" var="item"  itemLabel="#{item.profession}" itemValue="#{item.idprofession}"/>
                                     
                                 </p:selectOneMenu>
                                 
                                 <p:message for="profession" showDetail="true" display="icon"/>
                                 
                                     <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton ajax="false" value="#{bundle['EdenFinalUser.UpdateInfo.UpdateButton']}">
                            
                                <p:ajax event="click"  listener="#{updateAccountView.updateGeneralInformation}" oncomplete="display()"/>
                            
                            </p:commandButton>
                            
                        </div>
                        
                    </f:facet>
                                 
                             </p:panelGrid>
                            
                            
                        </h:form>
                            
                        </f:view>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['EdenFinalUser.UpdateInfo.PasswordTab']}"/>
                                
                            </f:facet>
                            
                            <f:view>
                                
                                <h:form id="passwordForm">
                            
                            <h:panelGrid id="passwordGrid" columns="3" cellpadding="5">
                                

                            <p:outputLabel for="oldPassword" value="#{bundle['EdenFinalUser.UpdateInfo.PasswordTab.OldPassword']}"/>
                            
                            <p:password widgetVar="oldPassword" id="oldPassword" feedback="true"   value="#{updateAccountView.oldPassword}" validatorMessage="#{bundle['EdenFinalUser.UpdateInfo.PasswordTab.OldPassword.Validator']}">
                            
                         
                            
                            </p:password>
                            
                            <p:message id="oldPasswordMessage" for="oldPassword" showDetail="true"/>
                            
                            <p:outputLabel for="newPassword" value="#{bundle['EdenFinalUser.UpdateInfo.PasswordTab.NewPassword']}"/>
                            
                            <p:password id="newPassword" match="newPasswordConfirmation"   value="#{updateAccountView.newPassword}">
       
                              
                         
                            </p:password>
                            
                            <p:message id="newPassWordMessage" for="newPassword" showDetail="true"/>
                                
                            <p:outputLabel for="newPasswordConfirmation" value="#{bundle['EdenFinalUser.UpdateInfo.PasswordTab.NewPasswordConfirmation']}"/>
                            
                            <p:password id="newPasswordConfirmation"  value="#{updateAccountView.newPassword}">
                                
                                <f:validateLength minimum="6" maximum="128"/>
                            
                            </p:password>
                            
                            <p:message for="newPasswordConfirmation"/>
                            
                            <f:facet name="footer">
                                
                                <div align="center">
                                    
                                    <p:commandButton value="#{bundle['EdenFinalUser.UpdateInfo.UpdatePasswordButton']}" update="growl" actionListener="#{updateAccountView.updatePassword}" onsuccess="display()">

                                      
                                    </p:commandButton>
                                    
                                </div>
                                
                            </f:facet>
                            
                            </h:panelGrid>
                          
                        </h:form>
                            
                        </f:view>
                        
                        
                        </p:tab>
                        
                        
                        <!--Address TAB-->
                        
                        <p:tab id="addressTab">
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['EdenFinalUser.UpdateInfo.UpdateAddressTab']}"/>
                                
                            </f:facet>
                            
                            <h:form id="addressForm">
                            
                                <p:panel style="width:100%;height:100%">
                                
                                    <f:facet name="header">
                                        
                                        <p:commandButton icon="ui-icon-plus">
                                            
                                            <p:ajax immediate="true" event="click" listener="#{updateAccountView.addAddress}" update="@form"/>
                                            
                                        </p:commandButton>
                                        
                                    </f:facet>
                                    
                            <p:dataScroller id="addressScroller" value="#{updateAccountView.addressViewLayoutCollection}" var="addressViewLayout" chunkSize="20">
                                
                                <p:panelGrid columns="11">
                                
                                
                                    <p:selectOneMenu value="#{addressViewLayout.address.direccionPK.CITYSTATEidSTATE}">
                                    
                                    <p:ajax event="change" listener="#{updateAccountView.stateChanged(addressViewLayout)}" process="@this" update="@this,cities"/>
                                        
                                    <f:selectItems value="#{stateSingletonController.stateList}" var="state" itemLabel="#{state.name}" itemValue="#{state.idSTATE}"/>
                                    
                                    </p:selectOneMenu>
                                    
                                    <p:selectOneMenu id="cities" value="#{addressViewLayout.address.city.cityPK}">
                                        
                                        <f:converter converterId="CityPKConverter"/>
                                        
                                        <f:selectItems value="#{addressViewLayout.cityCollection}" var="city" itemLabel="#{city.name}" itemValue="#{city.cityPK.STATEidSTATE},#{city.cityPK.idCITY}"/>
                                        
                                        <p:ajax/>
                                        
                                    </p:selectOneMenu>
                                    
                                    <p:selectOneMenu value="#{addressViewLayout.address.TYPEADDRESSidTYPEADDRESS.typeAddress}">
                                        
                                        <f:selectItems value="#{AddressTypeController.type}" var="typeAddress" itemLabel="#{typeAddress}" itemValue="#{typeAddress}"/>
                                        
                                        <p:ajax/>
                                        
                                    </p:selectOneMenu>
                                    
                                    <p:inputText value="#{addressViewLayout.address.primerDigito}">
                                        
                                        <p:ajax/>
                                        
                                    </p:inputText>
                                    
                                    <h:outputText value="#"/>
                                    
                                    <p:inputText value="#{addressViewLayout.address.segundoDigito}">
                                        
                                        <p:ajax/>
                                        
                                    </p:inputText>
                                    
                                    <h:outputText value="-"/>
                                    
                                    <p:inputText value="#{addressViewLayout.address.tercerDigito}">
                                        
                                        <p:ajax/>
                                        
                                    </p:inputText>
                                 
                                        
                                        <p:inputTextarea value="#{addressViewLayout.address.adicional}" counter="additonalLabel" id="aditional" counterTemplate="{0} characters remaining" maxlength="45">
                                          
                                            <p:ajax/>
                                            
                                        </p:inputTextarea>
                                        
                                        <p:outputLabel id="additonalLabel"/>
                                   
                                
                                        <p:commandLink>
                                            
                                            <p:graphicImage value="/images/delete.jpg" styleClass="content" cache="false" style="width:100%"/>
                                            
                                            <p:ajax event="click" listener="#{updateAccountView.deleteAddress(addressViewLayout)}" update="@form"/>
                                            
                                        </p:commandLink>
                                        
                                        
                                    
                            </p:panelGrid>
                                
                                <f:facet name="footer">
                                            
                                            <div align="center">
                                            
                                                <p:commandButton value="#{bundle['EdenFinalUser.UpdateInfo.UpdateAddressButton']}" actionListener="#{updateAccountView.updateAddress}"/>
                                            
                                            </div>
                                            
                                        </f:facet>
                                
                            </p:dataScroller>
                            
                                    <f:facet name="footer">
                                            
                                            <div align="center">
                                            
                                                <p:commandButton value="#{bundle['EdenFinalUser.UpdateInfo.UpdateAddressButton']}" actionListener="#{updateAccountView.updateAddress}"/>
                                            
                                            </div>
                                            
                                        </f:facet>
                                    
                                </p:panel>
                                    
                        </h:form>
                            
                            
                        </p:tab>
                        
                    </p:tabView>
          
                
                    
                    
                </p:panel>
                
           
        
        
    </ui:define>
    
    
</ui:composition>