<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
        <h:outputScript library="javascript" name="franchiseAdministratorAddCategory.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:messages id="messages" showDetail="true"/>
                
                <input type="hidden" name="hiddenPath" id="hiddenPath"/>
                
                  <f:event type="preRenderView" listener="#{addCategoria.setType}"/>
                    
                  <f:event type="postValidate" listener="#{addCategoria.checkCategoryName}"/>
                    
                
                  <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                <p:panel style="width:100%;height:100%">
                
                    <f:facet name="header">
                        
                        <div align="center">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorCategory.PanelTitle']}"/>
                            
                        </div>
                        
                    </f:facet>
                   <p:tabView id="tabView">
                       
                       <p:tab>
                       
                           <f:facet name="title">
                               
                               <h:outputText value="#{bundle['franchiseAdministratorCategory.TabCategoryTitle']}"/>
                               
                           </f:facet>
                           
                <p:panelGrid columns="3">
                                                               
                        
                    <p:outputLabel for="nombre" value="#{bundle['franchiseAdministratorCategory.AddCategoryName']}"/>
                    
                    
                    <p:inputText id="nombre" required="true" requiredMessage="You must type a valid category name" value="#{addCategoria.cat}">
                    
                          <p:ajax event="blur" update=":form:messages"/>
                    
                    </p:inputText>
                    
               
                    
                    <p:message for="nombre" display="icon" showDetail="true"/>
                    
                    <p:outputLabel for="uploader" value="#{bundle['franchiseAdministratorCategory.FileUploader']}"/>
                    
                    <p:fileUpload id="uploader" update="galleria" mode="advanced" auto="true" multiple="true" fileUploadListener="#{addCategoria.handleFileUpload}" dragDropSupport="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                    
                    <p:message for="uploader" display="icon" showDetail="true"/>
                    
                   
                    
                </p:panelGrid>
                           
                           <p:panel>
                               
                               <p:confirmDialog global="true" widgetVar="confirmDialog" severity="alert" closable="true" showEffect="fade" hideEffect="fade" closeOnEscape="true" >
                                   
                                   <p:panelGrid columns="2">
                                       
                                       <p:commandButton icon="ui-icon-check" styleClass="ui-confirm-dialog-yes" value="#{bundle['franchiseAdministratorUpdateCategory.ConfirmDialogYes']}">
                                       
                                           <p:ajax event="click" oncomplete="PF('confirmDialog').hide()" listener="#{addCategoria.removeImage}" update="galleria"/>
                                       
                                       </p:commandButton>
                                       
                                       <p:commandButton icon="ui-icon-close" styleClass="ui-confirmdialog-no" value="#{bundle['franchiseAdministratorUpdateCategory.ConfirmDialogNo']}" onclick="PF('confirmDialog').hide()"/>
                                       
                                   </p:panelGrid>
                                   
                                   
                               </p:confirmDialog>
                               
                             <p:galleria id="galleria" value="#{fileUploadBean.images}" var="image">
                    
                             <p:graphicImage onclick="showDialog('#{image}')" cache="false" styleClass="content" style="width:100%;height:100%"  value="#{image}"/>
                    
                             </p:galleria>
                               
                           </p:panel>
                           
                       </p:tab>
                       
                       <p:tab>
                           
                           <f:facet name="title">
                               
                               <h:outputText value="#{bundle['franchiseAdministratorCategory.TabDetailsTitle']}"/>
                               
                           </f:facet>
                           
                           <p:panel style="width:100%;height:100%">
                                                           
                               <p:editor style='width:100%;height:100%' value="#{addCategoria.description}"/>
                               
                           </p:panel>
                           
                       </p:tab>
                
                       
                      
</p:tabView>
                    <f:facet name="footer">
                    
                     <div align='center'>
                           
                         <p:commandButton update=":form:messages" type="submit" ajax="false" icon='ui-icon-disk' value="#{bundle['franchiseAdministratorCategory.SaveChanges']}" actionListener="#{addCategoria.agregar}"/>
                           
                       </div>
                    
                    </f:facet>
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>