<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
      <ui:define name="head">
        
        <h:outputScript library="javascript" name="franchiseAdministratorListCategories.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                
                <p:messages id="messages" showDetail="true"/>
                
                   <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                <f:event type="preRenderView" listener="#{addCategoria.setType}"/>
                
                <p:dataGrid id="dataGrid" widgetVar="dataGrid" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" rows="5" columns="3" rowsPerPageTemplate="5 10 15" style="width:100%;height:100%" layout="grid" var="item" value="#{addCategoria.categories}">
                    
                    <p:panel id="categoryPanel">
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{item.category.nombre}"/>
                                
                            </div>
                            
                        </f:facet>
                               
                        <div align="center">                           
                             
                            <p:commandLink type='submit' ajax='false' action='#{commandlinks.setAuxiliarComponent(item.category)}' >
                            
                                <p:graphicImage id="switchImage" value="#{item.image}" styleClass="content" style="width:50%" cache="false">                           
                          
                            </p:graphicImage>
                                
                            </p:commandLink>  
                             
                        </div>
                       
                        <p:confirmDialog severity="alert" widgetVar="confirmDialog" global="true" closable="true" showEffect="fade" hideEffect="gade">
                                
                                <p:panelGrid columns="2">
                                    
                                    <p:commandButton  styleClass="ui-confirmdialog-yes" icon="ui-icon-check" value="#{bundle['franchiseAdministratorListCategories.ConfirmDiaglosYesButton']}">
                                    
                                        <p:ajax event="click" listener="#{addCategoria.deleteCategoryFromFranchise(item.category)}" update="dataGrid" oncomplete="PF('confirmDialog').hide()"/>
                                    
                                    </p:commandButton>
                                    
                                    <p:commandButton type="button" onclick="PF('confirmDialog').hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" value="#{bundle['franchiseAdministratorListCategories.ConfirmDialogNoButton']}"/>
                                    
                                </p:panelGrid>
                                                    
                            </p:confirmDialog>
                        
                        <f:facet name="footer">
                                                                    
                            <div align="center">
                                
                                <p:commandButton type="button" onclick="ShowDialog('#{item.category.nombre}')" value="#{bundle['franchiseAdministratorListCategories.DeleteButton']}" icon="ui-icon-close"/>
                                
                            </div>
                            
                        </f:facet>
                        
                    </p:panel>
                                     
                </p:dataGrid>
                            
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>
