<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:define name="head">

       <h:outputScript library="javascript" name="jquery.coverflow.js"/>
      
       <h:outputScript library="javascript" name="franchiseAdministratorHome.js"/>
        
    </ui:define>
    
    <ui:define name="header-right-center-panel">
        
        <f:view>
        
            <h:form>
            
        <p:commandLink action="editAccount" ajax="false" type="submit">
        
        <p:graphicImage styleClass="content" cache="false" style="width:50%" value="/images/edit.png"/>
        
        </p:commandLink>
        
            </h:form>
                
        </f:view>
            
    </ui:define>
    
    <ui:define name="header-center">
        
        <p:panelGrid style="width:100%;height:100%" columns="2" layout="grid">
     
                
            <p:autoComplete id="autocomplete" maxlength="1000" value="#{businessHomeView.search}"   maxResults="5" completeMethod="#{businessHomeView.getAutoComplete}" >
                  
                <p:ajax event="itemSelect" listener="#{businessHomeView.dosearch}"/>
                    
             </p:autoComplete>
 
            <p:commandButton value="#{bundle['searchButton']}" actionListener="#{businessHomeView.globalSearch}">
            
                
            
            </p:commandButton>
            
        </p:panelGrid>
        
    </ui:define>
    
    <ui:define name="content">
        
        
        <f:view>
            
            <h:form id="form">
                
                  
                <f:event type="preRenderView" listener="#{businessHomeView.preRenderView}"/>
                
                <p:megaMenu id="megamenu" style="width:100%;border:none" widgetVar="megaMenu">

                    <p:submenu id="franchise" style="#{businessHomeView.style}" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                             <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}" />
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:16%" id="branch" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/sucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="#{businessHomeView.style}" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="/adminFranquicia/agregarcategoria.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}" rendered="#{businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="/adminFranquicia/listadocategorias.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}" rendered="#{businessHomeView.restaurant}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="#{businessHomeView.style}" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="/adminFranquicia/agregarinventario.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"  rendered="#{businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="/adminFranquicia/invlisting.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}" rendered="#{businessHomeView.restaurant}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="#{businessHomeView.style}" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="/adminFranquicia/AgregarProducto.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}" rendered="#{businessHomeView.restaurant}"/>
                              
                                <p:menuitem url="/adminFranquicia/listarproducto.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}" rendered="#{businessHomeView.restaurant}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style='width:12%' label='Menu' rendered="#{businessHomeView.restaurant}">
                                                
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                            <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="/adminFranquicia/AddMenu.xhtml"/>
                                
                            <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="/adminFranquicia/MenuListing.xhtml"/>
     
                            </p:submenu>
                            
                        </p:column>
                        
                          
                    </p:submenu>
                    
                    <p:submenu label='Adition' style='width:12%' rendered="#{businessHomeView.restaurant}">
                        
                        <p:column>
                            
                            <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                 <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="/adminFranquicia/Addaddition.xhtml"/>
                                    
                                 <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="/adminFranquicia/listaddition.xhtml"/>
                                  
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu id="sale" style="#{businessHomeView.style}" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem url="sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}" rendered="#{!businessHomeView.restaurant}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="/adminFranquicia/add-sale.xhtml" rendered="#{businessHomeView.restaurant}"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="/adminFranquicia/list-sale.xhtml" rendered="#{businessHomeView.restaurant}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                          
               
                    
                </p:megaMenu> 
         
                <p:panel widgetVar="mainPanel" style="width:100%;height:100%">
                    
                         <div id="cover" class="coverflow" style="width:100%;height:100%">
                        
                        <ui:repeat value="#{businessHomeView.contentFlowOptions}" var="item">
              
                            <!--<p:commandLink  type="submit" ajax="false" action="#{businessHomeView.redirect(item.link)}">
                            
                       
                        
                            </p:commandLink>-->
                               <p:graphicImage id="image" cache="false" styleClass="content" value="#{item.image}"/>
                        </ui:repeat>
                        
                         </div>
                    
                </p:panel>
                
        </h:form>
            
        </f:view>
        
    </ui:define>
    
    
</ui:composition>