<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddProductSucursalAdministrator.js"/>
    
      
        
    </ui:define> 
    
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
        
        <f:view>
            
            <h:form id="form">
                
                <f:event type="preRenderView" listener="#{product.preRenderView}"/>
                
               
                
                  <p:megaMenu orientation="horizontal" style="width:100%;border:none">
                             
                             <p:submenu label="#{bundle['sucursalAdministratorIndex.Inventory']}" style="width:17%">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddInventory']}" url="add-inventory.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListInventary']}" url="list-inventory.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddProduct']}" url="add-product.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListProducts']}" url="list-products.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:15%" label="#{bundle['sucursalAdministratorIndex.Menu']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddMenu']}" url="add-menu.xhtml"/>
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListMenu']}" url="list-menu.xhtml"/>
                                     
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Addition']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddAddition']}" url="add-addition.xhtml"/>
                                         
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListAddition']}" url="list-addition.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             
                       
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Sale']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListSales']}" url="list-sale.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Worker']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddWorker']}" url="addworker.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListWorker']}" url="workerList.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                         </p:megaMenu>
                
                <p:panel style="width:100%;height:100%">
                    
                     <p:growl id="messages" escape="false"/>
                    
                    <p:tabView id="tabView" style="width:100%;height:100%">
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['sucursalAdministratorProduct.SelectProductTab']}"/>
                                
                            </f:facet>
                            
                                 <p:dataGrid widgetVar="productGrid" value="#{product.products}" var="item" columns="3" style="width:100%;height:100%" rowsPerPageTemplate="4 8 16" rows="4" layout="grid" emptyMessage="No Items To show" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                        
                        <p:panel id="imagePanel" style="width:100%">
                            
                            <f:facet name="header">
                                
                                <div align="center">
                                    
                                    <h:outputText value="#{item.product.nombre} #{item.product.productoPK.idproducto}"/>
                                    
                                    
                                </div>
                                
                            </f:facet>
                            
                            <div align="center">
                                                                 
                                <p:graphicImage id="productImage" value="#{item.image}" cache="false" style="width:100%;height:100%" styleClass="content">
                                                                                             
                                    
                                  
                                
                                </p:graphicImage>                                    
                                
                            </div>
                            
                            <f:facet name="footer">
                                
                                <div align="center">
                                    
                                    <p:commandButton value="#{bundle['sucursalAdministratorProduct.SelectedProductsTableAddToList']}" icon="ui-icon-check">
                                        
                                        <p:ajax event="click" listener="#{product.addToList(item)}" update=":form:messages,:form:tabView:selectedProducts"/>
                                        
                                    </p:commandButton>
                                    
                                </div>
                                
                            </f:facet>
                            
                        </p:panel>
                        
                    </p:dataGrid>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <div align="center">
                                    
                                    <h:outputText value="#{bundle['sucursalAdministratorProduct.SelectedProducts']}"/>
                                    
                                </div>
                                
                            </f:facet>
                            
                            <p:dataTable id="selectedProducts" style="width:100%;height:100%" rows="10" rowsPerPageTemplate="10 20 30" value="#{product.selectedImages}" var="selected" reflow="true" scrollable="true" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                            
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['sucursalAdministratorProduct.SelectedProductsTableName']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{selected.product.nombre}"/>
                                        
                                    </div>
                                    
                                </p:column>
                            
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['sucursalAdministratorProduct.SelectProductsTableImage']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    <div align="center">
                                    <p:graphicImage cache="false" value="#{selected.image}" styleClass="content" style="width:20%;"  />
                                    </div>
                                </p:column>
                                
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['sucursalAdministratorProduct.SelectProductsTableDelete']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <div align="center">
                                        
                                        <p:commandLink>
                                            <p:ajax event="click" listener="#{product.deleteFromProductList(selected)}" update=":form:messages,:form:tabView:selectedProducts"/>
                                        <p:graphicImage value="/images/delete.jpg" cache="false" styleClass="content" style="width:10%" />
                                        </p:commandLink> 
                                        
                                    </div>
                                    
                                </p:column>
                                
                            </p:dataTable>
                            
                        </p:tab>
                        
                    </p:tabView>
                    
                    <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton icon="ui-icon-disk" action="#{product.update}" update="@all" type="submit" ajax="false" value="#{bundle['sucursalAdministratorProduct.SaveChanges']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                    
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        </p:panel>
    </ui:define>
    
</ui:composition>