
<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:define name="west-pos">
        
        <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Agregar Categoria" url="agregarcategoria.xhtml" />
                            <p:menuitem value="Listar Categorias" url="listadocategorias.xhtml" />
                         
                             <p:menuitem value="Producto" url="producto.xhtml" />
                             <p:menuitem value="Menu" url="Menu.xhtml"/>
                            <p:menuitem value="Inventario" url="inventario.xhtml" />

                        </p:submenu>

                    </p:menu>
        
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <p:dataGrid id="grid" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" value="#{indexCategoriesView.indexCategoriesViewController.indexCategoryList}" var="image" paginator="true" rowsPerPageTemplate="3 6 9" rows="3" columns="3" layout="grid" >
                        
                        <p:commandLink type="submit" ajax="false" action="#{indexCategoriesView.selectCategory}">
                        
                        <p:graphicImage value="#{image.imageRoot}" styleClass="content" cache="false" style="width:100%;height:100%"/>
                        
                        <f:setPropertyActionListener target="#{indexCategoriesView.selectedCategory}" value="#{image.key}"/>
                        
                        </p:commandLink>
                    </p:dataGrid>
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
    
    
</ui:composition>



