<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
    >
         
    
     <ui:define name="west-pos">
     <p:menu>
                        <p:submenu label="Resources">
                            
                            <p:menuitem value="Categoria" url="categoria.xhtml" />
                            <p:menuitem value="Inventario" url="inventario.xhtml" />
                            <p:menuitem value="Producto" url="producto.xhtml" />
                            <p:menuitem value="Maps" url="maps.xhtml" />
                            <p:menuitem value="Sucursal" url="sucursal.xhtml"/>
                            <p:menuitem value="QR Code" url="QRCode.xhtml"/>
                            <p:menuitem value="Administrador" url="admin/administrador.xhtml"/>

                        </p:submenu>

                    </p:menu>                
                    
     </ui:define>
    
    <ui:define name="content">
        
        <f:view>


                 <h:form>
                     <h1><h:outputText value="Inventary List"/></h1>
                     <p:dataTable id="table" value="#{listingInv.allInv}" var="item" paginator="true" rows="5" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                  rowsPerPageTemplate="3,5,10" widgetVar="50" style="width: 800px;" rowKey="#{item.idinventario}" selection="#{listingInv.deleteList}" >
                         
                         <p:column selectionMode="multiple"/>
                      
                         <p:column>
                             <f:facet name="header">
                                 <h:outputText value="Nombre"/>
                             </f:facet>
                             <h:outputText id="name" value="#{item.nombre}">
                             
                             </h:outputText>
                                
                                  
                           
                         </p:column>
                      
                       
                        
                     </p:dataTable>
                     
                     <p:commandButton value="Delete" actionListener="#{inventarioBackingBean.deleteInv(event)}" update="table"/>
                     
                 </h:form>
             </f:view>
        
    </ui:define>
    
</ui:composition>
