<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="sucursalAdministratorListProducts.js"/>
      
        
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <f:event type="preRenderView" listener="#{product.preRenderView}"/>
                    
                    <p:messages id="messages"  showDetail="true"/>
                   
                        <p:megaMenu orientation="horizontal" style="width:100%;border:none">
                             
                             <p:submenu label="#{bundle['sucursalAdministratorIndex.Inventory']}" style="width:17%">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddInventory']}" url="add-inventory.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListInventary']}" url="list-inventory.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddProduct']}" url="add-product.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListProducts']}" url="list-products.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:15%" label="#{bundle['sucursalAdministratorIndex.Menu']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddMenu']}" url="add-menu.xhtml"/>
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListMenu']}" url="list-menu.xhtml"/>
                                     
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Addition']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddAddition']}" url="add-addition.xhtml"/>
                                         
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListAddition']}" url="list-addition.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             
                       
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Sale']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListSales']}" url="list-sale.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Worker']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddWorker']}" url="addworker.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListWorker']}" url="workerList.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                         </p:megaMenu>
                    
                   
                        
                        <p:dataTable id="productsTable" widgetVar="productsTable"  rows="10" rowsPerPageTemplate="10 20 30" reflow="true" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" value="#{product.updateLazyModel}" var="item" style="width:100%;height:100%">
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['sucursalAdministratorListProduct.Name']}"/>
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <h:outputText value="#{item.product.nombre}"/>
                                
                            </p:column>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['sucursalAdministratorListProduct.Image']}"/>
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <div align="center">
                                    
                                    <p:graphicImage cache="false" styleClass="content" value="#{item.image}" style="width:30%"/>
                                    
                                </div>
                                
                            </p:column>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <div align="center">
                                        
                                        <h:outputText value="#{bundle['sucursalAdministratorListProduct.Delete']}"/>
                                        
                                    </div>
                                    
                                </f:facet>
                                
                                <div align="center">
                                    
                                    <p:commandLink> 
                                        
                                        <p:ajax event="click" listener="#{product.delete(item)}" update=":form:messages,:form:productsTable"/>
                                        
                                <p:graphicImage cache="false" styleClass="content" style="width:20%" value="/images/delete.jpg"/>
                                </p:commandLink>
                                </div>
                                
                            </p:column>
                            
                        </p:dataTable>
                        
                 
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>
