<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
         
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <p:messages id="messages" showDetail="true"/>
                
                <f:event type="preRenderView" listener="#{sucursalSaleView.preRenderView}"/>
                
                   <p:megaMenu orientation="horizontal" style="width:100%;border:none">
                             
                             <p:submenu label="#{bundle['sucursalAdministratorIndex.Inventory']}" style="width:17%">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddInventory']}" url="add-inventory.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListInventary']}" url="list-inventory.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddProduct']}" url="add-product.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListProducts']}" url="list-products.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:15%" label="#{bundle['sucursalAdministratorIndex.Menu']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddMenu']}" url="add-menu.xhtml"/>
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListMenu']}" url="list-menu.xhtml"/>
                                     
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Addition']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddAddition']}" url="add-addition.xhtml"/>
                                         
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListAddition']}" url="list-addition.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             
                       
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Sale']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListSales']}" url="list-sale.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Worker']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddWorker']}" url="addworker.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListWorker']}" url="workerList.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                         </p:megaMenu>
                
                <p:dataTable id="table" reflow="true" rows="10" scrollable="true" rowsPerPageTemplate="10 20 30" value="#{sucursalSaleView.updateSaleList}" var="item" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}" style="width:100%;height:100%">
                
                    <f:facet name="header">
                        
                        <div align="center">
                            
                            <h:outputText value="#{bundle['sucursalAdministratorListSale.TableTitle']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            <div align="center">
                            <h:outputText value="#{bundle['sucursalAdministratorListSale.TableNameTab']}"/>
                            </div>
                        </f:facet>
                        
                        <h:outputText value="#{item.sale.name}"/>
                        
                    </p:column>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{bundle['sucursalAdministratorListSale.TableImageTab']}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <div align="center">
                        
                        <p:graphicImage  cache="false" styleClass="content" style="width:30%" value="#{item.image}"/>
                        
                        </div>
                        
                    </p:column>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{bundle['sucursalAdministratorListSale.TableDeleteTab']}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <div align="center">
                            
                            <p:confirmDialog severity="alert" closable="true" closeOnEscape="false" global="true" showEffect="fade" hideEffect="fade" widgetVar="dialog">
                                
                                <p:panelGrid columns="2" layout="grid">
                                    
                                    <p:commandButton icon="ui-icon-check"  styleClass="ui-confirmdialog-yes" value="#{bundle['confirmDialog.yesButton']}">
                                    
                                     <p:ajax listener="#{sucursalSaleView.deleteFromUpdateList(item)}" update="@all" onsuccess="PF('dialog').hide()"/>
                                    
                                    </p:commandButton>
                                        
                                        
                                    <p:commandButton icon="ui-icon-close" styleClass="ui-confirmdialog-no" value="#{bundle['confirmDialog.noButton']}"/>
                                    
                                </p:panelGrid>
                                
                            </p:confirmDialog>
                            
                            <p:commandLink onclick="showConfirmDialog('#{bundle['sucursalAdministratorListSale.DeleteSale']}','#{bundle['sucursalAdministratorListSale.DeleteSaleBody']}')">
                            
                            <p:graphicImage cache="false" styleClass="content" style="width:10%" value="/images/delete.jpg"/>
                            
                            </p:commandLink>
                       
                        </div>
                        
                    </p:column>
                    
                  
                    
                </p:dataTable>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
    
</ui:composition>