<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
                
                   <h:outputStylesheet library="css" name="styles.css"/>
                  
            </f:facet>
            
         
   
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>


  

        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <p:themeSwitcher style="width: 165 px" effect="fade">
                        
                        <f:selectItem itemLabel="Choose Theme" itemValue=""/>
                        <f:selectItems value="#{UserSettingsController.themes}"/>
                    </p:themeSwitcher>
                   
                    
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Categoria" url="categoria.xhtml" />
                            <p:menuitem value="Inventario" url="inventario.xhtml" />
                            <p:menuitem value="Producto" url="producto.xhtml" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                 
                    <f:view>
                        <h:form>
                            <p:inputText class="address" value="Sydney, NSW"/>
                            <p:commandButton value="Geocode" onclick="codeAddress()" />
                            <p:gmap widgetVar="widgetv"  type="terrain" center="4.5981, -74.0758" zoom="15" style="width:600px;height:400px">
                                        
                             </p:gmap>  
                        </h:form>
                    </f:view>

               
    
    
 
             
                    
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

