<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head"></ui:define>
    
    
    <ui:define name="content">
        <p:panel style="width:100%;height:100%">
        <f:view>
            
            <h:form id="form">
                
                <p:dataTable id="orders" value="#{ordersView.orders}" var="order" rows="12" rowsPerPageTemplate="12 24 36" reflow="true" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{bundle['sucursalAdministratorOrder.IdOrder']}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <div align="center">
                            
                            <h:outputText value="#{order.idPEDIDO}"/>
                            
                        </div>
                        
                    </p:column>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{bundle['sucursalAdministratorOrder.OrderStatus']}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <div lign="center">
                            
                            <h:outputText value="#{order.pedidoStatestateId.state}"/>
                            
                        </div>
                        
                    </p:column>
                    
                </p:dataTable>
                
             
            </h:form>
            
        </f:view>
        </p:panel>
    </ui:define>
    
    
</ui:composition>