<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="west-pos">
        
        <p:menu>
            
            <p:submenu label="Resources">
                
                <p:menuitem value="#{bundle['sucursalAdministrador.saleAddSale']}" url="add-sale.xhtml"/>
                
            </p:submenu>
            
        </p:menu>
        
    </ui:define>
    
    <ui:define name="content">
    
        
    </ui:define>
    
</ui:composition>
