<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
  
             
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <f:event type="preRenderView" listener="#{inventory.setType(event, 'updateInventory')}"/>
                    
                    <p:panel style="width:100%;height:100%">
                        
                        <f:facet name="header">
                            
                            <div align="center">
                                
                                <h:outputText value="#{inventory.updateInventory.inventario.nombre}"/>
                                
                            </div>
                            
                        </f:facet>
                        
                        <p:panelGrid columns="3">
                            
                            <p:outputLabel for="quantity" value="#{bundle['sucursalAdministratorInventory.Quantity']}"/>
                            
                            <p:inputText id="quantity" value="#{inventory.updateInventory.quantity}"/>
                            
                            <p:message for="quantity" display="icon" showDetail="true"/>
                            
                        </p:panelGrid>
                        
                    </p:panel>
                  
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>
