<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:define name="head">
        
      
       <h:outputScript library="javascript" name="welcomeSucursalAdministrador.js"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>  
 
        
    </ui:define>
    
    <ui:define name="west-pos">
        
        
        
    </ui:define>
    
    <ui:define name="content">
             
                <p:panel widgetVar="mainPanel" style="width:100%; height: 100%">
        <f:view>
            
            <h:form id="form">
           
                <f:event type="preRenderView" listener="#{welcomeSucursalAdmin.preRenderView}"/>
                
                  
                    <p:growl escape="false" id="messages"/>
                   
                    
                    <p:panel>
                    
               
                        
                        <p:panelMenu style="overflow: scroll">
                            
                            <p:submenu id="panelSubmenu" label="#{bundle['sucursalAdministrator.Home.Branches']}" style="width:40%">
                                
                                
                            </p:submenu>
                            
                            
                        </p:panelMenu>
                      
                            
                       
                        
             
                     
                    </p:panel>
                
                
            </h:form>
            
        </f:view>
        </p:panel>
        
    </ui:define>
    

    
</ui:composition>
