<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
        <h:outputScript library='javascript/BranchAdministrator.Worker' name='worker.js'/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <f:event type="preRenderView" listener="#{workerController.preRenderView}"/>
                
                     <p:megaMenu orientation="horizontal" style="width:100%;border:none">
                             
                             <p:submenu label="#{bundle['sucursalAdministratorIndex.Inventory']}" style="width:17%">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddInventory']}" url="add-inventory.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListInventary']}" url="list-inventory.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddProduct']}" url="add-product.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListProducts']}" url="list-products.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:15%" label="#{bundle['sucursalAdministratorIndex.Menu']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddMenu']}" url="add-menu.xhtml"/>
                                     
                                     <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListMenu']}" url="list-menu.xhtml"/>
                                     
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Addition']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddAddition']}" url="add-addition.xhtml"/>
                                         
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListAddition']}" url="list-addition.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             
                       
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Sale']}">
                                 
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListSales']}" url="list-sale.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                                 
                             </p:submenu>
                             
                             <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Worker']}">
                             
                                 <p:column>
                                     
                                     <p:submenu label="Select Operation">
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.AddWorker']}" url="addworker.xhtml"/>
                                         
                                         <p:menuitem value="#{bundle['sucursalAdministratorIndex.ListWorker']}" url="workerList.xhtml"/>
                                         
                                     </p:submenu>
                                     
                                 </p:column>
                             
                             </p:submenu>
                             
                         </p:megaMenu>
                
                <p:panel id="panel" style="width:100%;height: 100%">
                    
                      <p:confirmDialog widgetVar="dialog" closable="true" closeOnEscape="false" showEffect="fade" hideEffect="fade" global="true" severity="alert" >
                                
                                <p:panelGrid columns="2" layout="grid">
                                    
                                    <p:commandButton icon="ui-icon-check" value="#{bundle['confirmDialog.yesButton']}" styleClass="ui-confirmdialog-yes">
                                    
                                        <p:ajax event="click" listener="#{workerController.deleteWorker}" oncomplete="PF('dialog').hide();window.location.reload()"/>
                                    
                                    </p:commandButton>
                                    
                                    <p:commandButton icon="ui-icon-close" value="#{bundle['confirmDialog.noButton']}" styleClass="ui-confirmdialog-no"/>
                                    
                                </p:panelGrid>
                                
                            </p:confirmDialog>

                        
                        <p:dataTable id="table" rows="5" selection="#{workerController.selectedLoginAdministrador}" lazy="true" selectionMode="single"  var="item" value="#{workerController.workerList}" paginator="true"  style="width:100%;height: 100%" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks}" rowsPerPageTemplate="5,10,15">
                            
                            <p:ajax event="rowSelect" listener="#{workerController.rewSelection}" partialSubmit="true" onsuccess="showDialog('#{bundle['sucursalAdministratorAddWorker.DialogTitle']}','#{bundle['sucursalAdministratorAddWorker.DialogBody']}')"/>
                            
                            <p:column>
                                
                                <f:facet name="header">
                                    
                                    <h:outputText value="Mail"/>
                                    
                                </f:facet> 
                                
                                <h:outputText value="#{item.username}"/>
                                
                            </p:column>
                            
                          
                            
                        </p:dataTable>
                        
                        
                
                    
                </p:panel>
                
            </h:form> 
            
        </f:view>
        
    </ui:define>
    
    
</ui:composition>