<!DOCTYPE html>
<html
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:pc="http://primefaces.org/ui/cookbook"
     >
    
   <h:head>
            
   <title>Eden</title>
   
     <h:outputStylesheet library="css" name="styles.css"/>
     
     <h:outputScript library="javascript" name="reoadImages.js"/>   
     
     <f:view locale="#{language.localeCode}"></f:view>
     
     
    <ui:insert name="head">
           
       
        
    </ui:insert>
           
     
     
    </h:head>
    
    <h:body class='Bibody'>
        
        <p:layout fullPage="true" id="layout" widgetVar="layout">
            
            
            
            <p:layoutUnit style="overflow-x: hidden !important; overflow: hidden !important"  id="north" position="north"  size="100"  resizable="false" collapsible="false">
            
                
                <p:panelGrid style="width:100%;height: 100%">
                
                    <p:row>
                        
                        <p:column style="width:20%">
                            
                        <p:panel>
                        
                            <f:view>
                            
                            <h:form id="form-head">
                                
                                <p:commandLink>
                                
                                    <p:ajax event="click"  listener="#{edenRedirection.HomeRedirection(session.getAttribute('username'))}"/>
                                    
                                   <p:graphicImage style="width:85%" value="/images/eden.png"/>
                               
                                </p:commandLink>
                            </h:form>
                            
                            
                        </f:view>
                      
                                 
                    </p:panel>
                    
                            
                        </p:column>
                        
                       
                        
                        <p:column style="width:80%">
                          
                            <ui:insert name="content-header">
                                
                                
                                
                            </ui:insert>
                            
                        </p:column>
                        
                    </p:row>
                        
                   
                    
                  
                  
                
                    
                </p:panelGrid>
                
            </p:layoutUnit>

            <p:layoutUnit id="south" position="south" size="100" resizable="true"  collapsible="false">
                <ui:insert name="footer">
                    
                          <p:panel>
                                
                                <h:form id="languageForm">
                                    <p:panelGrid columns="2">
                                      <h:outputText value="#{bundle['Eden.Language']}" />
		<p:selectOneMenu value="#{language.localeCode}">
			
                    <p:ajax event="change" onstart="submit()"/>
                    
                                 <f:valueChangeListener type="Language.Listeners.ActionListeners"/>
                                 
   			<f:selectItems value="#{language.countriesInMap}" /> 
   		</p:selectOneMenu>
                                    </p:panelGrid>
                                </h:form>
                                
                            </p:panel>
                    
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit id="west" visible="false" position="west" size="200"  resizable="true"  collapsible="true">
                <ui:insert name="west-pos">
                    
                    
                 </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit id="east" visible="false" position="east" size="200"  resizable="true"  collapsible="true" effect="drop">
                    
                    
                <p:panel style="width:100%;height: 100%">
                    
                    <f:facet name="header">
                        
                <h:form>
                
                    <f:event type="preRenderView" listener="#{UserSettingsController.initThemes()}"/>
                    
                <p:themeSwitcher style="width:100%" effect="fade">
                        
                        <f:selectItem itemLabel="Choose Theme" itemValue=""/>
                        <f:selectItems value="#{UserSettingsController.themes}"/>
                        
                </p:themeSwitcher>
                    
               </h:form>
                        
                    </f:facet>
                  
                <ui:insert name="east-pos">
                    
                    
                    
                </ui:insert>
                    
                </p:panel>      
                    
               
            </p:layoutUnit>

            <p:layoutUnit resizable="true" position="center" id="center">
                <ui:insert name="content" id="center">
                    
                    
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>