<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        
        <title>#{bundle['eden.title']}</title>
        
        
       
           
        
        <h:outputStylesheet library="css" name="styles.css"/>
        
        <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
        
         <script>
            
      
                
              
var path='#{session.getAttribute("path")}';


var test = [{'id':'ip','value':userip},{'id':'path','value':path}];

console.log(path);


console.log("LOADED "+'#{language.loaded}');

if('#{language.loaded}'=='false')
{
console.log("CALLING SERVLET");
$.ajax({
    type: 'get', // it's easier to read GET request parameters
    url: 'LoginServlet',
    dataType: 'JSON',
    data: { 
      loadProds: 1,
      test: JSON.stringify(test) // look here!
    },
    
    complete:function(data){
                
              console.log("COMPLETED");  
              
              console.log("COMPLETED "+'#{language.localeCode}');
                
            },
                    
    success: function(data) {
        
      console.log("SESSON LOCALE "+'#{language.localeCode}');
      
      console.log("DATA VALUE "+data.Value);
      
      if(data.Value==='0'){
      
       window.location.reload();
       
    }

    },
            
    error: function(data) {
        alert('fail');
        
        $.each(data,function(key,value){
    
    alert(key+":"+value);
    
  
    
});
        
    }
            
            
});  
                
                }            
              
            
            window.fbAsyncInit = function() {
    FB.init({
        appId: '686394994789028',
        status: true,
        cookie: true,
        xfbml: true,
        oauth: true
    });

    FB.Event.subscribe('auth.login', function(response) {
        // {
        //   status: "",         /* Current status of the session */
        //   authResponse: {          /* Information about the current session */
        //      userID: ""          /* String representing the current user's ID */
        //      signedRequest: "",  /* String with the current signedRequest */
        //      expiresIn: "",      /* UNIX time when the session expires */
        //      accessToken: "",    /* Access token of the user */
        //   }
        // }
        
        // alert('event status: ' + response.status);
    });

    FB.getLoginStatus(function(response) {
        //  {
        //     status: 'connected',
        //     authResponse: {
        //        accessToken: '...',
        //        expiresIn:'...',
        //        signedRequest:'...',
        //        userID:'...'
        //     }
        //  }
        
        //alert('getLoginStatus: ' + response.status);
        
        if (response.status=='connected') {
            FB.api('/me',function(response){
                alert('Welcome back ' + response.name);
            });
        }
    });

};
(function(d) {
    var js, id = 'facebook-jssdk';
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement('script');
    js.id = id;
    js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
}(document));
        </script>
        
        <script type="text/javascript">
  var userip;
</script>




 
        <h:outputScript library="javascript" name="login.js"/>
        
    </h:head>
    
 
    
    <h:body onload="load()" style="background: center center no-repeat;
   background-size: cover;     
   background-attachment: fixed;
   -webkit-transition: background-image 5s;
  ">
        
            <form action="j_security_check" method="POST">

                <div  style="  position:absolute;
     width:300px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
   ">
                
              
              <table>
                  
             
                  
                  <tr>
                      
                      <p:graphicImage cache="false" style="width:100%" styleClass="content" value="/images/eden.png"/>
                      
                  </tr>
                  
                  <tr>
                      
                     
                      
                        <div align="center"> <input type="text" name="j_username" placeholder="Username"/> </div>
                      
                  </tr>
                  
                  <tr>
                      
                    
                      
                      <div align="center"> <input type="password" name="j_password" placeholder="Password"/>
                      
                         
                          
                     
                          
                      <br/>
                      
                      <input type="submit" value="Login"/>
                      
                      </div>
                      
                  </tr>
                  <br/>
                       <tr>
                      <div align="center">
                      <div id="fb-root"></div>
  
              <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false">Login to fb</div>
             
                     </div> 
                  </tr>
                
              </table>
              
           
                
                </div>
                
            </form>
                               
                              
        <h:form id="javaForm">
            
            <p:link style="color: red; font-size: xx-large; font-weight: bold " value="#{bundle['Eden.Login']}" href="select-registration/selection.xhtml"/>
            
            <h:inputHidden id="hidden" value="#{language.loaded}"/>
            
        </h:form>

    </h:body>
</html>

