<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:pc="http://primefaces.org/ui/cookbook"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <link rel="shortcut icon" href="favicon.ico"/>
    
      <f:metadata>
            
          <f:viewAction onPostback="false" action="#{loginBean.selection}"/>
            
            <f:viewParam name="username" value="#{loginBean.str}"/>
            
      </f:metadata>
    
    <ui:define name="head">
              
 <f:facet name="first">
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="-1" />
</f:facet>
        <h:outputScript library="javascript" name="selection.js"/>
        
        <h:form>
            
            
        <pc:layout id="fpl" widgetVar="fullLayoutWidget" options="#{selectionView.layoutOptions}">
            
            <pc:layoutPane position="north">
                
                North content
                
            </pc:layoutPane>
            
            <pc:layoutPane position="center">
                
                Center content
                
            </pc:layoutPane>
            
            <pc:layoutPane position="west">
                
                West Content
                
            </pc:layoutPane>
            
            <pc:layoutPane position="east">
                
                <!--nested layout-->
                
                <pc:layoutPane position="center">
                    
                    East-Center content
                    
                </pc:layoutPane>
                
                <pc:layoutPane position="south">
                    
                    East-south content
                    
                </pc:layoutPane>
                
            </pc:layoutPane>
            
            <pc:layoutPane position="south">
                
                South content
                
            </pc:layoutPane>
            
        </pc:layout>
            
        </h:form>
        
    </ui:define>
    
    <ui:define name="content">
        
        
        <p:panel style="width:100%;height:100%">
            
                            <f:view>
                                
                                <h:form id="form">
                                    
                                    <p:growl escape="false"  id="growl"/>
                               
                                    <f:event type="preRenderView" listener="#{selectionView.preRendetView}"/>
                                        
                                    <p:dataGrid  var="item"  value="#{loginBean.selectionLogin}" style="width:100%;height:100%;border:black">
                                            
                                        <f:facet name='header'>
                                            
                                            <div align='center'>
                                                
                                                <h:outputText value='Welcome #{loginBean.log.username}'/>
                                                
                                            </div>
                                            
                                        </f:facet>
                                           
                                        <p:panelGrid columns='3' layout="grid" style="border:none">
                                        
                                            <div align="center">
                                            
                                        <p:commandLink ajax='false' action='#{item.executeResult}' type='submit'>
                                          
                                            <p:graphicImage value="#{item.text}" style="width:150px">
                                        
                                         
                                            </p:graphicImage>
                                                
                                           
                                        </p:commandLink>   
                                                
                                            </div>
                                            
                                        </p:panelGrid>
                                            
                                    </p:dataGrid>
                                        
                                        
                                
                                    
                           
                                    
                                    
                                </h:form>
                                
                                
                            </f:view>
                            
                            </p:panel>
        
        
              </ui:define>      
    <ui:define name="east-pos">
        
        <f:view>
            
            <h:form id="east-form">
                
                <h:outputText value="#{user.string}"/>
                
            </h:form>
            
        </f:view>
        
    </ui:define>    
                        
        </ui:composition>