<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
         
    
    <ui:define name="head">
        
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form" enctype="multipart/form-data">
                
                
                <f:event type="postValidate" listener="#{supplierRegistrationFlow.postValidate}"/>
                
                <p:panel id="panel">
                    
                    <p:messages id="messages" showDetail="true"/>
                    
                    <p:panelGrid columns="2" layout="grid">
                        
                        <p:outputLabel for="mail" value="#{bundle['supplierRegistration.Mail']}"/>
                        
                        <p:inputText id="mail" required="true" value="#{supplierRegistrationFlow.application.mail}"/>
                        
                        <p:message for="mail" display="icon"/>
                        
                        
                        <!-- Supplier Name -->
                        
                        <p:outputLabel for="name" value="#{bundle['supplierRegistration.Name']}"/>
                        
                        <p:inputText required="true" id="name" value="#{supplierRegistrationFlow.application.name}"/>
                        
                        <p:message for="name" display="icon"/>
                        
                        <!-- NIT -->
                        
                        <p:outputLabel for="nit" value="#{bundle['supplierRegistration.Nit']}"/>
                        
                        <p:inputMask mask="999999999-9" required="true" id="nit" value="#{supplierRegistrationFlow.application.nit}"/>
                        
                        <p:message for="nit" display="icon"/>
                        
                        <!-- Cedula -->
                        
                        <p:outputLabel value="#{bundle['supplierRegistration.Cedula']}" for="cedula"/>
                        
                        <p:inputText id="cedula" required="true" value="#{supplierRegistrationFlow.application.cedula}"/>
                        
                        <p:message for="cedula" display="icon"/>
                        
                        <!-- Fecha Expedicion Cedula -->
                        
                        <p:outputLabel value="#{bundle['supplierRegistration.FechaExpedicionCedula']}" for="fechaExpedicion"/>
                        
                        <p:calendar id="fechaExpedicion" required="true" mode="inline" navigator="true" pattern="MM/dd/yyyy" value="#{supplierRegistrationFlow.application.fechaExpedicion}" yearRange="1930:2015"/>
                        
                        <p:message for="fechaExpedicion" display="icon"/>
                        
                        <!-- Codigo CIUU -->
                        <p:outputLabel for="ciuu" value="#{bundle['supplierRegistration.CodigoCiuu']}"/>
                        
                        <p:inputText id="ciuu" maxlength="4" value="#{supplierRegistrationFlow.application.codigoCiuu}"/>
                        
                        <p:message for="ciuu" display="icon"/>
                        
                        <!-- Supplier Type -->
                        
                        <p:outputLabel for="supplierType" value="#{bundle['supplierRegistration.SupplierType']}"/>
                        
                        <p:selectOneMenu id="supplierType" value="#{supplierRegistrationFlow.application.idSupplierType.idSupplierType}">
                            
                            <p:ajax/>
                            
                            <f:selectItems value="#{supplierTypeSingletonController.supplierTypeList}" var="item" itemLabel="#{item.name}" itemValue="#{item.idSupplierType}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="supplierType" display="icon"/>  
                        
                        
                        <!-- Supplier Product Type -->
                        
                        <p:outputLabel value="#{bundle['supplierRegistration.ProductType']}" for="supplierProductType"/>
                        
                        <p:selectOneMenu id="supplierProductType" value="#{supplierRegistrationFlow.application.idSupplierProductType.idSupplierProductType}">
                            
                            <p:ajax/>
                            
                            <f:selectItems value="#{supplierProductTypeSingletonController.supplierProductTypeList}" var="item" itemLabel="#{item.productType}" itemValue="#{item.idSupplierProductType}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="supplierProductType" display="icon"/>
                        
                        <!--State-->
                        
                        <p:outputLabel for="state" value="#{bundle['supplierRegistration.SelectState']}"/>
                        
                        <p:selectOneMenu id="state">
                            
                            <p:ajax event="change" update=":form:city" partialSubmit="true" listener="#{supplierRegistrationFlow.stateChanged}"/>
                            
                            <f:selectItems value="#{stateSingletonController.stateList}" var="item" itemLabel="#{item.name}" itemValue="#{item.idSTATE}"/>  
                            
                        </p:selectOneMenu>
                        
                        <p:message for="state" display="icon"/>
                        
                        <!--City Selection-->
                        
                        <p:outputLabel for="city" value="#{bundle['supplierRegistration.SelectCity']}"/>
                        
                        <p:selectOneMenu id="city" value="#{supplierRegistrationFlow.application.city.cityPK}">
                            
                            <f:converter converterId="CityPKConverter"/>
                            
                            <p:ajax/>
                            
                            <f:selectItems value="#{citySessionController.cityList}" var="item" itemLabel="#{item.name}" itemValue="#{item.cityPK.STATEidSTATE},#{item.cityPK.idCITY}"/>
                            
                        </p:selectOneMenu>
                        
                        <p:message for="city" display="icon"/>
                        
                        <!--Upload Logo-->
                        
                        <p:outputLabel for="logo" value="#{bundle['supplierRegistration.UploadLogo']}"/>
                        
                        <p:fileUpload    id="logo" update=":form:logoImage" mode="advanced" auto="true"  dragDropSupport="true" invalidFileMessage="This file is not allowed" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" fileUploadListener="#{supplierRegistrationFlow.uploadLogo}" />
                      
                        <p:message for="logo" display="icon"/>
                        
                        <!--Uploaded Logo-->
                        
                        <h:panelGroup/>
                        
                        <p:outputPanel>
                            
                            <p:graphicImage id="logoImage" cache="false" styleClass="content" value="#{supplierRegistrationFlow.logo}" style="width:30%"/>
                            
                        </p:outputPanel>
                        
                    </p:panelGrid>
                    
                    
                    <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton type="submit" action="#{supplierRegistrationFlow.saveApplication}" value="#{bundle['supplierRegistration.SaveApplication']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>