<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    
   
    <ui:define name="head">
        
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
    </ui:define>
    
 
    
    <ui:define name="content">
        

                    
                    <f:view>
            
                <h:form id="form" enctype="multipart/form-data">
                    
                    <f:event type="preRenderView" listener="#{additionCRUDView.setActionType}"/>
                    
                    <p:growl escape="false" id="messages"/>
                    
                    
                     <p:megaMenu orientation="horizontal">
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                        <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
                        </p:submenu>
                            </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            <p:column>
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                        </p:submenu>
                        
                    </p:megaMenu>
                    
                    <f:event type='postValidate' listener='#{additionCRUDView.checkExcistence}'/>
                    
                    <p:panel>
                    
                    <p:tabView id="tabView" style="width:100%;height:100%">
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <div align="center">
                                    
                                    <h:outputText value="#{bundle['franchiseAdministratorAddAddition.InfoTab']}"/>
                                    
                                </div>
                                
                            </f:facet>
                            
                   <p:panelGrid columns="3">
           
                          <p:outputLabel for="name" value="#{bundle['franchiseAdministratorAddAddition.Name']}"/>
                           
                          <p:inputText required="true" id="name" value="#{additionCRUDView.name}" validatorMessage="Type a valid name"/>
                            
                          <p:message for="name" display="icon"/>

                            
                          <p:outputLabel for="value" value="#{bundle['franchiseAdministratorAddAddition.Price']}"/>
                              
                           <p:inputText id="value" required="true" value="#{additionCRUDView.value}"/>
                              
                           <p:message for="value" display="icon"/>
                   
                        
                           <p:outputLabel for="upload" value="#{bundle['franchiseAdministratorAddAddition.UploadImages']}"/>
            
                            <p:fileUpload  id="upload" auto='true' fileUploadListener="#{additionCRUDView.handleUpload}" multiple="true" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" update="galleria"/>
                       
                            <p:message for="upload" display="icon"/>
                   
                            </p:panelGrid>
                           
                            <p:outputPanel>
                              
                             <p:galleria id='galleria'  style='width:100%;height:100%' value='#{fileUploadBean.images}' var='image' widgetVar='galleria'>
                            
                            <p:graphicImage cache='false' style='width:100%;height:100%' value='#{image}' styleClass='content'/>
                            
                             </p:galleria>
                                
                            </p:outputPanel>
                    
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <div>
                                    
                                    <h:outputText value="#{bundle['franchiseAdministratorAddAddition.InventoryTab']}"/>
                                    
                                </div>
                                
                            </f:facet>
                            
                            <p:panel  style="width:100%">
                                
                                <f:facet name="header">
                                    
                                    <p:commandButton icon="ui-icon-plus">
                                        
                                        <p:ajax event="click" listener="#{additionCRUDView.addAdditionConsumesInventario}" update="table"/>
                                        
                                    </p:commandButton>
                              
                                    <p:commandButton icon="ui-icon-minus">
                                        
                                        <p:ajax event="click" listener="#{additionCRUDView.deleteAdditionConsumesInventarioList}" update="table"/>
                                        
                                    </p:commandButton>
                                               
                            
                                    
                                </f:facet>
                                
                                <p:dataTable id="table" var="item" value="#{additionCRUDView.additionConsumesInventario}" style="width:100%;height:100%" rows="10" paginator="true" rowsPerPageTemplate="6,12,16" scrollable="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                  
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            <div align="center">
                                              
                                                <h:outputText value="#{bundle['franchiseAdministratorAddAddition.SelectInventoryColumn']}"></h:outputText>
                                                
                                            </div>     
                                        </f:facet>
                                        
                                        <p:selectOneMenu value="#{item.inventario.inventarioPK}">
                                            
                                            <p:ajax/>
                                            <f:converter converterId="inventarioConverter"/>
                                            <f:selectItems value="#{inventoryController.autoInventory}" var="inv" itemValue="#{inv.inventarioPK}" itemLabel="#{inv.nombre}" />
                                            
                                        </p:selectOneMenu>
                                        
                                    </p:column>
                                    
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText value="#{bundle['franchiseAdministratorAddAddition.Quantity']}"/>
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        <p:inputText required="true" requiredMessage="#{bundle['franchiseAdministratorAddAddition.QuantityRequiredMessage']}" value="#{item.quantity}">
                                          
                                            <f:convertNumber/>
                                            
                                        <p:ajax/>
                                        </p:inputText>
                                        
                                    </p:column>
                                    
                                </p:dataTable>
                                
                              
                                
                            </p:panel>
                            
                        </p:tab>
                        
                          <f:facet name="footer">
                                    
                                
                                    
                         </f:facet>
                        
                        <p:tab>
                            
                            <f:facet name='title'>
                                
                                <h:outputText value="#{bundle['franchiseAdministratorAddAddition.DescriptionTab']}"/>
                                
                            </f:facet>
                            
                            <p:editor style='width:100%;height:100%' value='#{additionCRUDView.description}'>
                                
                            </p:editor>
                        </p:tab>
                        
                    </p:tabView>
                    
                        <f:facet name="footer">
                            
                                <div align="center">
                                        
                                    <p:commandButton id="add" ajax="false" actionListener="#{additionCRUDView.create}" value="#{bundle['franchiseAdministratorAddAddition.CreateAdditionButton']}"/>
                                        
                               </div>
                            
                        </f:facet>
                    
                 </p:panel>
                    
                 </h:form>
            
                 </f:view>
             
                
          
    </ui:define>
    
</ui:composition>
