<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
  template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"  
    
     >
    
    <ui:define name="head">
        
        
        <h:outputScript library="javascript" name="categoria.js"/>
        
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
        <h:outputScript library="javascript" name="updateMenuImage.js"/>
        
    </ui:define>

    
    
    <ui:define name="content">
        
        
        <f:view>
            <h:form id="form" enctype="multipart/form-data">
               
                  <p:megaMenu orientation="horizontal">
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                        <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
                        </p:submenu>
                            </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            
                            <p:column>
                                <p:submenu label="#{bundle['eden.SelectOperation']}">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                            
                        </p:submenu>
                        
                    </p:megaMenu>
                
                <p:panel>
                    

                <input type="hidden" name="deleteImage" id="deleteImage"/>
                    
                <f:event type="preRenderView" listener="#{cRUDmenu.setType}"/>
                
                <f:event type="postValidate" listener="#{cRUDmenu.postValidate}"/>
                
              
                    
                    <p:tabView id="tabView">
                        
                        <p:messages id="msg" showDetail="true"/>
             

                        <p:tab title="#{bundle['franchiseAdministratorAddMenu.InfoTab']}">
                            
                            <p:remoteCommand name="rc" update="photo"/>
                            
                            <p:panelGrid columns="3">
                        
                       <p:outputLabel value="#{bundle['franchiseAdministratorAddMenu.Name']}: " for="name"/>
                       
                            <p:inputText id="name" value="#{cRUDmenu.name}" required="true" requiredMessage="Name Cannot be NULL" validatorMessage="The Name cannot be Longet than 200 Characters">
                            
                                <p:ajax/>
                            
                            </p:inputText>
                       
                       <p:message for="name" display="icon"/>
                            
                            <p:outputLabel for="price" value="#{bundle['franchiseAdministratorAddMenu.Price']}: "/>
                            <p:inputText id="price" value="#{cRUDmenu.price}" required="true" requiredMessage="The Price Cannot Be Null" validatorMessage="The field exceeds the range">
                                <f:validateDoubleRange minimum="1.0"  maximum="100000000000.0"/>
                                <f:convertNumber currencyCode="COP" type="currency"/>
                            <p:ajax/>
                            </p:inputText>
                            
                            <p:message for="price" display="icon"/>
                            
                         
                        
                        
                    </p:panelGrid>
                            
                            <p:panelGrid columns="2">
                                
                                   <p:outputLabel  for="files" value="#{bundle['franchiseAdministratorAddMenu.Upload']}"/>
                            <p:fileUpload fileUploadListener="#{cRUDmenu.handeFileUpload}" required="true" requiredMessage="Debe seleccionar algun archivo"  dragDropSupport="true" auto="true" label="files" multiple="true" id="files"  mode="advanced" oncomplete="rc()" allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
                                 
                                
                            </p:fileUpload>  
                        
                                   <p:message for="files" display="icon"/>
                                
                            </p:panelGrid>
                            
                            <p:outputPanel>
                            
                           
                            
                            <p:galleria id="photo" value="#{fileUploadBean.images}" var="image">
                                
                                <p:graphicImage id="imagen" value="#{image}" height="500" width="500" styleClass="content" onmouseover="DeleteImage('#{image}')" onclick="triggerDialog('#{image}')"/>
                                
                                  <p:confirmDialog id="dialog" widgetVar="dialog" closable="true" global="true" showEffect="fade" hideEffect="fade">
                               
                               <p:panelGrid columns="2">
                                   
                                   
                                   <p:commandButton id="yesButton" value="#{bundle['confirmDialog.yesButton']}"  onclick="PF('dialog').hide()">
                                          
                                       <p:ajax event="click" listener="#{cRUDmenu.deleteImage}" update="photo"/>
                                                
                                        </p:commandButton>
                                        
                                       
                                   <p:commandButton value="#{bundle['confirmDialog.noButton']}" id="noButton" type="button" onclick="PF('dialog').hide()"/>
                                    
                               </p:panelGrid>
                               
                               
                           </p:confirmDialog>
                                
                            </p:galleria>
                            
                         
                            
                            </p:outputPanel>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorAddMenu.DescriptionTab']}"/>
                                
                            </f:facet>
                            
                            
                            <p:panel>
                                
                                <p:editor value="#{cRUDmenu.description}" style="width:100%;height:100%">
                                    
                                   
                                    
                                </p:editor>
                                
                            </p:panel>
                            
                        </p:tab>
                        
                        <p:tab title="#{bundle['franchiseAdministratorAddMenu.ProductTab']}">
                            
                          
                            
                            <input type="hidden" value="hiSmart" id="hiddenComponent" name="hiddenComponent"/>
                
                            
                            <p:dataTable var="item" rowKey="#{item}" value="#{cRUDmenu.selectedProducts}" paginator="true" rows="10"
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10,15" id="table" selection="#{cRUDmenu.deleteAgrupaMenuList}">
                                
                                
                                 <p:column selectionMode="multiple">
                                       
                                        <f:facet name="header">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorAddMenu.DeleteColumn']}"/>
                                            
                                        </f:facet>
                                             
                                  </p:column>
                                
                                <p:column>
                                    
                                   
                                    
                                    <f:facet name="header">
                                        
                                        <p:outputLabel value="#{bundle['franchiseAdministratorAddMenu.CategoryColumn']}"/>
                                        
                                
                                        
                                        
                                    </f:facet>
                                    
                                    
                                 <p:selectOneMenu id="categories" value="#{item.categoriaPK}">
           
                                         <f:converter converterId="CategoriaConverter"/>
                                           
                                        
                                         <f:selectItems value="#{categoryController.autoCategories}" var="result" itemValue="#{result.categoriaPK.franquiciaIdfranquicia},#{result.categoriaPK.idcategoria}" itemLabel="#{result.nombre}"></f:selectItems>
                                            
                                            
                                        <p:ajax update="@this"/>
                                            
                                 </p:selectOneMenu>
                                    
                                </p:column>
                                
                                
                                
                                
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <p:outputLabel value="#{bundle['franchiseAdministratorAddMenu.ProductCategory']}"/>
                                   
                                    </f:facet>
                                    
                                    <p:selectOneMenu id="selectProduct" value="#{item.productKey}">
                                        
                                        <f:converter converterId="ProductPKConverter"/>
                                     
                                        <f:selectItems value="#{item.productList}" var="resultado" itemValue="#{resultado.productoPK.idproducto},#{resultado.productoPK.categoriaIdcategoria},#{resultado.productoPK.categoriaFranquiciaIdfranquicia}" itemLabel="#{resultado.nombre}" />
                                      
                                        <p:ajax update="@this"/>
                                        
                                    </p:selectOneMenu>
                                    
                                    
                                </p:column>
                                
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                       <p:outputLabel value="#{bundle['franchiseAdministratorAddMenu.ProductQuantity']}"/> 
                                        
                                    </f:facet>
                                    
                                    <p:inputText value="#{item.agrupa.cantidadProducto}" immediate="true" required="true" requiredMessage="You must specify a quantity for a product">
                                        
                                        <f:convertNumber minIntegerDigits="1" maxIntegerDigits="10"/>
                                        
                                       <p:ajax/>
                                        
                                    </p:inputText>
                                    
                                </p:column>
                                
                                
                            
                            
                            </p:dataTable>
                            
                            <p:commandButton id="addButton" type="submit" value="#{bundle['franchiseAdministratorAddMenu.AddProduct']}">
                                
                                <p:ajax partialSubmit="true" event="click" process="@this" update="table" listener="#{cRUDmenu.addAgrupa}"/>
                                
                            </p:commandButton>
                            
                            <p:commandButton id="deleteAgrupaButton" type="submit" value="#{bundle['franchiseAdministratorAddMenu.DeleteProduct']}">
                                
                                <p:ajax event="click" partialSubmit="true" process="@this,table" update="table" listener="#{cRUDmenu.deleteAgrupa}"/>
                                
                            </p:commandButton>
                            
                            
                        </p:tab>
                        
                           
                    </p:tabView>
                    
                    
                <f:facet name="footer">
                    
                    <div align="center">
                        
                          <p:commandButton value="#{bundle['franchiseAdministratorAddMenu.AddMenu']}" ajax="false" actionListener="#{cRUDmenu.AddMenu}" partialSubmit="true" update="@all">
                            
                       
                             
                          </p:commandButton>
                        
                    </div>
                    
                </f:facet>
                    
            
                
                </p:panel>
            </h:form>
        </f:view>

        
        
    </ui:define>





</ui:composition>



