<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"    
    >
    
    <ui:define name="head">
        
        
        
    </ui:define>
    
    <ui:define name="west-pos">
        
        <p:menu>
            
            <p:submenu label="Resources">
                
                  <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="indexAdminFranchise.xhtml"/>
           
                
                <p:menuitem value="Add Sucursal" url="sucursal.xhtml"/>
                
                  <p:menuitem value="#{bundle['franchiseAdministratorSucursal.editSucursal']}" url="editSucursal.xhtml"/>
                
                
            </p:submenu>
            
            
        </p:menu>
        
        
    </ui:define>
    
    <ui:define name="content">
        
      
    </ui:define>
    
    
</ui:composition>