<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
    <h:outputScript library="javascript" name="agregarCategoria.js"/>
    <h:outputScript library="javascript" name="categoria.js"/>
    <h:outputScript library="javascript" name="DeletePath.js"/>          
    </ui:define>

    <ui:define name="content">
        
    <h:form id="form" enctype="multipart/form-data">
                            
    <input type="hidden" id="hiddenPath" name="hiddenPath"/>
                            
    <f:event type="preRenderView" listener="#{addCategoria.setType}"/>
                               
    <p:megaMenu orientation="horizontal">
                        
    <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                           
    <p:column>
                                
    <p:submenu label="Select Operation">
                                
    <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
   </p:submenu>
    
    </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            <p:column>
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                        </p:submenu>
                        
                    </p:megaMenu>
                               
                                    <p:growl id="msg" escape="false"/>
                      
                               
                            <p:panel id="mainPanel" widgetVar="mainPanel">
                                                                                                              
                                 <f:facet name="header">
                                    
                                     <div aign="center">
                                     
                                    <h:outputText value="Add Categoria Info"/>
                                    
                                     </div>
                                    
                                </f:facet> 
                                
                             
                                
                                <p:tabView id="tabView" widgetVar="tabView">
                                    
                                    <p:tab>
                                        
                                        <f:facet name="title">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorCategory.CategoryInfoTab']}"/>
                                            
                                        </f:facet>
                            
                            
                            <f:event listener="#{addCategoria.checkCategoryName}" type="postValidate"/>
                            
                            <h:inputHidden id="hidden" value="hola"/>
                      
                            <p:panelGrid  style="width:100%;height:100%;vertical-align: top">
                                
                                <p:row style="vertical-align: top">
                                    
                            
                            <p:column style="width:50%;height:100%;vertical-align: top">
                                        
                            <p:panelGrid style="vertical-align: top" columns="2">
                                
                                            
                            <p:outputLabel for="nombre" value="#{bundle['franchiseAdministratorCategory.CategoryInfoTab']}: "/>
                                
                            <p:inputText id="nombre" required="true" label="nombre" value="#{addCategoria.cat}" requiredMessage="El campo categoria no puede estar vacio">
                                <p:ajax event="blur" update="nameMessage"/>
                            </p:inputText>
                                
                            <p:message id="nameMessage" for="nombre"  showDetail="true" display="icon"/>
                            
                              <h:outputLabel for="uploader" value="#{bundle['franchiseAdministratorCategory.UploadImage']}: " />
                                 
                                 <p:fileUpload  fileUploadListener="#{addCategoria.handleFileUpload}" update="photo" auto="false" dragDropSupport="true" label="Uploader" multiple="true" id="uploader"  mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
                                    
                                 </p:fileUpload>
                          
                              <h:panelGroup/>
                              
                                        </p:panelGrid>
                            
                           <!--Gslleria-->
                               
                                 <p:galleria style="width:100%;height:100%" id="photo"  widgetVar="contentFlow"  value="#{fileUploadBean.images}" var="image">
                                                      
                                    <p:graphicImage id="imageCanvas" style="width:100%;height:100%" cache="false" value="#{image}"  onclick="triggerDialog('#{image}'),deletePath('#{image}')" styleClass="content">
                                       
                                        <p:droppable tolerance="fit" widgetVar="droppable">
                                            
                                            <p:ajax listener="#{addCategoria.dropEvent}"/>
                                            
                                        </p:droppable>
                                 
                                   
                                    </p:graphicImage>
                                    
                                    
                                       
                                      <p:confirmDialog id="dialog" widgetVar="dialog" closable="true" global="true" showEffect="fade" hideEffect="fade">
                                    
                                    <p:panelGrid  columns="2">
                                        
                                        <p:commandButton value="#{bundle['confirmDialog.yesButton']}" type="submit"   oncomplete="PF('dialog').hide()" styleClass="ui-confirmdialog-yes" icon="ui-icon-check">
                                            
                                            <p:ajax event="click" process="photo,imageCanvas" listener="#{addCategoria.deleteImage}" update="photo,:form:msg"/>
                                            
                                        </p:commandButton>
                                        
                                        <p:commandButton value="#{bundle['confirmDialog.noButton']}" type="button" onclick="PF('dialog').hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                                       
                                    </p:panelGrid>
                                    
                                </p:confirmDialog>
                                    
                                  </p:galleria>
                      
                         
                                    </p:column>
                                    
                                    <p:column style="width:50%;height:100%">
                                        
                                    <p:panelGrid columns="1">
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorCategory.DragImages']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <h:panelGroup style="display:block;text-align: center">
                                        
                                        <h:outputText value="Dessert"/>
                                        
                                    </h:panelGroup>
                                    <h:panelGroup style="display:block;text-align: center">
                                    <p:graphicImage id="dessert" cache="false" styleClass="content" value="/images/categories/dessert.jpg" style="width:20%">
                                        
                                      
                                        
                                    </p:graphicImage>
                                    </h:panelGroup>
                                   
                                    <p:draggable id="dessertDrag" widgetVar="dessertdraggable" for="dessert"  revert="true"/>
                                    
                                    
                                    <h:panelGroup style="display:block;text-align:center">
                                        
                                        <h:outputText value="Drinks:"/>
                                        
                                    </h:panelGroup>
                                    <h:panelGroup style="display:block;text-align:center">
                                    <p:graphicImage id="drinks" cache="false" styleClass="content" style="width:20%" value="/images/categories/drinks.jpeg"/>
                                    </h:panelGroup>
                                    <p:draggable for="drinks" widgetVar="drinksdraggable" revert="true"/>
                                    
                                    <h:panelGroup style="display:block;text-align:center">
                                        
                                        <h:outputText value="Main Course:"/>
                                        
                                    </h:panelGroup>
                                    <h:panelGroup style="display:block;text-align:center">
                                    <p:graphicImage cache="false" style="width:20%" value="/images/categories/maincourse.jpg" styleClass="content" id="maincourse"/>
                                    </h:panelGroup>
                                    <p:draggable for="maincourse" revert="true" widgetVar="maincoursedraggable"/>
                                    
                                    <h:panelGroup style="display:block; text-align:center">
                                        <h:outputText value="Starters:"/>
                                    </h:panelGroup>
                                    
                                    <h:panelGroup style="display:block;text-align: center">
                                     <p:graphicImage id="starters" value="/images/categories/starter.jpg" cache="false" styleClass="content" style="width:20%"/>   
                                     </h:panelGroup>
                                    <p:draggable for="starters" revert="true" widgetVar="startersdraggable"/> 
                                    
                                </p:panelGrid>
                                        
                                    </p:column>
                                    
                                </p:row>
                                
                                
                            </p:panelGrid>
                            
                                 
                                                                             
                          
                                    </p:tab>
                                    
                                    <p:tab>
                                        
                                        <f:facet name="title">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorCategory.DescriptionTab']}"/>
                                            
                                        </f:facet>
                    
                            <h:panelGrid  columns="1">
                               
                              
                              
                                <p:editor id="editor"  widgetVar="editorWidget" value="#{addCategoria.description}"/>
 
                               
                                      
                                
                                    
                                        
                            
                            </h:panelGrid>
                            
                                        
                                        </p:tab>
                      </p:tabView>
                                    
                                <p:commandButton ajax="false"  id="btnSubmit" type="submit" actionListener="#{addCategoria.agregar}" value="#{bundle['application.add']}"/>  
                      
                                    
                                 
                              
                            </p:panel>
                                  
                        </h:form>
                   

</ui:define>
</ui:composition>


   