<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        
    </ui:define>
    
    
    <ui:define name="west-pos">
        
        <p:panel style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="west-form">
                    
                    <p:menu style="width:100%">
                        
                        <p:submenu label="Resources">
                            
                            <p:menuitem url="indexAdminFranchise.xhtml" value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}"/> 
                            
                            
                        </p:submenu>
                        
                        
                    </p:menu>
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel style="width:100%;height: 100%">
            
            <f:facet name="header">
                
                <div align="center">
                    
                    <h:outputText value="Edit Franchise"/>
                    
                    
                </div>
                
            </f:facet>
            
            <f:view>
                
                <h:form id="form">
                 
                    <p:remoteCommand name="rc" update="image"/>
                    
                    <p:messages id="messages" showDetail="true"/>
                    
                    <p:megaMenu orientation="horizontal" style="border:none">
                        
                              
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/product/addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/product/list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                        
                    </p:megaMenu>
                    
                    
                    <p:panelGrid columns="3">
                        
             
                        
                        
                        <p:outputLabel for="logo" value="Upload Logo"/>
                        
                        <p:fileUpload mode="advanced" multiple="false" auto="true"  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"  id="logo" fileUploadListener="#{editFranchiseView.handleFileUpload}" oncomplete="rc()"/>
                        
                        <p:message for="logo" showDetail="true"/>
                        
                        <p:outputLabel for="image" value="Image"/>
                        
                        <p:graphicImage id="image" style="width:30%;height: 30%" styleClass="content" cache="false" value="#{editFranchiseView.logo}"/>
                        
                        <p:message for="image" showDetail="true"/>
                        
                        <h:panelGroup/>
                        
                        <h:panelGroup style="display: block;text-align: center">
                          
                            <p:commandButton id="edit" ajax="false" type="submit" actionListener="#{editFranchiseView.editFranchise}" value="#{bundle['franchiseAdministratorEdit.editButton']}" update="messages"/>
                    
                            
                        </h:panelGroup>
                         
                    </p:panelGrid>
                    
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>
