<ui:composition  template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="listSale.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        <p:panel widgetVar="mainPanel" style="width:100%;height:100%">
            
        <f:view>
            
            <h:form id="form" >
                
                <f:event type="preRenderView" listener="#{saleView.actionType}"/>
             
               <p:growl id="messages" escape="false"/> 
                
                  <p:megaMenu orientation="horizontal">
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                        <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
                        </p:submenu>
                            </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            <p:column>
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                        </p:submenu>
                        
                    </p:megaMenu>
               
               <p:dataGrid  widgetVar="dataTable" emptyMessage="No Sales" id="saleList" layout="grid" rendered="#{not empty saleView.sales}" value="#{saleView.sales}" var="sale" style="width:100%;height:100%" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rows="3" columns="4" rowsPerPageTemplate="3,6,9">
                   
                  <p:panel widgetVar="imagePanel" id="imagePanel" style="width:100%;height:100%" >
                       
                       <f:facet name="header">
                           
                           <div align="center">
                               
                               <h:outputText value="#{sale.sale.name}"/>
                               
                           </div>
                           
                       </f:facet>
                      
                      <div align="center" id="div1">
                          
                       <p:imageSwitch id="imageSwitch" widgetVar="imageSwitch" effect="fade">
                           
                           <ui:repeat id="repeat"  value="#{sale.images}" var="image">
                               
                               <p:commandLink id="commandLink"  ajax="false" type="submit" action="#{saleView.actionListener(sale.sale)}">
                               
                                   <div id="imageDiv"> 
                                  
                                       <p:graphicImage id="saleImage"  styleClass="content" style="width:100%;height:100%"  value="#{image}" cache="false"/>
                                    
                                   </div>
                                   
                               </p:commandLink>
                             
                           </ui:repeat>
                           
                       </p:imageSwitch>
                          
                       </div>
                      
                       <f:facet name="footer">
                           
                           <div align="center">
                           
                               <p:commandButton update="@all" icon="ui-icon-close" actionListener="#{saleView.delete(sale.sale.salePK)}" value="#{bundle['franchiseAdministratorListSale.Remove']}">
                               
                                   
                               </p:commandButton>
                               
                             </div>   
                         
                       </f:facet>
                       
                   </p:panel>
                   
               </p:dataGrid>
               
               
            </h:form>
            
        </f:view>
            
        </p:panel>
        
    </ui:define>
    
    
    
</ui:composition>
