<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>  

<h:outputScript library="javascript" name="list-sucursales.js"/>
    </ui:define>
    
    <ui:define name="content">
        
        <p:panel widgetVar="panel" style="width:100%;height:100%">
            
            <f:view>
                
                <h:form id="form">
                    
                    <p:messages id="msg" showDetail="true"/>
                    
                     <h:inputHidden id="latitude" value="#{listSucursalesView.latitude}">
                    
                    </h:inputHidden>
                   
                    <h:inputHidden id="longitude" value="#{listSucursalesView.longitude}">
                    
                    </h:inputHidden>
                     
                    <h:inputHidden id="city" value="#{listSucursalesView.city}"/>
                    
                    <h:inputHidden id="state" value="#{listSucursalesView.state}"/>
                    
                    <p:tabView id="tabView" style="width:100%;height:100%">
                        
                        <p:tab title="Address">
                            
                            <p:panel widgetVar="address-panel" >
                                
                                <p:panelGrid columns="8">
                                    
                                    <p:selectOneMenu widgetVar="type" id="type" value="#{listSucursalesView.sucursal.direccion.TYPEADDRESSidTYPEADDRESS.typeAddress}">
                                        
                                    <p:ajax/>
                                        
                                    <f:selectItems value="#{listSucursalesView.type}" var="type" itemLabel="#{type.typeAddress}" itemValue="#{type.typeAddress}"/> 
                                        
                                    </p:selectOneMenu>
                                    
                                    <p:inputText id="firstDigit" widgetVar="firstDigit" required="true" value="#{listSucursalesView.sucursal.direccion.primerDigito}"><p:ajax/></p:inputText>
                                    
                                    <h:outputText value="#"/>
                                    
                                    <p:inputText id="secondDigit" widgetVar="secondDigit" value="#{listSucursalesView.sucursal.direccion.segundoDigito}"/>

                                    <h:outputText value="-"/>
                                    
                                    <p:inputText id="thirdDigit" widgetVar="thirdDigit" value="#{listSucursalesView.sucursal.direccion.tercerDigito}"/>
                                    
                                    <p:inputTextarea id="additional" widgetVar="additional" value="#{listSucursalesView.sucursal.direccion.adicional}" counter="counter" counterTemplate="{0} characters Remaining" maxlength="45" />
                                    
                                    <p:outputPanel id="counter"/>
                                    
                                    <input type="button" value="Geocode" onclick="codeAddress()"/>
                                </p:panelGrid>
                                
                            </p:panel>
                            
                            <p:panel id="map-panel" widgetVar="map-panel">
                                
                                 <p:gmap id="map" widgetVar="map"   zoom="15" type="roadmap"  center="#{listSucursalesView.latitude},#{listSucursalesView.longitude}">
                                 
                                     
                            
                                </p:gmap>
                                
                            </p:panel>
                            
                          
                     
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorSucursal.listSucursalAdditionalinfoTab']}"/>
                                
                            </f:facet> 
                            
                            
                            <p:panelGrid columns="3">
                                
                                <p:remoteCommand name="rc" update="galleria"/>
                                
                                <p:outputLabel for="radio" value="#{bundle['franchiseAdministratorSucursal.listSucursalRadio']}"/>
                                
                                <p:inputText id="radio" value="#{listSucursalesView.sucursal.alcance}">
                                
                                <p:ajax/>
                                
                                </p:inputText>
                                
                                <p:message for="radio"/>
                                
                                <p:outputLabel for="galleria" value="#{bundle['franchiseAdministratorSucursal.listSucursalGalleria']}"/>
                                
                                <p:galleria id="galleria"  value="#{fileUploadBean.images}" var="image">
                                   
                                    <p:confirmDialog showEffect="fade" hideEffect="explode" closable="true" widgetVar="confirmDialog" global="true" >
                                        
                                        <p:panelGrid columns="2">
                                         
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check">
                                                
                                                <p:ajax event="click" listener="#{fileUploadBean.deleteImage(image)}" update="galleria" oncomplete="PF('confirmDialog').hide()"/>
                                                
                                            </p:commandButton>
                                             <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" onclick="PF('confirmDialog').hide()"/>
                                            
                                        </p:panelGrid>
                                        
                                    </p:confirmDialog> 
                                     <p:graphicImage onclick="openDialog('#{image}')" value="#{image}" cache="false" style="width:100%;height:100%" styleClass="content">
                                    
                                   
                                    
                                    </p:graphicImage>
                                    
                                </p:galleria>
                                
                                <p:message for="galleria"/>
                                
                                <p:outputLabel for="upload" value="#{bundle['franchiseAdministratorSucursal.listSucursalUpload']}"/>
                                
                                <p:fileUpload id="upload" auto="true" mode="advanced" multiple="true" dragDropSupport="true" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" fileUploadListener="#{listSucursalesView.handleUpload}" oncomplete="rc()" />
                                
                                <p:messages for="upload" showDetail="true"/>
                                
                            </p:panelGrid>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorSucursal.listSucursalAddAdministratorTab']}"/>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="3">
                                
                                
                                <p:outputLabel for="username" value="#{bundle['franchiseAdministratorSucursal.listSucursalUsername']}"/>
                                
                                <p:inputText id="username" value="#{listSucursalesView.username}" required="true" requiredMessage="Username Failed"/>
                                
                                <p:message for="username" showDetail="true"/>
                                
                                
                                <p:outputLabel for="image" value="#{bundle['franchiseAdministratorSucursal.listSucursalProfileImage']}"/>
                           
                                <p:graphicImage id="image" cache="false" style="width:30%;height:30%" styleClass="content" value="#{listSucursalesView.userImage}"/>
                            
                                <p:message for="image" showDetail="true"/>
                            </p:panelGrid>
                            
                            
                            
                            
                              
                            
                            
                        </p:tab>
                        
                    </p:tabView>
                    
                      
                    
  
                    
                    <h:panelGroup style="display: block; text-align: center">
                        <p:panelGrid columns="2"> 
                        <p:commandButton value="Edit Sucursal" ajax="false" type="submit" actionListener="#{listSucursalesView.updateSucursal}" update="msg" />  
           
                        <p:commandButton value="Delete Sucursal" onclick="PF('confirmDialog').show()"/>
                        </p:panelGrid>
                    </h:panelGroup>
                        
                   
                    <p:remoteCommand name="remoteCommand" actionListener="#{listSucursalesView.delete}"/>
                    
                     <p:confirmDialog header="Delete Sucursal" widgetVar="confirmDialog" global="true" message="Are you Sure you want to delete this Sucursal?" severity="alert" closable="true" showEffect="fade" hideEffect="explode">
                       
                        <p:commandButton value="Yes Sure"   type="button"   onclick="remoteCommand()"/>
                        
                        <p:commandButton value="No" global="true" type="button" styleClass="ui-confirmDialog-no" icon="ui-icon-close" onclick="PF('confirmDialog').hide()"/>
                        
                    </p:confirmDialog>  
                 
                    
                </h:form>
                
            </f:view>
            
        </p:panel>
        
    </ui:define>
    
</ui:composition>