<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
 template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"     
     >
    
    <ui:define name="head">
     
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
    </ui:define>
    
 
    
    <ui:define name="content">
        
        <f:view>
            <h:form id="form">
                
                <p:messages id="msg" showDetail="true"/>
                
                    <p:megaMenu orientation="horizontal">
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                        <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
                        </p:submenu>
                            </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            <p:column>
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                        </p:submenu>
                        
                    </p:megaMenu>
                
                
                <f:event type="preRenderView" listener="#{cRUDmenu.setType}"/>
                
                <h:panelGrid columns="1">
                
                    <p:dataTable id="table" var="item" scrollable="true" value="#{cRUDmenu.menuList}" rowKey="#{item}" paginator="true" rows="10"
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10,15"  style="width:100%;height:100%" lazy="true" selection="#{cRUDmenu.deleteList}">
        
                        
                      
                        <p:column selectionMode="multiple"/>
                     
                
                     
                    
                    <p:column>
                        
                        
                        <f:facet name="header">
                            
                            <h:outputText value="IdMenu"/>
                            
                        </f:facet>
                        
                        <h:outputText value="#{item.idmenu}"/>
                        
                    </p:column>
                    
                    <p:column>
                        
                        <f:facet name="header">
                            
                            <h:outputText value="Menu Name"/>
                            
                        </f:facet>
                        
                        <p:commandLink value="#{item.nombre}" action="#{edenRedirection.setAuxiliarComponent(item)}" />
                        
                    </p:column>
                    
                    
                </p:dataTable>
                    
                    <p:commandButton id="deleteButton" update="@all" value="delete" ajax="false" actionListener="#{cRUDmenu.deleteMenu}"/>
                    
                    </h:panelGrid>
                
            </h:form>
        </f:view>

        
    </ui:define>
    
    
    
</ui:composition>

