
<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head">
        
        
         <h:outputScript library="javascript" name="categoria.js"/>
         
        <h:outputScript library="javascript" name="updateCategory.js"/>
            
       <h:outputScript library="javascript" name="DeletePath.js"/> 
        
    </ui:define>

           

                <ui:define name="content">
                    
                 <h:form id="form" enctype="multipart/form-data">
                     
                    <input type="hidden" id="hiddenPath" name="hiddenPath"/>
                    
                     <f:event type="preRenderView" listener="#{addCategoria.setType}"/>
                  
                     <p:megaMenu orientation="horizontal">
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Franchise']}" style="width:12%">
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                        <p:menuitem value="#{bundle['franchiseAdministrator.EditFranchiseMenuItemFranchise']}" url="editFranchise.xhtml"/>
                         
                        </p:submenu>
                            </p:column>
                       </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.BranchOffice']}" style="width:16%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddBranch']}" url="AddSucursal.xhtml"/>
                  
                                     <p:menuitem value="#{bundle['franchiseAdministratorIndex.EditBranch']}" url="editSucursal.xhtml"/>
                 
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Category']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddCategory']}" url="agregarcategoria.xhtml"/>
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListCategories']}" url="listadocategorias.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                            
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Inventory']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                   
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddInventory']}" url="agregarinventario.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListInventory']}" url="invlisting.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Product']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddProducto']}" url="AgregarProducto.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListProducts']}" url="listarproducto.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Menu']}" style="width:12%">
                        
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddMenu']}" url="AddMenu.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListMenu']}" url="MenuListing.xhtml"/>
                                    </p:submenu>     
                            </p:column>
                        
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Addition']}" style="width:12%">
                            
                            <p:column>
                                
                                <p:submenu label="Select Operation">
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddAddition']}" url="Addaddition.xhtml"/>
                                    
                                    <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListAdditions']}" url="listaddition.xhtml"/>
                                    
                                </p:submenu>
                                
                            </p:column>
                                                   
                        </p:submenu>
                        
                        <p:submenu label="#{bundle['franchiseAdministratorIndex.Sale']}" style="width:12%">
                            <p:column>
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.AddSale']}" url="add-sale.xhtml"/>
                                
                                <p:menuitem value="#{bundle['franchiseAdministratorIndex.ListSale']}" url="list-sale.xhtml"/>
                                
                            </p:submenu>
                            </p:column>
                        </p:submenu>
                        
                    </p:megaMenu>
                     
                     <p:growl id="messages" escape="false"/>
                     
                     <p:panel widgetVar="mainPanel" style="border:none; vertical-align: top"> 
                     
                         <f:facet name="header">
                             
                             <h:outputText value="#{bundle['franchiseAdministratorUpdateCategory.PanelTitle']}"/>
                             
                         </f:facet>
                         
                          
                         
                         <p:panelGrid columns="1">
                         
                         <p:tabView widgetVar="tabView">
                             
                             <p:tab>
                                 
                                 <f:facet name="title">
                                     
                                     <h:outputText value="#{bundle['franchiseAdministratorCategory.CategoryInfoTab']}"/>
                                     
                                 </f:facet>
                     
                   
                      
                      <h:inputHidden id="hidden" value="hola"/>
                      
                      <p:remoteCommand name="rc" update="photo,imagen"/>
                      
                      <p:panelGrid columns="2">
                          
                          <p:outputLabel for="nombre" value="#{bundle['franchiseAdministratorCategory.Name']}: "/>
                                
                                <p:inputText id="nombre" required="true" validatorMessage="El campo nombre de categoria no puede estar vacio" label="nombre" value="#{addCategoria.cat}">
                                        
                                    <f:validateRequired/>
                                 
                              
                                </p:inputText>
                          
                           <h:outputLabel for="uploader" value="#{bundle['franchiseAdministratorCategory.UploadImage']}: " />
                                 
                              
                                        <p:fileUpload style="border:none"  fileUploadListener="#{addCategoria.handleFileUpload}" oncomplete="rc()" auto="false" dragDropSupport="true" label="Uploader" multiple="true" id="uploader"  mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|png)$/">
                                    
                                        </p:fileUpload>
                          
                      </p:panelGrid>
                      
                                    
                                
                                <p:panel widgetVar="contentFlowContainer" style="border:none;width:100%;height:100%">
                                <p:galleria id="photo" widgetVar="photo" style="width:100%;height:100%"  value="#{fileUploadBean.images}" var="image">
                                                       
                                          
                                     <p:graphicImage  cache="false" onclick="triggerDialog('#{image}'),deletePath('#{image}')" styleClass="content"  value="#{image}" id="imagen" alt="#{image}">
                                       
                                      
                                           
                                     </p:graphicImage>
                                        
                                    <p:confirmDialog global="true" widgetVar="dialog" closable="true" showEffect="fade" hideEffect="fade">
                                        
                                        <p:panelGrid columns="2">
                                            
                                            <p:commandButton value="#{bundle['confirmDialog.yesButton']}"  icon="ui-icon-check" styleClass="ui-confirmDialog-yes" onclick="PF('dialog').hide()">
                                                
                                                <p:ajax event="click" update="photo" listener="#{addCategoria.deleteImage}"/>
                                                
                                            </p:commandButton> 
                                            
                                            
                                            <p:commandButton value="#{bundle['confirmDialog.noButton']}" icon="ui-icon-close" onclick="PF('dialog').hide;" styleClass="ui-confirmDialog-no"/>
                                            
                                        </p:panelGrid>
                                        
                                    </p:confirmDialog>
                                   
                                    
                                </p:galleria>
                                
                              
                              </p:panel>
                                
                                
                        
                                        
                      
                      </p:tab>
                             
                             
                             <p:tab>
                                 
                                 <f:facet name="title">
                                     
                                    
                                         
                                         <h:outputText value="#{bundle['franchiseAdministratorCategory.DescriptionTab']}"/>
                                         
                                   
                                     
                                 </f:facet>
                                 
                                <p:panelGrid columns="1">
                                
                                    <p:editor id="editorWidget" value="#{addCategoria.description}" widgetVar="editorWidget"/>
                                        
                                        
                                  
               
                                              
                             
                            </p:panelGrid>   
                                 
                            </p:tab>
                           
                      </p:tabView>
                      
                                   <p:commandButton id="edit" ajax="false" actionListener="#{addCategoria.editar}" value="#{bundle['application.edit']}" update="@form"/>
                            
                             </p:panelGrid>
                      </p:panel>
                           
                        </h:form>
                    
               </ui:define>

          
</ui:composition>
