<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
        
    
    <ui:define name="head">
        
        <h:outputScript library="javascript" name="AddMenu.js"/>
        
        <h:outputScript library="javascript" name="franchiseAdministratorProduct.js"/>
        
    </ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <input type="hidden" name="deleteImage" id="deleteImage"/>
                
                <p:messages id="messages" showDetail="true"/>
                
                <f:event type="preRenderView" listener="#{agregarProducto.preRenderView}"/>
                
                   <p:megaMenu style="width:100%;border:none">
                    
                      
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Franchise']}">
                    
                     <p:column>
                         <p:submenu label="Select Operation">
                         <p:menuitem url="/adminFranquicia/editFranchise.xhtml" value="#{bundle['franchiseAdministratorIndex.menuEditSucursal']}"/>
                        </p:submenu>
                     </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.BranchOffice']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/AddSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.AddBranch']}"/>
                                
                                <p:menuitem url="/adminFranquicia/editSucursal.xhtml" value="#{bundle['franchiseAdministratorIndex.EditBranch']}"/>
                                
                            </p:submenu>                                        
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    
                    
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Category']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/category/AddCategory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddCategory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/category/list-categories.xhtml" value="#{bundle['franchiseAdministratorIndex.ListCategories']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['franchiseAdministratorIndex.Inventory']}">
                        
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/add-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.AddInventory']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/inventory/list-inventory.xhtml" value="#{bundle['franchiseAdministratorIndex.ListInventory']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                        
                    </p:submenu>
                    
                    <p:submenu style="width:17%" label="#{bundle['sucursalAdministratorIndex.Products']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="addproduct.xhtml" value="#{bundle['franchiseAdministratorIndex.AddProducto']}"/>
                                
                                <p:menuitem url="list-products.xhtml" value="#{bundle['franchiseAdministratorIndex.ListProducts']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                    
                    <p:submenu style="width:15%" label="#{bundle['franchiseAdministratorIndex.Sale']}">
                    
                        <p:column>
                            
                            <p:submenu label="Select Operation">
                                
                                <p:menuitem url="/adminFranquicia/business/sale/addsale.xhtml" value="#{bundle['sucursalAdministratorIndex.AddSale']}"/>
                                
                                <p:menuitem url="/adminFranquicia/business/sale/list-sale.xhtml" value="#{bundle['sucursalAdministratorIndex.ListSales']}"/>
                                
                            </p:submenu>
                            
                        </p:column>
                    
                    </p:submenu>
                             
                    
                </p:megaMenu> 
                
                
                <p:panel style="width:100%;height:100%">
                    
                    <f:facet name="header">
                        
                        <div align="center">
                            
                            <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.UpdateProduct']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                    <p:tabView id="tabView" style="width:100%;height:100%">
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.UpdateProductTab']}"/>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="3">
                                
                                <p:outputLabel for="name" value="#{bundle['franchiseAdministratorUpdateProduct.ProductName']}"/>
                                
                                <p:inputText id="name" required="true" placeholder="Product Name" value="#{agregarProducto.businessProduct.nombre}" >
                                    
                                    <p:ajax event="blur" update=":form:messages"/>
                                    
                                </p:inputText>
                                
                                <p:message for="name" display="icon" showDetail="true"/>
                                
                                <p:outputLabel for="price" value="#{bundle['franchiseAdministratorUpdateProduct.ProductPrice']}"/>
                                
                                <p:inputText  id="price" value="#{agregarProducto.businessProduct.precio}" required="true" requiredMessage="You must type a price">
                                    
                                    <f:convertNumber type="currency" currencyCode="COP"/>
                                    
                                    <p:ajax event="blur" update=":form:messages"/>
             
                                </p:inputText>
                                
                                <p:message for="price" display="icon"/>
                                
                                <p:outputLabel for="category" value="#{bundle['franchiseAdministratorUpdateProduct.SelectCategory']}"/>
                                
                                <p:selectOneMenu required="true" id="category" value="#{agregarProducto.businessProduct.categoria.categoriaPK}">
                                
                                    <p:ajax/>
                                    
                                    <f:converter converterId="CategoriaConverter"/>
                                
                                    <f:selectItems value="#{agregarProducto.categoryList}" var="categoryItem" itemValue="#{categoryItem.categoriaPK.franquiciaIdfranquicia},#{categoryItem.categoriaPK.idcategoria}" itemLabel="#{categoryItem.nombre}"/>
                                    
                                </p:selectOneMenu>
                                
                                <p:message for="category" display="icon"/>
                                
                                <p:outputLabel for="uploader" value="#{bundle['franchiseAdministratorUpdateProduct.UploadImages']}"/>
                                
                                <p:fileUpload id="uploader" update="galleria" mode="advanced" auto="true" multiple="true" dragDropSupport="true" fileUploadListener="#{agregarProducto.handleFileUpload}" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                
                                <p:message for="uploader"/>
                                
                            </p:panelGrid>
                            
                            <p:galleria id="galleria" value="#{fileUploadBean.images}" var="image">
                                
                                <p:graphicImage onclick="eraseImage('#{image}')" cache="false" styleClass="content" style="width:100%;height:100%" value="#{image}">
                                
                                    <p:confirmDialog  widgetVar="dialog" global="true" closable="true" closeOnEscape="true" hideEffect="fade" showEffect="true" severity="alert">
                                        
                                        <p:panelGrid columns="2">
                                            
                                            <p:commandButton styleClass="ui-confirmdialog-yes roundButton" icon="ui-icon-check" value="#{bundle['edenConfirmDialog.YesButton']}">
                                                
                                                
                                                <p:ajax event="click" listener="#{agregarProducto.removeImage}" update="galleria" onsuccess="PF('dialog').hide()"/>
                                                
                                            </p:commandButton>
                                            
                                            <p:commandButton type="button" onclick="PF('dialog').hide()" styleClass="ui-confirmdialog-no roundButton" icon="ui-icon-close" value="#{bundle['edenConfirmDialog.NoButton']}"/>
                                            
                                        </p:panelGrid>
                                        
                                        
                                    </p:confirmDialog>
                                
                                </p:graphicImage>  
                                
                            </p:galleria>
                            
                        </p:tab>
                        
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.Description']}"/>
                                
                            </f:facet>
                            
                            <p:editor style="width:100%;height:100%" value="#{agregarProducto.businessProduct.description}"/>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.AddInventory']}"/>
                           
                                
                            </f:facet>
                            
                            <p:panelGrid columns="2">
                            
                                <p:panelGrid columns="3">
                                
                                    <p:outputLabel for="inventory" value="#{bundle['franchiseAdministratorUpdateProduct.SelectInventory']}"/>
                                    
                             <p:selectOneMenu id="inventory">
                                    
                                    <f:converter converterId="CategoriaConverter"/>
                                    
                                    <p:ajax/>
                                    
                                    <f:selectItems value="#{agregarProducto.inventoryList}" var="inventoryItem" itemValue="#{inventoryItem.inventarioPK.franquiciaIdFranquicia},#{inventoryItem.inventarioPK.idinventario}" itemLabel="#{inventoryItem.nombre}"/>
                                    
                             </p:selectOneMenu>
                                    
                                    <p:message for="inventory" display="icon"/>
                                    
                                    <h:panelGroup/>
                                    
                                    <p:commandButton value="#{bundle['franchiseAdministratorUpdateProduct.AddInventory']}">
                                    
                                        <p:ajax event="click" listener="#{agregarProducto.addComponeItem}" update=":form:messages,componeItem"/>
                                    
                                    </p:commandButton>
                                    
                                    <h:panelGroup/>
                                    
                                </p:panelGrid>
                                
                                <p:dataTable rows="10" id="componeItem" rowsPerPageTemplate="10 20 30" style="width:100%;height:100%" value="#{agregarProducto.businessProduct.componeCollection}" var="componeItem" reflow="true" scrollable="true"  paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                                
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.InventoryNameColumn']}"/>
                                                   
                                            </div>
                                            
                                        </f:facet>
                                        
                                         <h:outputText value="#{componeItem.inventario.nombre}"/>
                                            
                                    </p:column>
                                    
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.InventoryQuantity']}"/>
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        <p:inputText value="#{componeItem.cantidadInventario}"  required="true">
                                            
                                            <p:ajax event="blur" update=":form:messages"/>
                                            
                                        </p:inputText>
                                        
                                    </p:column>
                                    
                                    
                                    <p:column>
                                        
                                        <f:facet name="header">
                                            
                                            <div align="center">
                                                
                                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.DeleteInventoryColumn']}"/>
                                                
                                            </div>
                                            
                                        </f:facet>
                                        
                                        <div align="center">
                                            
                                            <p:commandLink>
                                            
                                                <p:ajax event="click" update="componeItem" listener="#{agregarProducto.deleteComponeItem(componeItem)}"/>
                                                
                                            <p:graphicImage cache="false" styleClass="content" style="width:10%" value="/images/delete.jpg"/>
                                            
                                            </p:commandLink>
                                            
                                        </div>
                                        
                                        
                                    </p:column>
                                
                                </p:dataTable>
                                
                            </p:panelGrid>
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.AddSimilarProduct']}"/>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="2">
                                
                                <p:panelGrid columns="3">
                                    
                                    <p:outputLabel for="productSelector" value="#{bundle['franchiseAdministratorUpdateProduct.SelectProduct']}"/>
                                    
                                    <p:selectOneMenu id="productSelector">
                                        
                                        <p:ajax/>
                                        
                                        <f:converter converterId="ProductPKConverter"/>
                                        
                                        <f:selectItems value="#{agregarProducto.productsList}" var="productItem" itemValue="#{productItem.productoPK.idproducto},#{productItem.productoPK.categoriaIdcategoria},#{productItem.productoPK.categoriaFranquiciaIdfranquicia}" itemLabel="#{productItem.nombre}"/>
                                        
                                    </p:selectOneMenu>
                                    
                                    <p:message for="productSelector" display="icon"/>
                                    
                                    <h:panelGroup/>
                                    
                                    <p:commandButton value="#{bundle['franchiseAdministratorUpdateProduct.AddProducto']}">
                                        
                                        <p:ajax event="click" update="similarProductsTable,:form:messages" listener="#{agregarProducto.AddSimilarProductBusiness}"/>
                                        
                                    </p:commandButton>
                                    
                                      <h:panelGroup/>
                                    
                                </p:panelGrid>
                                
                                
                                <p:dataTable id="similarProductsTable" var="similarProductsItem" value="#{agregarProducto.businessProduct.similarProductsCollection}" rowsPerPageTemplate="10 20 30" rows="10" scrollable="true" reflow="true" style="width:100%;height:100%" paginator="true" paginatorTemplate="{FirstPageLink} {LastPageLink} {PreviousPageLink} {NextPageLink} {PageLinks} {CurrentPageReport} {RowsPerPageDropdown}">
                            
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.SimilarTableProductName']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <h:outputText value="#{similarProductsItem.producto1.nombre}"/>
                                    
                                </p:column>
                            
                                <p:column>
                                    
                                    <f:facet name="header">
                                        
                                        <div align="center">
                                            
                                            <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.SimilarTableDelete']}"/>
                                            
                                        </div>
                                        
                                    </f:facet>
                                    
                                    <div align="center">
                                        
                                        <p:commandLink>
                                        
                                            <p:ajax event="click" update="similarProductsTable" listener="#{agregarProducto.removeSimilarList(event, similarProductsItem)}"/>
                                            
                                        <p:graphicImage cache="false" styleClass="content" style="width:10%" value="/images/delete.jpg"/>
                                        
                                        </p:commandLink>
                                        
                                    </div>
                                    
                                </p:column>
                                
                            </p:dataTable>
                                
                            </p:panelGrid>
                       
                            
                        </p:tab>
                        
                        <p:tab>
                            
                            <f:facet name="title">
                                
                                <h:outputText value="#{bundle['franchiseAdministratorUpdateProduct.Barcode']}"/>
                                
                            </f:facet>
                            
                            <p:panelGrid columns="3"> 
                            
                                <p:photoCam widgetVar="photoCam" update="photoPanel" listener="#{agregarProducto.captureBarCode}"/>
                            
                                <p:commandButton value="#{bundle['franchiseAdministratorUpdateProduct.Capture']}" type="button" onclick="PF('photoCam').capture()"/>
                            
                                <p:outputPanel  id="photoPanel">
                                    
                                    <p:graphicImage cache="false" styleClass="content" value="#{agregarProducto.barcodeImage}" style="width:50%"/>
                                    
                                </p:outputPanel>
                               
                               
                                
                            </p:panelGrid>
                            
                            <p:panelGrid columns="3">
                                
                                 <p:outputLabel for="uploadBarcode" value="#{bundle['franchiseAdministratorUpdateProduct.UploadBarcode']}"/>
                               
                                <p:fileUpload id="uploadBarcode" update="photoPanel"  auto="true" mode="advanced" dragDropSupport="true" multiple="true" fileUploadListener="#{agregarProducto.uploadBarcode}" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                
                                <p:message for="uploadBarcode" display="icon"/>
                                
                                <p:outputLabel for="barcodeResult" value="#{bundle['franchiseAdministratorUpdateProduct.Barcode']}"/>
                                
                                <p:inputText id="barcodeResult" value="#{agregarProducto.businessProduct.barcode.barcode}"/>
                                
                                <p:message for="barcodeResult" display="icon"/>
                                
                            </p:panelGrid>
                            
                        </p:tab>
                        
                    </p:tabView>
                    
                    <f:facet name="footer">
                        
                        <div align="center">
                            
                            <p:commandButton ajax="false" update="@form" type="submit" actionListener="#{agregarProducto.updateBusinessProduct}" styleClass="roundButton" value="#{bundle['franchiseAdministratorUpdateProduct.UpdateProductButton']}"/>
                            
                        </div>
                        
                    </f:facet>
                    
                    
                </p:panel>
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
    <ui:debug hotkey="e"/>
    
</ui:composition>