<ui:composition template="/WEB-INF/templates/main.xhtml"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:define name="head"></ui:define>
    
    <ui:define name="content">
        
        <f:view>
            
            <h:form id="form">
                
                <f:event type="preRenderView" listener="#{categoryResultsView.preRenderView}"/>
                
                <p:panel style="width:100%;height:100%">
                    
                    <p:dataScroller chunkSize="10" value="#{categoryResultsView.franchiseList}" var="item">
                        
                        <h:outputText value="No results found" rendered="!#{not empty categoryResultsView}"/>
                        
                        <p:panelGrid layout="grid" columns="3">
                            
                            <h:outputText value="#{item.franchise.nombre}" style="font-weight: bold"/>
                            
                            <p:graphicImage styleClass="content" value="#{item.logo}" cache="false" style="width:30%"/>
                            
                            <p:commandLink value="#{bundle['EdenFinalUser.categories.gotostore']}"/>
                            
                        </p:panelGrid>
                        
                    </p:dataScroller>
                    
                </p:panel>
                
                
            </h:form>
            
        </f:view>
        
    </ui:define>
    
</ui:composition>
