<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html <html
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="css" name="EdenLayout.css"/>
    </h:head>
    <h:body>
      
        <div class="ui-layout-center ui-widget-content ui-corner-all ui-layout-pane-content" data-combinedposition="center">
            
            Center content
            
        </div>
        
        <div class="ui-layout-west ui-widget-content ui-corner-all" data-combinedposition="west">
           
            <div class="ui-widget-header ui-corner-top ui-layout-pane-header">
                
                West Header
                
            </div>
            
            <div class="ui-layout-content ui-layout-pane-content" style="border:none">
                
                West content
                
            </div>
            
            
        </div>
        
        <div class="ui-layout-east ui-corner-all ui-layout-pane-withsubpanes" data-combinedposition="east">
            
            <div class="ui-layout-center ui-widget-content ui-corner-all" data-combinedposition="east_center" >
                
                <div class="ui-widget-header ui-corner-top ui-layout-pane-header">
                    
                    East-Center header
                    
                </div>
                
                <div class="ui-layout-content ui-layout-pane-content" style="border:none">
                    
                    East-Center content
                    
                </div>
                
            </div>
            
            <div class="ui-layout-south ui-widget-content ui-corner-all ui-layout-pane-content" data-combinedposition="east_south">
                
                East-South content
                
            </div>
            
        </div>
        
        <div class="ui-layout-south ui-widget-content ui-corner-all ui-layout-pane-content" data-combinedposition="south">
            
            South Content
  
        </div>
        
    </h:body>
</html>

